<?php
	$request = parse_url($_SERVER['REQUEST_URI']);
	$path = $request["path"];
	$result = rtrim(str_replace(basename($_SERVER['SCRIPT_NAME']), '', $path), '/');
	if(!empty($result) && $result != "/" && !file_exists(__DIR__ . $result)){
		header("HTTP/1.0 404 Not Found");
		include 'error_page.html';
		exit();
	}
?>
<div style="text-align: center">
	<h2>Under Construction</h2><br>
	Home for {domainname}
	<p>This site is hosted on an EHCP server, <a href=http://www.ehcp.net>www.ehcp.net</a>, ehcp is a hosting control panel for ubuntu, <br>
	To change this, Upload your files inside httpdocs folder using ftp (such as a program-filezilla or <a target=_blank href='http://{webserverip}/ehcp/net2ftp/'>webftp</a>)<br>
	(ip:{webserverip})</p>
	Your local ip: {localip}<br>
</div>

<br>
<script type="text/javascript"><!--
google_ad_client = "pub-0768633782379013";
/* ehcp.net 468x60, created 2/12/08 */
google_ad_slot = "2130773422";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
