<big style="font-weight: bold;"><big>Reseller Main Menu</big></big><br>
<table style="text-align: left; width: 100%;">
  <tbody>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;"></span><span style="font-weight: bold;"> DOMAIN
OPERATIONS <br>
      </span><span style="font-weight: bold;"><img style="width: 50px; height: 52px;" alt="" src="images/domains.jpg"></span></div>
      <ol>
       <li><a href="?op=listdomains">List Domains</a></li>
       <li><a href="?op=adddomaineasy">Easy Add Domain(hosting, all usernames/pass same) </a></li> 
       <li><a href="?op=adddomain">Add Domain(hosting) </a></li>
       
        <li><a href="?op=listpassivedomains">List passive domains and new domain applications</a></li>        
        <li><a href="?op=customhttp">List / Add Custom http </a></li>
        <li><a href="?op=customdns">List / Add Custom dns </a></li>
	<li><a href="?op=subdomains">List / Add SubDomains </a></li>
	<li><a href="?op=directories">List / Add Password Protected Directories </a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">FTP USER OPERATIONS<br>
      <img style="width: 50px; height: 50px;" alt="" src="images/ftp.jpg"></span><br>
      </div>
      <ol>
        <li><a href="?op=listallftpusers">List All
Ftp Users</a></li>
        <li><a href="?op=listftpusersrelatedtodomains">List
Ftp Users related to domains</a></li>
        <li><a href="?op=listftpuserswithoutdomain">List
Ftp Users without a domain</a></li>
        <li><a href="?op=addftpuser">Add Ftp User</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">EMAIL OPERATIONS<br>
      <img style="width: 52px; height: 50px;" alt="" src="images/email.jpg"></span></div>
      <ol>
        <li><a href="?op=listemailusers">List Email Users of a domain</a></li>
        <li><a href="?op=listallemailusers">List All Email Users</a></li>
        <li><a href="?op=addemailuser">Add Email User</a></li>
	<li><a href="?op=emailforwardings">List/Add email forwardings</a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">MYSQL DATABASE OPERATIONS<br>
      <img style="width: 48px; height: 48px;" alt="" src="images/database.jpg"></span></div>
      <ol>
        <li><a href="?op=addmysqldb">Add Mysql Db</a></li>
        <li><a href="?op=domainop&amp;action=listdb">List Mysql Db's</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OTHER/RESELLER</span></div>
      <ol>
        <li><a href="?op=listpanelusers">List Panel Users/Resellers</a></li>
 		<li><a href="?op=addpaneluser">Add Panel User/Reseller</a></li>
 		<li><a href="?op=addscript">Easy Install Scripts</a></li>
        <li><a href="?op=doupdatediskquota">Update Disk Quota information for domains</a></li>
        <li><a href="?op=changemypass">Change my password</a></li>
        <li><a href="?op=dosyncdns">Sync dns</a></li>
        <li><a href="?op=dosyncdomains">Sync domains</a></li>
        <li><a href="?op=help">Help-Yardim</a></li>
        <li><a href="?op=todolist">Roadmap/Todo
List/Plans</a></li>
        <li><a href="?op=aboutcontactus">About/Contact
Us</a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">EHCP STATUS-INFO:<br></span>
      </div></td><td></td></tr></tbody></table>
