<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<meta http-equiv="content-Type" content="text/html; charset=ISO-8859-9">
<title> EHCP login</title>
<style type="text/css" media="screen">
input {
	border: 1px solid #cccccc;
	background-color: #fcfcfc;
}
a {
	color: 535353;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h2 {
	color: 333333;
	margin-top: 5px;
}
</style>
</head>
<body>

<div style="text-align:center; margin-left: auto; margin-right: auto; margin-top:50px; width: 500px; background-color: #f2f2f2; border: 1px solid #cccccc; padding: 5px;">
<img src='images/ehcp_logo2.png'><br><br>
	      <form id="loginForm" name="loginForm" method="post">
		  <table align=center>
		  <tbody><tr><td>username </td><td> <input name="username" id="username" value="" type="text"></td></tr>
		  <tr><td>password </td><td> <input name="password" value="" type="password"></td></tr>
		  <tr><td><input name="op" value="dologin" type="hidden"></td></tr>
		   </tbody></table>
		   <input value="Submit" type="submit">
	    </form>
	    <script type="text/javascript">
		document.loginForm.username.focus();
	    </script>
	    <br><a href="?op=applyforaccount">Apply For ftp/domain/panel accounts</a><br>
		<a href="?op=sifrehatirlat">Lost pass</a><b><br><br>

</div>

<div style="text-align: center; margin-left: auto; margin-right: auto; margin-top:10px; width: 500px; border: 1px solid #cccccc; padding: 5px;">

{dynamicinfo}
      <br>
      <iframe marginwidth="0" marginheight="0" scrollbars="none"
 src="http://www.ehcp.net/latest/" frameborder="0" height="120"
 scrolling="no" width="600"></iframe>
      <br>

      <script type="text/javascript"><!--
google_ad_client = "pub-0768633782379013";
google_ad_width = 468;
google_ad_height = 60;
google_ad_format = "468x60_as";
google_ad_type = "text_image";
google_ad_channel = "";
//-->
      </script>
      <script type="text/javascript"
 src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
<br>
<small>
<a target="_blank" href="http://www.ehcp.net/">www.ehcp.net</a>
<a target="_blank" href="http://www.sourceforge.net/projects/ehcp">sourceforge</a>
<a target="_blank" href="http://freshmeat.net/projects/ehcp/">freshmeat</a>
<a target="_blank" href="http://www.powergoogle.com">powergoogle.com</a>
<a target="_blank" href="http://www.iyibirisi.com/">www.iyibirisi.com</a>
<a target="_blank" href="http://www.100tl.com/">www.100tl.com</a>
<a href="http://www.vidinli.com/acikartirma" target="_blank">acikartirma</a>
<a href="http://www.vidinli.com/online" target="_blank">online hizmetler</a></small>
      
</div>

</body>
</html>
