<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Reseller Operations</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddpaneluser" onclick="location.href='index.php?op=addpaneluser'" title="Add New User or Client"><img src="templates/picante/general/images/addpaneluser.png" alt="Add New User or Client" class="item" />
                                       <br>
                                       <span class="itemText">Add New User or Client</span></div><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Easy Install Scripts"><img src="templates/picante/general/images/addscript.png" alt="Easy Install Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Easy Install Scripts</span></div></td></tr><tr class="itemRow"><td class="category">Edit</td><td><div class="items darkText itemUpdatediskquota" onclick="location.href='index.php?op=doupdatediskquota'" title="Update Disk Quota"><img src="templates/picante/general/images/doupdatediskquota.png" alt="Update Disk Quota" class="item" />
                                       <br>
                                       <span class="itemText">Update Disk Quota</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Change My Password"><img src="templates/picante/general/images/changemypass.png" alt="Change My Password" class="item" />
                                       <br>
                                       <span class="itemText">Change My Password</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListusers" onclick="location.href='index.php?op=listpanelusers'" title="List Panel Users"><img src="templates/picante/general/images/listpanelusers.png" alt="List All Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Users</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemReloaddns" onclick="location.href='index.php?op=dosyncdns'" title="Reload DNS Zones"><img src="templates/picante/general/images/dosyncdns.png" alt="Reload DNS Zones" class="item" />
                                       <br>
                                       <span class="itemText">Reload DNS Zones</span></div><div class="items darkText itemSyncdomains" onclick="location.href='index.php?op=dosyncdomains'" title="Synchronize Domains"><img src="templates/picante/general/images/dosyncdomains.png" alt="Synchronize Domains" class="item" />
                                       <br>
                                       <span class="itemText">Synchronize Domains</span></div><div class="items darkText itemContactus" onclick="location.href='index.php?op=aboutcontactus'" title="Contact Us"><img src="templates/picante/general/images/aboutcontactus.png" alt="Email Us" class="item" />
                                       <br>
                                       <span class="itemText">Email Us</span></div><div class="items darkText itemHelp" onclick="location.href='index.php?op=help'" title="General Help"><img src="templates/picante/general/images/help.png" alt="General Help" class="item" />
                                       <br>
                                       <span class="itemText">General Help</span></div><div class="items darkText itemTodolist" onclick="location.href='index.php?op=todolist'" title="To Do List"><img src="templates/picante/general/images/todolist.png" alt="To Do List" class="item" />
                                       <br>
                                       <span class="itemText">To Do List</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Domain Operations</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAdddomaintothisuser" onclick="location.href='index.php?op=addDomainToThisPaneluser'" title="Add Domain to My Account"><img src="templates/picante/general/images/adddomaintothispaneluser.png" alt="Add Domain to My Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Domain to My Account</span></div><div class="items darkText itemAdduserdomain" onclick="location.href='index.php?op=adddomain'" title="Create User and Add Domain"><img src="templates/picante/general/images/adddomain.png" alt="Create User and Add Domain" class="item" />
                                       <br>
                                       <span class="itemText">Create User and Add Domain</span></div><div class="items darkText itemAdduserdomaineasy" onclick="location.href='index.php?op=adddomaineasy'" title="Easy Create User and Add Domain"><img src="templates/picante/general/images/adddomaineasy.png" alt="Easy Create User and Add Domain" class="item" />
                                       <br>
                                       <span class="itemText">Easy Create User and Add Domain</span></div><div class="items darkText itemAddsubdomain" onclick="location.href='index.php?op=addsubdomain'" title="Add Subdomain"><img src="templates/picante/general/images/addsubdomain.png" alt="Add Subdomain" class="item" />
                                       <br>
                                       <span class="itemText">Add Subdomain</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Add Password Protected Directories"><img src="templates/picante/general/images/directories.png" alt="Add Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Add Password Protected Directories</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="Custom DNS"><img src="templates/picante/general/images/customdns.png" alt="Custom DNS" class="item" />
                                       <br>
                                       <span class="itemText">Custom DNS</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="Custom HTTP"><img src="templates/picante/general/images/customhttp.png" alt="Custom HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Custom HTTP</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="Add SSL Certificate"><img src="templates/picante/general/images/manage_sslcerts.png" alt="Add SSL Certificate" class="item" />
                                       <br>
                                       <span class="itemText">Add SSL Certificate</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListdomains" onclick="location.href='index.php?op=selectdomain'" title="List Domains"><img src="templates/picante/general/images/selectdomain.png" alt="List Domains" class="item" />
                                       <br>
                                       <span class="itemText">List Domains</span></div><div class="items darkText itemListdomainspassive" onclick="location.href='index.php?op=listpassivedomains'" title="List Passive Domains"><img src="templates/picante/general/images/listpassivedomains.png" alt="List Passive Domains" class="item" />
                                       <br>
                                       <span class="itemText">List Passive Domains</span></div></td></tr><tr class="itemRow"><td class="category">Remove</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Remove / List Password Protected Directories"><img src="templates/picante/general/images/deldirectories.png" alt="Remove / List Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Remove / List Password Protected Directories</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">FTP Operations</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddftpaccount" onclick="location.href='index.php?op=addftpuser'" title="Add FTP Account"><img src="templates/picante/general/images/addftpuser.png" alt="Add FTP Account" class="item" />
                                       <br>
                                       <span class="itemText">Add FTP Account</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="List FTP Accounts"><img src="templates/picante/general/images/listallftpusers.png" alt="List FTP Accounts" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Accounts</span></div><div class="items darkText itemListftpaccountsbydomain" onclick="location.href='index.php?op=listftpusersrelatedtodomains'" title="List FTP Users By Domain"><img src="templates/picante/general/images/listftpusersrelatedtodomains.png" alt="List FTP Users By Domain" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Users By Domain</span></div><div class="items darkText itemListftpnodomain" onclick="location.href='index.php?op=listftpuserswithoutdomain'" title="List FTP Users Without Domain"><img src="templates/picante/general/images/listftpuserswithoutdomain.png" alt="List FTP Users Without Domain" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Users Without Domain</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Email Operations</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="Add Email Account"><img src="templates/picante/general/images/addemailuser.png" alt="Add Email Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Email Account</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="List All Email Users"><img src="templates/picante/general/images/listallemailusers.png" alt="List All Email Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Email Users</span></div><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="List &amp; Add Email Forwarders"><img src="templates/picante/general/images/emailforwardings.png" alt="List &amp; Add Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">List &amp; Add Email Forwarders</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">MySQL Operations</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="Add MySQL Databases"><img src="templates/picante/general/images/addmysqldb.png" alt="Add MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Databases</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="List MySQL Databases"><img src="templates/picante/general/images/domainop_listdb.png" alt="List MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">List MySQL Databases</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>