<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Email Account Operations</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemEmailforwardingsself" onclick="location.href='index.php?op=emailforwardingsself'" title="List and Add Forwarders"><img src="templates/picante/general/images/emailforwardingsself.png" alt="List and Add Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">List and Add Forwarders</span></div></td></tr><tr class="itemRow"><td class="category">Edit</td><td><div class="items darkText itemEditemailpassword" onclick="location.href='index.php?op=editemailuserpassword'" title="Change Email Password"><img src="templates/picante/general/images/changemypass.png" alt="Change Email Password" class="item" />
                                       <br>
                                       <span class="itemText">Change Email Password</span></div><div class="items darkText itemEditemailautoreply" onclick="location.href='index.php?op=editemailuserautoreply'" title="Change Auto Reply Message"><img src="templates/picante/general/images/addemailforwarding.png" alt="Change Auto Reply Message" class="item" />
                                       <br>
                                       <span class="itemText">Change Auto Reply Message</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>