ul#button li.syncallnew {background: url(../images/syncallnew.png) no-repeat left;!}
ul#button li.dofixmailconfiguration {background: url(../images/dofixmailconfiguration.png) no-repeat left;}
ul#button li.dofixapacheconfigssl {background: url(../images/dofixapacheconfigssl.png) no-repeat left;}
ul#button li.dofixapacheconfignonssl {background: url(../images/dofixapacheconfignonssl.png) no-repeat left;}
ul#button li.updatediskquota {background: url(../images/updatediskquota.png) no-repeat left;}
ul#button li.doupdatediskquota {background: url(../images/doupdatediskquota.png) no-repeat left;}
ul#button li.editdnstemplate {background: url(../images/editdnstemplate.png) no-repeat left;}
ul#button li.editapachetemplate {background: url(../images/editapachetemplate.png) no-repeat left;}
ul#button li.editdomainaliases {background: url(../images/editdomainaliases.png) no-repeat left;}
ul#button li.changedomainserverip {background: url(../images/changedomainserverip.png) no-repeat left;}
ul#button li.warnings {background: url(../images/warnings.png) no-repeat left;}
ul#button li.bulkadddomain {background: url(../images/bulkadddomain.png) no-repeat left;}
ul#button li.bulkdeletedomain {background: url(../images/bulkdeletedomain.png) no-repeat left;}
ul#button li.exportdomain {background: url(../images/exportdomain.png) no-repeat left;}
ul#button li.adddnsonlydomain {background: url(../images/adddnsonlydomain.png) no-repeat left;}
ul#button li.adddnsonlydomainwithpaneluser {background: url(../images/adddnsonlydomainwithpaneluser.png) no-repeat left;}
ul#button li.getselfftpaccount {background: url(../images/getselfftpaccount.png) no-repeat left;}
ul#button li.adddomaintothispaneluser {background: url(../images/adddomaintothispaneluser.png) no-repeat left;}
ul#button li.dodownloadallscripts {background: url(../images/dodownloadallscripts.png) no-repeat left;}
ul#button li.choosedomaingonextop {background: url(../images/choosedomaingonextop.png) no-repeat left;}
ul#button li.getmysqlserver {background: url(../images/getmysqlserver.png) no-repeat left;}
ul#button li.emailforwardingsself {background: url(../images/emailforwardingsself.png) no-repeat left;}
ul#button li.addemailforwardingself {background: url(../images/addemailforwardingself.png) no-repeat left;}
ul#button li.cmseditpages {background: url(../images/cmseditpages.png) no-repeat left;}
ul#button li.listservers {background: url(../images/listservers.png) no-repeat left;}
ul#button li.addserver {background: url(../images/addserver.png) no-repeat left;}
ul#button li.advancedsettings {background: url(../images/advancedsettings.png) no-repeat left;}
ul#button li.delemailforwarding {background: url(../images/delemailforwarding.png) no-repeat left;}
ul#button li.addemailforwarding {background: url(../images/addemailforwarding.png) no-repeat left;}
ul#button li.emailforwardings {background: url(../images/emailforwardings.png) no-repeat left;!}
ul#button li.addscript {background: url(../images/addscript.png) no-repeat left;!}
ul#button li.addnewscript {background: url(../images/addnewscript.png) no-repeat left;!}
ul#button li.suggestnewscript {background: url(../images/suggestnewscript.png) no-repeat left;}
ul#button li.listselectdomain {background: url(../images/listselectdomain.png) no-repeat left;}
ul#button li.selectdomain {background: url(../images/selectdomain.png) no-repeat left;!}
ul#button li.deselectdomain {background: url(../images/deselectdomain.png) no-repeat left;}
ul#button li.otheroperations {background: url(../images/otheroperations.png) no-repeat left;}
ul#button li.loadconfig {background: url(../images/loadconfig.png) no-repeat left;}
ul#button li.showconf {background: url(../images/showconf.png) no-repeat left;}
ul#button li.changemypass {background: url(../images/changemypass.png) no-repeat left;@}
ul#button li.stopapache2 {background: url(../images/stopapache2.png) no-repeat left;}
ul#button li.startapache2 {background: url(../images/startapache2.png) no-repeat left;}
ul#button li.restartapache2 {background: url(../images/restartapache2.png) no-repeat left;}
ul#button li.stopmysql {background: url(../images/stopmysql.png) no-repeat left;}
ul#button li.startmysql {background: url(../images/startmysql.png) no-repeat left;}
ul#button li.restartmysql {background: url(../images/restartmysql.png) no-repeat left;}
ul#button li.stoppureftpd {background: url(../images/stoppureftpd.png) no-repeat left;}
ul#button li.startpureftpd {background: url(../images/startpureftpd.png) no-repeat left;}
ul#button li.restartpureftpd {background: url(../images/restartpureftpd.png) no-repeat left;}
ul#button li.stopvsftpd {background: url(../images/stopvsftpd.png) no-repeat left;}
ul#button li.startvsftpd {background: url(../images/startvsftpd.png) no-repeat left;}
ul#button li.restartvsftpd {background: url(../images/restartvsftpd.png) no-repeat left;}
ul#button li.dosyncdomains {background: url(../images/dosyncdomains.png) no-repeat left;!}
ul#button li.dosyncftp {background: url(../images/dosyncftp.png) no-repeat left;}
ul#button li.dosyncdns {background: url(../images/dosyncdns.png) no-repeat left;}
ul#button li.dosyncapacheauth {background: url(../images/dosyncapacheauth.png) no-repeat left;}
ul#button li.options {background: url(../images/options.png) no-repeat left;!}
ul#button li.dobackup {background: url(../images/dobackup.png) no-repeat left;!}
ul#button li.dorestore {background: url(../images/dorestore.png) no-repeat left;!}
ul#button li.listbackups {background: url(../images/listbackups.png) no-repeat left;!}
ul#button li.syncdomains {background: url(../images/syncdomains.png) no-repeat left;}
ul#button li.syncftp {background: url(../images/syncftp.png) no-repeat left;}
ul#button li.syncdns {background: url(../images/syncdns.png) no-repeat left;}
ul#button li.syncall {background: url(../images/syncall.png) no-repeat left;}
ul#button li.syncapacheauth {background: url(../images/syncapacheauth.png) no-repeat left;}
ul#button li.fixapacheconfigssl {background: url(../images/fixapacheconfigssl.png) no-repeat left;}
ul#button li.fixapacheconfignonssl {background: url(../images/fixapacheconfignonssl.png) no-repeat left;}
ul#button li.listdomains {background: url(../images/listdomains.png) no-repeat left;}
ul#button li.subdomains {background: url(../images/subdomains.png) no-repeat left;}
ul#button li.addsubdomain {background: url(../images/addsubdomain.png) no-repeat left;}
ul#button li.addsubdomainwithftp {background: url(../images/addsubdomainwithftp.png) no-repeat left;}
ul#button li.addsubdirectorywithftp {background: url(../images/addsubdirectorywithftp.png) no-repeat left;}
ul#button li.delsubdomain {background: url(../images/delsubdomain.png) no-repeat left;}
ul#button li.editdomain {background: url(../images/editdomain.png) no-repeat left;}
ul#button li.listpassivedomains {background: url(../images/listpassivedomains.png) no-repeat left;}
ul#button li.phpinfo {background: url(../images/phpinfo.png) no-repeat left;}
ul#button li.help {background: url(../images/help.png) no-repeat left;}
ul#button li.syncpostfix {background: url(../images/syncpostfix.png) no-repeat left;}
ul#button li.listemailusers {background: url(../images/listemailusers.png) no-repeat left;!}
ul#button li.listallemailusers {background: url(../images/listallemailusers.png) no-repeat left;!}
ul#button li.listpanelusers {background: url(../images/listpanelusers.png) no-repeat left;!}
ul#button li.resellers {background: url(../images/resellers.png) no-repeat left;}
ul#button li.deletepaneluser {background: url(../images/deletepaneluser.png) no-repeat left;}
ul#button li.operations {background: url(../images/operations.png) no-repeat left;}
ul#button li.listallftpusers {background: url(../images/listallftpusers.png) no-repeat left;!}
ul#button li.listftpusersrelatedtodomains {background: url(../images/listftpusersrelatedtodomains.png) no-repeat left;}
ul#button li.listftpuserswithoutdomain {background: url(../images/listftpuserswithoutdomain.png) no-repeat left;}
ul#button li.listftpusers {background: url(../images/listftpusers.png) no-repeat left;}
ul#button li.sifrehatirlat {background: url(../images/sifrehatirlat.png) no-repeat left;}
ul#button li.todolist {background: url(../images/todolist.png) no-repeat left;}
ul#button li.adddomain {background: url(../images/adddomain.png) no-repeat left;}
ul#button li.adddomaineasy {background: url(../images/adddomaineasy.png) no-repeat left;}
ul#button li.transferdomain {background: url(../images/transferdomain.png) no-repeat left;}
ul#button li.deletedomain {background: url(../images/deletedomain.png) no-repeat left;}
ul#button li.addemailuser {background: url(../images/addemailuser.png) no-repeat left;!}
ul#button li.addftpuser {background: url(../images/addftpuser.png) no-repeat left;!}
ul#button li.addftptothispaneluser {background: url(../images/addftptothispaneluser.png) no-repeat left;!}
ul#button li.userop {background: url(../images/userop.png) no-repeat left;}
ul#button li.domainop_listdb {background: url(../images/domainop_listdb.png) no-repeat left;!}
ul#button li.addmysqldb {background: url(../images/addmysqldb.png) no-repeat left;}
ul#button li.addmysqldbtouser {background: url(../images/addmysqldbtouser.png) no-repeat left;}
ul#button li.addpaneluser {background: url(../images/addpaneluser.png) no-repeat left;}
ul#button li.editpaneluser {background: url(../images/editpaneluser.png) no-repeat left;}
ul#button li.editftpuser {background: url(../images/editftpuser.png) no-repeat left;}
ul#button li.domainsettings {background: url(../images/domainsettings.png) no-repeat left;}
ul#button li.logout {background: url(../images/logout.png) no-repeat left;}
ul#button li.daemon {background: url(../images/daemon.png) no-repeat left;}
ul#button li.test {background: url(../images/test.png) no-repeat left;}
ul#button li.aboutcontactus {background: url(../images/aboutcontactus.png) no-repeat left;}
ul#button li.applyforaccount {background: url(../images/applyforaccount.png) no-repeat left;}
ul#button li.applyfordomainaccount {background: url(../images/applyfordomainaccount.png) no-repeat left;}
ul#button li.applyforftpaccount {background: url(../images/applyforftpaccount.png) no-repeat left;}
ul#button li.setconfigvalue2 {background: url(../images/setconfigvalue2.png) no-repeat left;}
ul#button li.customhttp {background: url(../images/customhttp.png) no-repeat left;}
ul#button li.addcustomhttp {background: url(../images/addcustomhttp.png) no-repeat left;}
ul#button li.deletecustom {background: url(../images/deletecustom.png) no-repeat left;}
ul#button li.customdns {background: url(../images/customdns.png) no-repeat left;}
ul#button li.addcustomdns {background: url(../images/addcustomdns.png) no-repeat left;}
ul#button li.dbedituser {background: url(../images/dbedituser.png) no-repeat left;}
ul#button li.dbadduser {background: url(../images/dbadduser.png) no-repeat left;}
ul#button li.editemailuser {background: url(../images/editemailuser.png) no-repeat left;}
ul#button li.editemailuserself {background: url(../images/editemailuserself.png) no-repeat left;}
ul#button li.directories {background: url(../images/directories.png) no-repeat left;}
ul#button li.listmyalldirectories {background: url(../images/listmyalldirectories.png) no-repeat left;}
ul#button li.adddirectory {background: url(../images/adddirectory.png) no-repeat left;}
ul#button li.deletedirectory {background: url(../images/deletedirectory.png) no-repeat left;}
ul#button li.changetemplate {background: url(../images/changetemplate.png) no-repeat left;}
ul#button li.addredirect {background: url(../images/addredirect.png) no-repeat left;}
ul#button li.serverstatus {background: url(../images/serverstatus.png) no-repeat left;!}
ul#button li.setlanguage {background: url(../images/setlanguage.png) no-repeat left;}
ul#button li.setdefaultdomain {background: url(../images/setdefaultdomain.png) no-repeat left;}
ul#button li.dologin {background: url(../images/dologin.png) no-repeat left;}
ul#button li.fixmailconfiguration {background: url(../images/fixmailconfiguration.png) no-repeat left;}
ul#button li.webftp {background: url(../images/webftp.png) no-repeat left;}
ul#button li.phpmyadmin {background: url(../images/phpmyadmin.png) no-repeat left;}
ul#button li.webstats {background: url(../images/webstats.png) no-repeat left;}
