<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Remoto Menu de Dominio</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Edit</td><td><div class="items darkText itemDomaindns" onclick="location.href='index.php?op=editdnstemplate'" title="Edit DNS Template"><img src="templates/picante/general/images/editdnstemplate.png" alt="Editar Plantilla de Web Personalisada DNS" class="item" />
                                       <br>
                                       <span class="itemText">Editar Plantilla de Web Personalisada DNS</span></div></td></tr><tr class="itemRow"><td class="category">Remove</td><td><div class="items darkText itemDeletedomain" onclick="location.href='index.php?op=deletedomain'" title="Delete Domain"><img src="templates/picante/general/images/deletedomain.png" alt="Borrar Dominios" class="item" />
                                       <br>
                                       <span class="itemText">Borrar Dominios</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemDomainserverip" onclick="location.href='index.php?op=changedomainserverip'" title="Change Domain Server IP"><img src="templates/picante/general/images/changedomainserverip.png" alt="Cambiar Dominio Servidor IP" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Dominio Servidor IP</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>