<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operaciones de Reventa</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAddpaneluser" onclick="location.href='index.php?op=addpaneluser'" title="Agregar Usuario o Cliente"><img src="templates/picante/general/images/addpaneluser.png" alt="Agregar Usuario o Cliente" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario o Cliente</span></div><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Facil Instalacion de Scripts"><img src="templates/picante/general/images/addscript.png" alt="Facil Instalacion de Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Facil Instalacion de Scripts</span></div></td></tr><tr class="itemRow"><td class="category">Editar</td><td><div class="items darkText itemUpdatediskquota" onclick="location.href='index.php?op=doupdatediskquota'" title="Actualisacion de Quota (limite del disco duro)"><img src="templates/picante/general/images/doupdatediskquota.png" alt="Actualisacion de Quota (limite del disco duro)" class="item" />
                                       <br>
                                       <span class="itemText">Actualisacion de Quota (limite del disco duro)</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Cambiar Mi Contrase&ntilde;a"><img src="templates/picante/general/images/changemypass.png" alt="Cambiar Mi Contrase&ntilde;a" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Mi Contrase&ntilde;a</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListusers" onclick="location.href='index.php?op=listpanelusers'" title="Lista de Clientes / Usuarios"><img src="templates/picante/general/images/listpanelusers.png" alt="Lista de Clientes / Usuarios" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Clientes / Usuarios</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemReloaddns" onclick="location.href='index.php?op=dosyncdns'" title="Recarga de Zonas DNS"><img src="templates/picante/general/images/dosyncdns.png" alt="Recarga de Zonas DNS" class="item" />
                                       <br>
                                       <span class="itemText">Recarga de Zonas DNS</span></div><div class="items darkText itemSyncdomains" onclick="location.href='index.php?op=dosyncdomains'" title="Syncroniza Dominios"><img src="templates/picante/general/images/dosyncdomains.png" alt="Syncroniza Dominios" class="item" />
                                       <br>
                                       <span class="itemText">Syncroniza Dominios</span></div><div class="items darkText itemContactus" onclick="location.href='index.php?op=aboutcontactus'" title="Contacta Nos"><img src="templates/picante/general/images/aboutcontactus.png" alt="Contacta Nos" class="item" />
                                       <br>
                                       <span class="itemText">Contacta Nos</span></div><div class="items darkText itemHelp" onclick="location.href='index.php?op=help'" title="Ayuda Tecnica"><img src="templates/picante/general/images/help.png" alt="Ayuda Tecnica" class="item" />
                                       <br>
                                       <span class="itemText">Ayuda Tecnica</span></div><div class="items darkText itemTodolist" onclick="location.href='index.php?op=todolist'" title="Lista de lo Que Tienes Que Hacer"><img src="templates/picante/general/images/todolist.png" alt="Lista de lo Que Tienes Que Hacer" class="item" />
                                       <br>
                                       <span class="itemText">Lista de lo Que Tienes Que Hacer</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operaciones de Dominio</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAdddomaintothisuser" onclick="location.href='index.php?op=addDomainToThisPaneluser'" title="Agregar Dominios a Mi Cuenta"><img src="templates/picante/general/images/adddomaintothispaneluser.png" alt="Agregar Dominios a Mi Cuenta" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Dominios a Mi Cuenta</span></div><div class="items darkText itemAdduserdomain" onclick="location.href='index.php?op=adddomain'" title="Adicion de Dominio y Usarios"><img src="templates/picante/general/images/adddomain.png" alt="Adicion de Dominio y Usarios" class="item" />
                                       <br>
                                       <span class="itemText">Adicion de Dominio y Usarios</span></div><div class="items darkText itemAdduserdomaineasy" onclick="location.href='index.php?op=adddomaineasy'" title="Simple Adicion de Dominio y Usarios"><img src="templates/picante/general/images/adddomaineasy.png" alt="Simple Adicion de Dominio y Usarios" class="item" />
                                       <br>
                                       <span class="itemText">Simple Adicion de Dominio y Usarios</span></div><div class="items darkText itemAddsubdomain" onclick="location.href='index.php?op=addsubdomain'" title="Agregar SubDomains"><img src="templates/picante/general/images/addsubdomain.png" alt="Agregar SubDomains" class="item" />
                                       <br>
                                       <span class="itemText">Agregar SubDomains</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Agregar directorios protegidos por contraseña"><img src="templates/picante/general/images/directories.png" alt="Agregar directorios protegidos por contraseña" class="item" />
                                       <br>
                                       <span class="itemText">Agregar directorios protegidos por contraseña</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="Personalisado DNS"><img src="templates/picante/general/images/customdns.png" alt="Personalisado DNS" class="item" />
                                       <br>
                                       <span class="itemText">Personalisado DNS</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="Personalisado HTTP"><img src="templates/picante/general/images/customhttp.png" alt="Personalisado HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Personalisado HTTP</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="Agregar Certificado SSL"><img src="templates/picante/general/images/manage_sslcerts.png" alt="Agregar Certificado SSL" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Certificado SSL</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListdomains" onclick="location.href='index.php?op=selectdomain'" title="Liste des Domaines"><img src="templates/picante/general/images/selectdomain.png" alt="Liste des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Domaines</span></div><div class="items darkText itemListdomainspassive" onclick="location.href='index.php?op=listpassivedomains'" title="Lista de Dominios Pasivos"><img src="templates/picante/general/images/listpassivedomains.png" alt="Lista de Dominios Pasivos" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Dominios Pasivos</span></div></td></tr><tr class="itemRow"><td class="category">Eliminar</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Eliminar / Listar directorios protegidos por contraseña"><img src="templates/picante/general/images/deldirectories.png" alt="Eliminar / Listar directorios protegidos por contraseña" class="item" />
                                       <br>
                                       <span class="itemText">Eliminar / Listar directorios protegidos por contraseña</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operaciones FTP</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAddftpaccount" onclick="location.href='index.php?op=addftpuser'" title="Ajouter des Comptes FTP"><img src="templates/picante/general/images/addftpuser.png" alt="Ajouter des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des Comptes FTP</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="Lista de Usuarios FTP"><img src="templates/picante/general/images/listallftpusers.png" alt="Lista de Usuarios FTP" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios FTP</span></div><div class="items darkText itemListftpaccountsbydomain" onclick="location.href='index.php?op=listftpusersrelatedtodomains'" title="Lista de Usuarios FTP por Dominios"><img src="templates/picante/general/images/listftpusersrelatedtodomains.png" alt="Lista de Usuarios FTP por Dominios" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios FTP por Dominios</span></div><div class="items darkText itemListftpnodomain" onclick="location.href='index.php?op=listftpuserswithoutdomain'" title="Lista de Usuarios FTP sin Dominos"><img src="templates/picante/general/images/listftpuserswithoutdomain.png" alt="Lista de Usuarios FTP sin Dominos" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios FTP sin Dominos</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operaciones de Email</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="Agregar Usuario Email"><img src="templates/picante/general/images/addemailuser.png" alt="Agregar Usuario Email" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario Email</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="Lista de Usuarios Email"><img src="templates/picante/general/images/listallemailusers.png" alt="Lista de Usuarios Email" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios Email</span></div><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="Lista de Email Forwarders"><img src="templates/picante/general/images/emailforwardings.png" alt="Lista de Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Email Forwarders</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operaciones MySQL</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="Crear base de Datos y Usuarios MySQL"><img src="templates/picante/general/images/addmysqldb.png" alt="Crear base de Datos y Usuarios MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Crear base de Datos y Usuarios MySQL</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="Lista de base de datos MySQL"><img src="templates/picante/general/images/domainop_listdb.png" alt="Lista de base de datos MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Lista de base de datos MySQL</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>