<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operaciones de Dominio</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAddsubdomain" onclick="location.href='index.php?op=addsubdomain'" title="Agregar SubDomains"><img src="templates/picante/general/images/addsubdomain.png" alt="Agregar SubDomains" class="item" />
                                       <br>
                                       <span class="itemText">Agregar SubDomains</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="Personalisado HTTP"><img src="templates/picante/general/images/customhttp.png" alt="Personalisado HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Personalisado HTTP</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="Personalisado DNS"><img src="templates/picante/general/images/customdns.png" alt="Personalisado DNS" class="item" />
                                       <br>
                                       <span class="itemText">Personalisado DNS</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Agregar directorios protegidos por contraseña"><img src="templates/picante/general/images/directories.png" alt="Agregar directorios protegidos por contraseña" class="item" />
                                       <br>
                                       <span class="itemText">Agregar directorios protegidos por contraseña</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="Agregar Certificado SSL"><img src="templates/picante/general/images/manage_sslcerts.png" alt="Agregar Certificado SSL" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Certificado SSL</span></div></td></tr><tr class="itemRow"><td class="category">Editar</td><td><div class="items darkText itemDomainapache" onclick="location.href='index.php?op=editapachetemplate'" title="Editar Plantilla de Web Personalisada APACHE"><img src="templates/picante/general/images/editapachetemplate.png" alt="Editar Plantilla de Web Personalisada APACHE" class="item" />
                                       <br>
                                       <span class="itemText">Editar Plantilla de Web Personalisada APACHE</span></div><div class="items darkText itemDomaindns" onclick="location.href='index.php?op=editdnstemplate'" title="Editar Plantilla de Web Personalisada DNS"><img src="templates/picante/general/images/editdnstemplate.png" alt="Editar Plantilla de Web Personalisada DNS" class="item" />
                                       <br>
                                       <span class="itemText">Editar Plantilla de Web Personalisada DNS</span></div><div class="items darkText itemDomainalias" onclick="location.href='index.php?op=editdomainaliases'" title="Editar Alias de Dominio"><img src="templates/picante/general/images/editdomainaliases.png" alt="Editar Alias de Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Editar Alias de Dominio</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Cambiar Mi Contrase&ntilde;a"><img src="templates/picante/general/images/changemypass.png" alt="Cambiar Mi Contrase&ntilde;a" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Mi Contrase&ntilde;a</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListsubdomains" onclick="location.href='index.php?op=subdomains'" title="Lista SubDomains"><img src="templates/picante/general/images/addsubdomain.png" alt="Lista SubDomains" class="item" />
                                       <br>
                                       <span class="itemText">Lista SubDomains</span></div></td></tr><tr class="itemRow"><td class="category">Eliminar</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Eliminar / Listar directorios protegidos por contraseña"><img src="templates/picante/general/images/deldirectories.png" alt="Eliminar / Listar directorios protegidos por contraseña" class="item" />
                                       <br>
                                       <span class="itemText">Eliminar / Listar directorios protegidos por contraseña</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemDomainslavedns" onclick="location.href='index.php?op=addslavedns'" title="Usa Slave DNS Para Dominio"><img src="templates/picante/general/images/slavedns.png" alt="Usa Slave DNS Para Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Usa Slave DNS Para Dominio</span></div><div class="items darkText itemDomainslavednsremove" onclick="location.href='index.php?op=removeslavedns'" title="Usa Master DNS Para Dominio"><img src="templates/picante/general/images/slavednsremove.png" alt="Usa Master DNS Para Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Usa Master DNS Para Dominio</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operaciones FTP</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAddftpaccountgeneral" onclick="location.href='index.php?op=addftptothispaneluser'" title="Agregar Usuario General FTP"><img src="templates/picante/general/images/addftptothispaneluser.png" alt="Agregar Usuario General FTP" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario General FTP</span></div><div class="items darkText itemAddftpsubdomain" onclick="location.href='index.php?op=addsubdomainwithftp'" title="Agregar Usuario FTP Subdominio Acceso"><img src="templates/picante/general/images/addsubdomainwithftp.png" alt="Agregar Usuario FTP Subdominio Acceso" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario FTP Subdominio Acceso</span></div><div class="items darkText itemAddftpsubdir" onclick="location.href='index.php?op=addsubdirectorywithftp'" title="Agregar Usuario FTP Subdirectorio Acceso"><img src="templates/picante/general/images/addsubdirectorywithftp.png" alt="Agregar Usuario FTP Subdirectorio Acceso" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario FTP Subdirectorio Acceso</span></div></td></tr><tr class="itemRow"><td class="category">Editar</td><td><div class="items darkText itemChangeftp" onclick="location.href='index.php?op=editftpuser'" title="Cambiar Contrase&ntilde;a de FTP"><img src="templates/picante/general/images/editftpuser.png" alt="Cambiar Contrase&ntilde;a de FTP" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Contrase&ntilde;a de FTP</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="Lista de Usuarios FTP"><img src="templates/picante/general/images/listallftpusers.png" alt="Lista de Usuarios FTP" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios FTP</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemNet2ftp" onclick="window.open('net2ftp')" title="Administracion de Archivos"><img src="templates/picante/general/images/webftp.png" alt="Administracion de Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Administracion de Archivos</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operaciones MySQL</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="Crear base de Datos y Usuarios MySQL"><img src="templates/picante/general/images/addmysqldb.png" alt="Crear base de Datos y Usuarios MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Crear base de Datos y Usuarios MySQL</span></div><div class="items darkText itemAddmysqluser" onclick="location.href='index.php?op=dbadduser'" title="Agregar Usuarios MySQL"><img src="templates/picante/general/images/dbadduser.png" alt="Agregar Usuarios MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuarios MySQL</span></div><div class="items darkText itemAddmysqldbtouser" onclick="location.href='index.php?op=addmysqldbtouser'" title="Agregar MySQL Base de Datos a Usuarios Existentes"><img src="templates/picante/general/images/addmysqldbtouser.png" alt="Agregar MySQL Base de Datos a Usuarios Existentes" class="item" />
                                       <br>
                                       <span class="itemText">Agregar MySQL Base de Datos a Usuarios Existentes</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="Lista de base de datos MySQL"><img src="templates/picante/general/images/domainop_listdb.png" alt="Lista de base de datos MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Lista de base de datos MySQL</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/picante/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operaciones de Email</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="Agregar Usuario Email"><img src="templates/picante/general/images/addemailuser.png" alt="Agregar Usuario Email" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario Email</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListemailaccountsdomain" onclick="location.href='index.php?op=listemailusers'" title="Lista Todos Usuarios de Email por Dominio"><img src="templates/picante/general/images/listemailusers.png" alt="Lista Todos Usuarios de Email por Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Lista Todos Usuarios de Email por Dominio</span></div><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="Lista de Email Forwarders"><img src="templates/picante/general/images/emailforwardings.png" alt="Lista de Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Email Forwarders</span></div><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="Lista de Usuarios Email"><img src="templates/picante/general/images/listallemailusers.png" alt="Lista de Usuarios Email" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios Email</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Mi Configuracion</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Facil Instalacion de Scripts"><img src="templates/picante/general/images/addscript.png" alt="Facil Instalacion de Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Facil Instalacion de Scripts</span></div></td></tr><tr class="itemRow"><td class="category">Editar</td><td><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Cambiar Mi Contrase&ntilde;a"><img src="templates/picante/general/images/changemypass.png" alt="Cambiar Mi Contrase&ntilde;a" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Mi Contrase&ntilde;a</span></div></td></tr><tr class="itemRow"><td class="category">Eliminar</td><td><div class="items darkText itemDeletedomain" onclick="location.href='index.php?op=deletedomain'" title="Borrar Dominios"><img src="templates/picante/general/images/deletedomain.png" alt="Borrar Dominios" class="item" />
                                       <br>
                                       <span class="itemText">Borrar Dominios</span></div><div class="items darkText itemMovedomaintoanotheraccount" onclick="location.href='index.php?op=movedomaintoanotheraccount'" title="Transferir Dominios a Otro Usuario"><img src="templates/picante/general/images/transferdomain.png" alt="Transferir Dominios a Otro Usuario" class="item" />
                                       <br>
                                       <span class="itemText">Transferir Dominios a Otro Usuario</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemDomainredirect" onclick="location.href='index.php?op=addredirect'" title="Redirejir Dominios"><img src="templates/picante/general/images/addredirect.png" alt="Redirejir Dominios" class="item" />
                                       <br>
                                       <span class="itemText">Redirejir Dominios</span></div><div class="items darkText itemDomainedit" onclick="location.href='index.php?op=editdomain'" title="Activar o Desactivar Dominio"><img src="templates/picante/general/images/editdomain.png" alt="Activar o Desactivar Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Activar o Desactivar Dominio</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>