<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">User Operations</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAddpaneluserwithpredefinedplan" onclick="location.href='index.php?op=addpaneluserwithpredefinedplan'" title="Agregar nuevo usuario con plantilla de hosting"><img src="templates/picante/general/images/addpaneluserwithpredefinedplan.png" alt="Agregar nuevo usuario con plantilla de hosting" class="item" />
                                       <br>
                                       <span class="itemText">Agregar nuevo usuario con plantilla de hosting</span></div><div class="items darkText itemAddpaneluser" onclick="location.href='index.php?op=addpaneluser'" title="Agregar Usuario o Cliente"><img src="templates/picante/general/images/addpaneluser.png" alt="Agregar Usuario o Cliente" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario o Cliente</span></div><div class="items darkText itemAddftpaccount" onclick="location.href='index.php?op=addftpuser'" title="Ajouter des Comptes FTP"><img src="templates/picante/general/images/addftpuser.png" alt="Ajouter des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des Comptes FTP</span></div><div class="items darkText itemAddftpaccounttouser" onclick="location.href='index.php?op=addftptothispaneluser'" title="Agregar Cuentas FTP Para Usuarios Existentes"><img src="templates/picante/general/images/addftptothispaneluser.png" alt="Agregar Cuentas FTP Para Usuarios Existentes" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Cuentas FTP Para Usuarios Existentes</span></div><div class="items darkText itemAddftpsubdomain" onclick="location.href='index.php?op=addsubdomainwithftp'" title="Agregar Usuario FTP Subdominio Acceso"><img src="templates/picante/general/images/addsubdomainwithftp.png" alt="Agregar Usuario FTP Subdominio Acceso" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario FTP Subdominio Acceso</span></div><div class="items darkText itemAddftpsubdir" onclick="location.href='index.php?op=addsubdirectorywithftp'" title="Agregar Usuario FTP Subdirectorio Acceso"><img src="templates/picante/general/images/addsubdirectorywithftp.png" alt="Agregar Usuario FTP Subdirectorio Acceso" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario FTP Subdirectorio Acceso</span></div><div class="items darkText itemAddcustomftp" onclick="location.href='index.php?op=addcustomftp'" title="Crear Cuenta FTP Personalizado"><img src="templates/picante/general/images/addcustomftp.png" alt="Crear Cuenta FTP Personalizado" class="item" />
                                       <br>
                                       <span class="itemText">Crear Cuenta FTP Personalizado</span></div><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="Agregar Usuario Email"><img src="templates/picante/general/images/addemailuser.png" alt="Agregar Usuario Email" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario Email</span></div><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="Crear base de Datos y Usuarios MySQL"><img src="templates/picante/general/images/addmysqldb.png" alt="Crear base de Datos y Usuarios MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Crear base de Datos y Usuarios MySQL</span></div><div class="items darkText itemAddmysqldbtouser" onclick="location.href='index.php?op=addmysqldbtouser'" title="Agregar MySQL Base de Datos a Usuarios Existentes"><img src="templates/picante/general/images/addmysqldbtouser.png" alt="Agregar MySQL Base de Datos a Usuarios Existentes" class="item" />
                                       <br>
                                       <span class="itemText">Agregar MySQL Base de Datos a Usuarios Existentes</span></div><div class="items darkText itemAddmysqluser" onclick="location.href='index.php?op=dbadduser'" title="Agregar Usuarios MySQL"><img src="templates/picante/general/images/dbadduser.png" alt="Agregar Usuarios MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuarios MySQL</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListusers" onclick="location.href='index.php?op=listpanelusers'" title="Lista de Clientes / Usuarios"><img src="templates/picante/general/images/listpanelusers.png" alt="Lista de Clientes / Usuarios" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Clientes / Usuarios</span></div><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="Lista de Usuarios FTP"><img src="templates/picante/general/images/listallftpusers.png" alt="Lista de Usuarios FTP" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios FTP</span></div><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="Lista de Usuarios Email"><img src="templates/picante/general/images/listallemailusers.png" alt="Lista de Usuarios Email" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios Email</span></div><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="Lista de base de datos MySQL"><img src="templates/picante/general/images/domainop_listdb.png" alt="Lista de base de datos MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Lista de base de datos MySQL</span></div></td></tr><tr class="itemRow"><td class="category">Eliminar</td><td><div class="items darkText itemRemovecustomftp" onclick="location.href='index.php?op=removecustomftp'" title="Eliminar Cuenta FTP Personalizado"><img src="templates/picante/general/images/removecustomftp.png" alt="Eliminar Cuenta FTP Personalizado" class="item" />
                                       <br>
                                       <span class="itemText">Eliminar Cuenta FTP Personalizado</span></div><div class="items darkText itemMovedomaintoanotheraccount" onclick="location.href='index.php?op=movedomaintoanotheraccount'" title="Transferir Dominios a Otro Usuario"><img src="templates/picante/general/images/transferdomain.png" alt="Transferir Dominios a Otro Usuario" class="item" />
                                       <br>
                                       <span class="itemText">Transferir Dominios a Otro Usuario</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Domain Operations</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAdddomaintothisuser" onclick="location.href='index.php?op=addDomainToThisPaneluser'" title="Agregar Dominios a Mi Cuenta"><img src="templates/picante/general/images/adddomaintothispaneluser.png" alt="Agregar Dominios a Mi Cuenta" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Dominios a Mi Cuenta</span></div><div class="items darkText itemAdddomainbulk" onclick="location.href='index.php?op=bulkadddomain'" title="Agregar Dominios A Granel"><img src="templates/picante/general/images/bulkadddomain.png" alt="Agregar Dominios A Granel" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Dominios A Granel</span></div><div class="items darkText itemAdduserdomain" onclick="location.href='index.php?op=adddomain'" title="Adicion de Dominio y Usarios"><img src="templates/picante/general/images/adddomain.png" alt="Adicion de Dominio y Usarios" class="item" />
                                       <br>
                                       <span class="itemText">Adicion de Dominio y Usarios</span></div><div class="items darkText itemAdduserdomaineasy" onclick="location.href='index.php?op=adddomaineasy'" title="Simple Adicion de Dominio y Usarios"><img src="templates/picante/general/images/adddomaineasy.png" alt="Simple Adicion de Dominio y Usarios" class="item" />
                                       <br>
                                       <span class="itemText">Simple Adicion de Dominio y Usarios</span></div><div class="items darkText itemAdddomaindns" onclick="location.href='index.php?op=adddnsonlydomain'" title="Agregacion Hosting DNS"><img src="templates/picante/general/images/adddnsonlydomain.png" alt="Agregacion Hosting DNS" class="item" />
                                       <br>
                                       <span class="itemText">Agregacion Hosting DNS</span></div><div class="items darkText itemAdddomaindnstouser" onclick="location.href='index.php?op=adddnsonlydomainwithpaneluser'" title="Agregacion Hosting DNS Para El Usuario"><img src="templates/picante/general/images/adddnsonlydomainwithpaneluser.png" alt="Agregacion Hosting DNS Para El Usuario" class="item" />
                                       <br>
                                       <span class="itemText">Agregacion Hosting DNS Para El Usuario</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListdomains" onclick="location.href='index.php?op=selectdomain'" title="Liste des Domaines"><img src="templates/picante/general/images/selectdomain.png" alt="Liste des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Domaines</span></div><div class="items darkText itemListdomainspassive" onclick="location.href='index.php?op=listpassivedomains'" title="Lista de Dominios Pasivos"><img src="templates/picante/general/images/listpassivedomains.png" alt="Lista de Dominios Pasivos" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Dominios Pasivos</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Utilities</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemWebmail" onclick="window.open('webmail')" title="Webmail Client"><img src="templates/picante/general/images/launchmail.png" alt="Webmail Client" class="item" />
                                       <br>
                                       <span class="itemText">Webmail Client</span></div><div class="items darkText itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/picante/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div><div class="items darkText itemNet2ftp" onclick="window.open('net2ftp')" title="Administracion de Archivos"><img src="templates/picante/general/images/webftp.png" alt="Administracion de Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Administracion de Archivos</span></div><div class="items darkText itemExtplorer" onclick="window.open('extplorer')" title="Extplorer File Manager"><img src="templates/picante/general/images/extplorer.png" alt="Extplorer File Manager" class="item" />
                                       <br>
                                       <span class="itemText">Extplorer File Manager</span></div><div class="items darkText itemPolicyd" onclick="window.open('policyd')" title="Policyd Management"><img src="templates/picante/general/images/policyd.png" alt="Policyd Management" class="item" />
                                       <br>
                                       <span class="itemText">Policyd Management</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">System Operations</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Agregar</td><td><div class="items darkText itemAddremotebackup" onclick="location.href='index.php?op=addremotebackup'" title="Programe Remote Backup"><img src="templates/picante/general/images/addremotebackup.png" alt="Programe Remote Backup" class="item" />
                                       <br>
                                       <span class="itemText">Programe Remote Backup</span></div><div class="items darkText itemAddcronjob" onclick="location.href='index.php?op=addcronjob'" title="Agregar Servidor Cronjob"><img src="templates/picante/general/images/addcronjob.png" alt="Agregar Servidor Cronjob" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Servidor Cronjob</span></div><div class="items darkText itemAddhostingplan" onclick="location.href='index.php?op=addhostingplan'" title="Agregar plantilla de plan de hosting"><img src="templates/picante/general/images/addhostingplan.png" alt="Agregar plantilla de plan de hosting" class="item" />
                                       <br>
                                       <span class="itemText">Agregar plantilla de plan de hosting</span></div></td></tr><tr class="itemRow"><td class="category">Editar</td><td><div class="items darkText itemUpdatediskquota" onclick="location.href='index.php?op=doupdatediskquota'" title="Actualisacion de Quota (limite del disco duro)"><img src="templates/picante/general/images/doupdatediskquota.png" alt="Actualisacion de Quota (limite del disco duro)" class="item" />
                                       <br>
                                       <span class="itemText">Actualisacion de Quota (limite del disco duro)</span></div><div class="items darkText itemChangetheme" onclick="location.href='index.php?op=changetemplate'" title="Cambiar Plantilla"><img src="templates/picante/general/images/changetemplate.png" alt="Cambiar Plantilla" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Plantilla</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Cambiar Mi Contrase&ntilde;a"><img src="templates/picante/general/images/changemypass.png" alt="Cambiar Mi Contrase&ntilde;a" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Mi Contrase&ntilde;a</span></div><div class="items darkText itemManageglobalwebtemplates" onclick="location.href='index.php?op=manageglobalwebtemplates'" title="Gestionar plantillas de servidor web global"><img src="templates/picante/general/images/manageglobalwebtemplates.png" alt="Gestionar plantillas de servidor web global" class="item" />
                                       <br>
                                       <span class="itemText">Gestionar plantillas de servidor web global</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemServerbackuplist" onclick="location.href='index.php?op=listbackups'" title="Lista Copias de los Archivos"><img src="templates/picante/general/images/listbackups.png" alt="Lista Copias de los Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Lista Copias de los Archivos</span></div></td></tr><tr class="itemRow"><td class="category">Eliminar</td><td><div class="items darkText itemRemoveremotebackup" onclick="location.href='index.php?op=removeremotebackup'" title="Retire Programado Remote Backup"><img src="templates/picante/general/images/removeremotebackup.png" alt="Retire Programado Remote Backup" class="item" />
                                       <br>
                                       <span class="itemText">Retire Programado Remote Backup</span></div><div class="items darkText itemRemovecronjob" onclick="location.href='index.php?op=removecronjob'" title="Retire Servidor Cronjob"><img src="templates/picante/general/images/removecronjob.png" alt="Retire Servidor Cronjob" class="item" />
                                       <br>
                                       <span class="itemText">Retire Servidor Cronjob</span></div><div class="items darkText itemRemovehostingplan" onclick="location.href='index.php?op=removehostingplan'" title="Eliminar plantilla de plan de hosting"><img src="templates/picante/general/images/removehostingplan.png" alt="Eliminar plantilla de plan de hosting" class="item" />
                                       <br>
                                       <span class="itemText">Eliminar plantilla de plan de hosting</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemServeroperations" onclick="location.href='index.php?op=operations'" title="Operaciones Demonio"><img src="templates/picante/general/images/operations.png" alt="Operaciones Demonio" class="item" />
                                       <br>
                                       <span class="itemText">Operaciones Demonio</span></div><div class="items darkText itemServeroptions" onclick="location.href='index.php?op=options'" title="Opciones"><img src="templates/picante/general/images/options.png" alt="Opciones" class="item" />
                                       <br>
                                       <span class="itemText">Opciones</span></div><div class="items darkText itemServerstatus" onclick="location.href='index.php?op=serverstatus'" title="Estado del Servidor"><img src="templates/picante/general/images/serverstatus.png" alt="Estado del Servidor" class="item" />
                                       <br>
                                       <span class="itemText">Estado del Servidor</span></div><div class="items darkText itemReloaddns" onclick="location.href='index.php?op=dosyncdns'" title="Recarga de Zonas DNS"><img src="templates/picante/general/images/dosyncdns.png" alt="Recarga de Zonas DNS" class="item" />
                                       <br>
                                       <span class="itemText">Recarga de Zonas DNS</span></div><div class="items darkText itemSyncdomains" onclick="location.href='index.php?op=dosyncdomains'" title="Syncroniza Dominios"><img src="templates/picante/general/images/dosyncdomains.png" alt="Syncroniza Dominios" class="item" />
                                       <br>
                                       <span class="itemText">Syncroniza Dominios</span></div><div class="items darkText itemServerbackup" onclick="location.href='index.php?op=dobackup'" title="Crear Copias De Archivos"><img src="templates/picante/general/images/dobackup.png" alt="Crear Copias De Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Crear Copias De Archivos</span></div><div class="items darkText itemServerbackuprestore" onclick="location.href='index.php?op=dorestore'" title="Restaurar Copias de los Archivos"><img src="templates/picante/general/images/dorestore.png" alt="Restaurar Copias de los Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Restaurar Copias de los Archivos</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>