<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Quick Operations</h1>
				
				<ul class="favorites no-margin with-tip" title="Quick Operations">
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">
						<a href="/ehcp/chive" target="_blank">Chive<br>
						<small>MySQL &gt; Chive</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">
						<a href="/phpmyadmin" target="_blank">PHPmyAdmin<br>
						<small>MySQL &gt; PHPmyAdmin</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">
						<a href="webmail2" target="_blank">Squirrel Mail<br>
						<small>Email &gt; Squirrel Mail Box</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">
						<a href="webmail" target="_blank">Roundcube Mail<br>
						<small>Email &gt; RoundCube Mail Box</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">
						<a href="net2ftp" target="_blank">File Manager<br>
						<small>FTP &gt; Net2FTP/File Manager</small></a>
					</li>
					
					
					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Control panel</h1>
				
				
			
				
				<h3>Email</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=editemailuserpassword" title="Change Password">
						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">Change Password
					</a></li>
					<li><a href="?op=editemailuserautoreply" title="Change Autoreply">
						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">Change Autoreply
					</a></li>
					<li><a href="?op=emailforwardingsself" title="List/Add Email Fowarding">
						<img src="{templatedir}/images/icons/web-app/48/email_forward.png" width="48" height="48">List/Add Email Fowarding
					</a></li>
					<li><a href="webmail2" title="Webmail/Squirrel Mail Box" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Squirrel Mail
					</a></li>
					<li><a href="webmail" title="Webmail/Roundcube Mail Box" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">RoundCube Mail
					</a></li>
				</ul>
				
				
			
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Help</a>
			<a href="#" class="button">About</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Page top</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->
