<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Quick Operations</h1>
				
				<ul class="favorites no-margin with-tip" title="Quick Operations">
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/globe_icon.png" width="48" height="48">
						<a href="?op=changedomainserverip">Change Domain Server IP<br>
						<small>Domains &gt; Change Domain IP</small></a>
					</li>
					<li>
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">
						<a href="?op=editdnstemplate">Edit DNS Template<br>
						<small>Domains &gt; Edit DNS Template</small></a>
					</li>
					
					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Control panel</h1>
				
				
				<h3>Domain Operations</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=changedomainserverip" title="Change Domain Server ip">Change Domain Server IP</a><li>
					<li><a href="?op=editdnstemplate" title="Edit dns template for this domain">Edit DNS Template</a><li>
					<li><a href="?op=deletedomain" title="DELETE DOMAIN/HOSTING">DELETE DOMAIN/HOSTING</a><li>
				</ul>
				
			
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Help</a>
			<a href="#" class="button">About</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Page top</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->