<!DOCTYPE html>
<html lang="en">
<head>


	<meta charset="utf-8">
	
	
	<!-- Global stylesheets -->
	<link href="{templatedir}/css/reset.css" rel="stylesheet" type="text/css">
	<link href="{templatedir}/css/common.css" rel="stylesheet" type="text/css">
	<link href="{templatedir}/css/form.css" rel="stylesheet" type="text/css">
	<link href="{templatedir}/css/standard.css" rel="stylesheet" type="text/css">
	
	<!-- Comment/uncomment one of these files to toggle between fixed and fluid layout -->
	<!--<link href="{templatedir}/css/960.gs.css" rel="stylesheet" type="text/css">-->
	<link href="{templatedir}/css/960.gs.fluid.css" rel="stylesheet" type="text/css">
	
	<!-- Custom styles -->
	<link href="{templatedir}/css/simple-lists.css" rel="stylesheet" type="text/css">
	<link href="{templatedir}/css/block-lists.css" rel="stylesheet" type="text/css">
	
	
	
	
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{templatedir}/favicon.ico">
	<link rel="icon" type="image/png" href="{templatedir}/favicon-large.png">
	
	<!-- Generic libs -->
	{extra_js}
	<script type="text/javascript" src="{templatedir}/js/html5.js"></script>				<!-- this has to be loaded before anything else -->
	<script type="text/javascript" src="{templatedir}/js/old-browsers.js"></script>		<!-- remove if you do not need older browsers detection -->
	
	<!-- Template libs -->
	<script type="text/javascript" src="{templatedir}/js/jquery.accessibleList.js"></script>
	<script type="text/javascript" src="{templatedir}/js/searchField.js"></script>
	<script type="text/javascript" src="{templatedir}/js/common.js"></script>
	<script type="text/javascript" src="{templatedir}/js/standard.js"></script>
	<!--[if lte IE 8]><script type="text/javascript" src="{templatedir}/js/standard.ie.js"></script><![endif]-->
	<script type="text/javascript" src="{templatedir}/js/jquery.tip.js"></script>
	<script type="text/javascript" src="{templatedir}/js/jquery.hashchange.js"></script>
	<script type="text/javascript" src="{templatedir}/js/jquery.contextMenu.js"></script>
	
	<!-- Custom styles lib -->
	<script type="text/javascript" src="{templatedir}/js/list.js"></script>
	
</head>

<body>
<!-- The template uses conditional comments to add wrappers div for ie8 and ie7 - just add .ie or .ie7 prefix to your css selectors when needed -->
<!--[if lt IE 9]><div class="ie"><![endif]-->
<!--[if lt IE 8]><div class="ie7"><![endif]-->
	
	<!-- Header -->
	
	<!-- Server status -->
	<header><div class="container_12">
		
		<p id="skin-name"><small>EHCP Sky Skin<br>by 7SKYHOST</small> <strong>1.0</strong></p>
		<div class="server-info">Webserver: <strong>{webserver}</strong></div>
		<div class="server-info"><a href="z7/phpinfo.php" target="_blank">PHP Info</a></div>
		
	</div></header>
	<!-- End server status -->

	<!-- Main nav -->
	<nav id="main-nav">
		
		<ul class="container_12">
			<li class="home current"><a href="index.php" title="Home">Home</a>
				<ul>
					<li><a href="index.php" title="Dashboard">Dashboard</a></li>
					<li><a href="index.php?op=otheroperations" title="Other Operations">Other Operations</a></li>
					<li><a href="index.php?op=serverstatus" title="Server Status">Server Status</a></li>
					<li><a href="index.php?op=options" title="Options">Options</a></li>
				</ul>
			
			</li>
			<li class="write"><a href="#" title="Email Accounts">Email</a>
				<ul>
					<li><a href="?op=listallemailusers" title="List All Email Accounts">List All Email Accounts</a></li>
					<li><a href="?op=addemailuser" title="Add Email Address To Specific Domain">Add Email Address</a></li>
				</ul>
			</li>
			<li class="comments"><a href="#" title="MySQL Databases">MySQL</a>
				<ul>
					<li><a href="?op=domainop&amp;action=listdb" title="List All MySQL Databases">List MySQL DB</a></li>
					<li><a href="?op=addmysqldb" title="Add MySQL Database &amp; User To A Domain">Add MySQL DB &amp; User</a></li>
					<li><a href="?op=addmysqldbtouser" title="Add MYSQL Database To An Existing Database User">Add MySQL DB To Existing User</a></li>
					<li><a href="?op=dbadduser" title="Add MySQL User To Existing Database">Add MySQL User To Existing DB</a></li>
				</ul>
			</li>
			<li class="medias"><a href="#" title="FTP Accounts">FTP</a>
				<ul>
					<li><a href="?op=listallftpusers" title="List All Ftp Users">List All FTP Users</a></li>
					<li><a href="?op=addftpuser" title="Add New FTP User<br />/var/www/vhosts/<b>ftpusername</b>">Add New FTP User</a></li>
					<li><a href="?op=addsubdirectorywithftp" title="Add FTP User Under A Specific Domain">Add FTP To Specific Domain</a></li>
					<li><a href="?op=addsubdomainwithftp" title="Add Subdomain Of A Specific Domain With Ftp">Add Subdomain With FTP</a></li>
				</ul>
			</li>
			<li class="users"><a href="#" title="Panel Users">Users</a>
				<ul>
					<li><a href="?op=listpanelusers" title="List All Panel Users Or Clients">List Panel Users</a></li>
					<li><a href="?op=addpaneluser" title="Add A New Panel User Or Client">Add Panel User</a></li>
				</ul>
			</li>
			<li class="stats"><a href="index.php?op=serverstatus" title="Server Status">Status</a></li>
			<li class="settings"><a href="index.php?op=options" title="Options">Options</a></li>
			<li class="backup"><a href="#" title="Backup">Backup</a>
			<ul>
			<li><a href="index.php?op=dobackup" title="Create A Backup Of This Server">Backup Server</a></li>
			<li><a href="index.php?op=dorestore" title="Restore A Backup">Restore Backup</a></li>
			<li><a href="index.php?op=listbackups" title="List All Backups Of This Server">List Backups</a></li>
			</ul></li>
		</ul>
	</nav>
	<!-- End main nav -->
	
	<!-- Sub nav -->
	<div id="sub-nav"><div class="container_12">
		
		<!-- 
		<a href="#" title="Help" class="nav-button"><b>Help</b></a> 
		-->
	<!--
		<form method=post action="index.php?op=listdomains">
		<div id="inputMenuSearch">
                <input type=text name=aranan value='' id="search_txt">
                <input type=submit value='' id="submitMenuSearch">
		</div>
		
		<select id="select_search" name='arananalan' >
                    <option value='domainname' >Domain</option>
                    <option value='panelusername' >Username</option>
                    <option value='reseller' >Reseller</option>
                </select> 
        </form>
	-->
	</div></div>
	<!-- End sub nav -->
	
	<!-- Status bar -->
	<div id="status-bar"><div class="container_12">
	
		<ul id="status-infos">
			<li class="spaced">Logged as: <strong>{username}</strong></li>
			<li><a href="?op=logout" class="button red" title="Logout From EHCP"><span class="smaller">LOGOUT</span></a></li>
		</ul>
		<div align="left">EHCP Version: <strong>{ehcpversion}</strong></div>

	
	
	</div></div>
	<!-- End status bar -->
	
	<div id="header-shadow"></div>
	<!-- End header -->
	
	<!-- Always visible control bar -->
	<div id="control-bar" class="grey-bg clearfix"><div class="container_12">
	
		<div class="float-left">
			{selecteddomain}
		</div>
		
			
	</div></div> 
	<!-- End control bar -->
	
	
	<section class="grid_12">
			<div class="block-border"><div class="block-content">
				<h1>EHCP</h1>
		{ickisim}
      </div>
	  </div>
	</section>
	
	
</body>
</html>
