<!-- Start of Homepagedomain_admin_en.html -->

<a name="domainOps"></a>
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="domain">
<tr class="display">
<td class="subText">
<span class="title">Operaciones de Dominio</span>
<img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('domain'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Agregar / Crear:</p>
</td>
<td class="items">
<a href="?op=addsubdomain" title="Agregar SubDomains"><img src="{templatedir}/images/addsubdomain.png" alt="Agregar Subdomains" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdomain" title="Agregar SubDomains">Agregar SubDomains</a>
</td>

<td class="items">
<a href="?op=addcustomhttp" title="Personalisado HTTP"><img src="{templatedir}/images/addcustomhttp.png" alt="Personalisado HTTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=addcustomhttp" title="Personalisado HTTP">Personalisado HTTP</a>
</td>
<td class="items">
<a href="?op=customdns" title="Personalisado DNS"><img src="{templatedir}/images/addcustomdns.png" alt="Personalisado DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=customdns" title="Personalisado DNS">Personalisado DNS</a>
</td>
<td class="items">
<a href="?op=adddirectory" title="Proteccion de contrase&ntilde;as de los direccion"><img src="{templatedir}/images/adddirectory.png" alt="Proteccion de contrase&ntilde;as de los direccion" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddirectory" title="Proteccion de contrase&ntilde;as de los direccion">Proteccion de Contrase&ntilde;as de los Direccion</a>
</td>
<td class="items">
<a href="?op=editdnstemplate" title="Editar plantilla de web personalisada DNS"><img src="{templatedir}/images/editdnstemplate.png" alt="Editar plantilla de web personalisada DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=editdnstemplate" title="Editar plantilla de web personalisada DNS">Editar Plantilla de Web Personalisada DNS</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=editapachetemplate" title="Editar plantilla de web personalisada APACHE"><img src="{templatedir}/images/editapachetemplate.png" alt="Editar plantilla de web personalisada APACHE" width="32" height="32" class="item"></a>
<br>
<a href="?op=editapachetemplate" title="Editar plantilla de web personalisada APACHE">Editar Plantilla de Web Personalisada APACHE</a>
</td>
<td class="items">
<a href="?op=editdomainaliases" title="Editar alias de dominio"><img src="{templatedir}/images/editdomainaliases.png" alt="Editar alias de dominio" width="32" height="32" class="item"></a>
<br>
<a href="?op=editdomainaliases" title="Editar alias de dominio">Editar Alias de Dominio</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
<tr>
<td class="items">
<p class="title3">Vista / Lista:</p>
</td>
<td class="items">
<a href="?op=subdomains" title="Lista SubDomains"><img src="{templatedir}/images/subdomains.png" alt="Lista Custom Subdomains" width="32" height="32" class="item"></a>
<br>
<a href="?op=subdomains" title="Lista SubDomains">Lista SubDomains</a>
</td>
<td class="items">
<a href="?op=customhttp" title="Ense&ntilde;a personalisacion de tu HTTP"><img src="{templatedir}/images/customhttp.png" alt="Ense&ntilde;a Personalisacion de tu HTTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=customhttp" title="List Custom http">Ense&ntilde;a Personalisacion de tu HTTP</a>
</td>
<td class="items">
<a href="?op=customdns" title="Ense&ntilde;a personalisacion de tu DNS
"><img src="{templatedir}/images/customdns.png" alt="Ense&ntilde;a personalisacion de tu DNS
" width="32" height="32" class="item"></a>
<br>
<a href="?op=customdns" title="Ense&ntilde;a personalisacion de tu DNS">Ense&ntilde;a Personalisacion de tu DNS
</a>
</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="ftp">
<tr class="display">
<td class="subText">
<span class="title">Operaciones FTP</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('ftp'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Agregar / Crear:</p>
</td>
<td class="items">
<a href="?op=editftpuser"><img src="{templatedir}/images/editftpuser.png" alt="Cambiar contrase&ntilde;a de FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=editftpuser">Cambiar Contrase&ntilde;a de FTP</a>
</td>
<td class="items">
<a href="?op=addftptothispaneluser"><img src="{templatedir}/images/addftptothispaneluser.png" alt="Agregar Usuario General FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=addftptothispaneluser">Agregar Usuario General FTP</a>
</td>
<td class="items">
<a href="?op=addsubdomainwithftp"><img src="{templatedir}/images/editftpuser.png" alt="Agregar usuario FTP subdominio acceso" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdomainwithftp">Agregar Usuario FTP Subdominio Acceso</a>
</td>
<td class="items">
<a href="?op=addsubdirectorywithftp"><img src="{templatedir}/images/addsubdirectorywithftp.png" alt="Agregar usuario FTP Subdirectorio acceso" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdirectorywithftp">Agregar Usuario FTP Subdirectorio Acceso</a>
</td>
<td class="items">
</td>
</tr>
<tr>
<td class="items">
<p class="title3">Lista / Vista:</p>
</td>
<td class="items">
<a href="?op=listallftpusers"><img src="{templatedir}/images/listallftpusers.png" alt="Lista de Usuarios FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallftpusers">Lista de Usuarios FTP</a>
</td>
<td class="items">
<a href="net2ftp"><img src="{templatedir}/images/webftp.png" alt="Administracion de Archivos" width="32" height="32" class="item"></a>
<br>
<a href="net2ftp">Administracion de Archivos</a>
</td>
<td class="items">
</td>
<td class="items">
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="mysql">
<tr class="display">
<td class="subText">
<span class="title">Operaciones MySQL</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('mysql'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Agregar / Crear:</p>
</td>
<td class="items">
<a href="?op=addmysqldb"><img src="{templatedir}/images/addmysqldb.png" alt="Agregar base de datos MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldb">Agregar base de Datos MySQL</a>
</td>
<td class="items">
<a href="?op=domainop&action=listdb"><img src="{templatedir}/images/domainop_listdb.png" alt="Lista de base de datos MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainop&action=listdb">Lista de base de datos MySQL</a>
</td>
<td class="items">
<a href="?op=addmysqldbtouser"><img src="{templatedir}/images/addmysqldbtouser.png" alt="Crear base de datos y usuarios MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldbtouser">Crear base de Datos y Usuarios MySQL</a>
</td>
<td class="items">
<a href="?op=dbadduser"><img src="{templatedir}/images/dbadduser.png" alt="Asignar a los usuarios ala base de datos existentes" width="32" height="32" class="item"></a>
<br>
<a href="?op=dbadduser">Asignar a los Usuarios ala Base de Datos Existentes</a>
</td>
<td class="items">
<a href="http://{myip}/phpmyadmin"><img src="{templatedir}/images/phpmyadmin.png" alt="PHPMyAdmin" width="32" height="32" class="item"></a>
<br>
<a href="http://{myip}/phpmyadmin">PHPMyAdmin</a>
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="email">
<tr class="display">
<td class="subText">
<span class="title">Operaciones de Email</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('email'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Agregar / Vista:</p>
</td>
<td class="items">
<a href="?op=addemailuser"><img src="{templatedir}/images/addemailuser.png" alt="Agregar usuario email" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailuser">Agregar Usuario Email</a>
</td>
<td class="items">
<a href="?op=listallemailusers"><img src="{templatedir}/images/listallemailusers.png" alt="List Email Users" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallemailusers">Lista de Usuarios Email</a>
</td>
<td class="items">
<a href="?op=addemailforwarding"><img src="{templatedir}/images/addemailforwarding.png" alt="Agregar Email de Forwarders" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailforwarding">Agregar Email de Forwarders</a>
</td>
<td class="items">
<a href="?op=emailforwardings"><img src="{templatedir}/images/emailforwardings.png" alt="Lista de Email Forwarders" width="32" height="32" class="item"></a>
<br>
<a href="?op=emailforwardings">Lista de Email Forwarders</a>
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="my">
<tr class="display">
<td class="subText">
<span class="title">Mi Configuracion</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('my'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Crear / Modificar:</p>
</td>
<td class="items">
<a href="?op=domainsettings"><img src="{templatedir}/images/domainsettings.png" alt="Configuracion de dominios" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainsettings">Configuracion de Dominios</a>
</td>
<td class="items">
<a href="?op=editdomain"><img src="{templatedir}/images/editdomain.png" alt="Activar o desactivar dominio" width="32" height="32" class="item"></a>
<br>
<a href="?op=editdomain">Activar o Desactivar Dominio</a>
</td>
<td class="items">
<a href="?op=transferdomain"><img src="{templatedir}/images/transferdomain.png" alt="Transferir dominios a otro usuario" width="32" height="32" class="item"></a>
<br>
<a href="?op=transferdomain">Transferir Dominios a Otro Usuario</a>
</td>
<td class="items">
<a href="?op=addredirect"><img src="{templatedir}/images/addredirect.png" alt="Redirejir Dominios" width="32" height="32" class="item"></a>
<br>
<a href="?op=addredirect">Redirejir Dominios</a>
</td>
<td class="items">
<a href="?op=deletedomain"><img src="{templatedir}/images/deletedomain.png" alt="Borrar Dominios" width="32" height="32" class="item"></a>
<br>
<a href="?op=deletedomain">Borrar Dominios</a>
</td>
</tr>
<tr>
<td class="items">
</td>
<td class="items">
<a href="?op=changemypass"><img src="{templatedir}/images/changemypass.png" alt="Cambiar Mi Contrase&ntilde;a" width="32" height="32" class="item"></a>
<br>
<a href="?op=changemypass">Cambiar Mi Contrase&ntilde;a</a>
</td>
<td class="items">
<a href="?op=addscript"><img src="{templatedir}/images/addscript.png" alt="Facil Instalacion de Scripts" width="32" height="32" class="item"></a>
<br>
<a href="?op=addscript">Facil Instalacion de Scripts</a>
</td>
<td class="items">
<a href="http://www.{selecteddomain}/webstats"><img src="{templatedir}/images/webstats.png" alt="Estadisticas (Estadisticas de la Pagina)" width="32" height="32" class="item"></a>
<br>
<a href="http://www.{selecteddomain}/webstats">Estadisticas (Estadisticas de la Pagina)</a>
</td>
<td class="items">
<a href="?op=setdefaultdomain"><img src="{templatedir}/images/setdefaultdomain.png" alt="Poner por default el dominio" width="32" height="32" class="item"></a>
<br>
<a href="?op=setdefaultdomain">Poner Por Default el Dominio</a>
</td>

<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<!-- End of Homepagedomain_admin_en.html -->