<!-- Start of Homepage_emailuser_en.html -->
<a name="domainOps"></a>
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="email">
<tr class="display">
<td class="subText">
<span class="title">Operaciones de Email Menu</span>
<img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('email'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Cambiar:</p>
</td>
<td class="items">
<a href="?op=editemailuserpassword" title="Cambiar contrase&ntilde;a"><img src="{templatedir}/images/changemypass.png" alt="Cambiar contrase&ntilde;a" width="32" height="32" class="item"></a>
<br>
<a href="?op=editemailuserpassword" title="Cambiar my contrase&ntilde;a">Cambiar Contrase&ntilde;a</a>
</td>

<td class="items">
<a href="?op=editemailuserautoreply" title="Cambiar Auto Respuesta"><img src="{templatedir}/images/addemailforwarding.png" alt="Cambiar Auto Respuesta" width="32" height="32" class="item"></a>
<br>
<a href="?op=editemailuserautoreply" title="Cambiar Auto Respuesta">Cambiar Auto Respuesta</a>
</td>
<td class="items">
<a href="?op=emailforwardingsself" title="Lista y Agregar Forwarders"><img src="{templatedir}/images/emailforwardingsself.png" alt="Lista y Agregar Forwarders" width="32" height="32" class="item"></a>
<br>
<a href="?op=emailforwardingsself" title="Lista y Agregar Forwarders">Lista y Agregar Forwarders</a>
</td>
<td class="items">

</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!-- End of Homepage_emailuser_en.html -->

