<!-- Start of homepage_serveradmin_other_en.html -->
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
<tr class="display">
<td class="subText">
<span class="title">Opciones De Usuario De Administracion</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('user'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Agregar / Cambiar:</p>
</td>
<td class="items">
<a href="?op=addpaneluser"><img src="{templatedir}/images/addpaneluser.gif" alt="Agregar Usuario o Cliente" width="32" height="32" class="item"></a>
<br>
<a href="?op=addpaneluser">Agregar Usuario o Cliente</a>
</td>
<td class="items">
<a href="?op=addscript"><img src="{templatedir}/images/addscript.png" alt="Facil instalacion de scripts" width="32" height="32" class="item"></a>
<br>
<a href="?op=addscript">Facil Instalacion de Scripts</a>
</td>

<td class="items">
<a href="?op=dosyncdns"><img src="{templatedir}/images/dosyncdns.png" alt="Recarga de Zonas DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=dosyncdns">Recarga de Zonas DNS</a>
</td>
<td class="items">
<a href="?op=dosyncdomains"><img src="{templatedir}/images/dosyncdomains.png" alt="Syncroniza Dominios" width="32" height="32" class="item"></a>
<br>
<a href="?op=dosyncdomains">Syncroniza Dominios</a>
</td>

<td class="items">
<a href="?op=changemypass"><img src="{templatedir}/images/changemypass.png" alt="Change My Password" width="32" height="32" class="item"></a>
<br>
<a href="?op=changemypass">Cambiar Mi Contrase&ntilde;a</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=doupdatediskquota"><img src="{templatedir}/images/doupdatediskquota.png" alt="Actualisacion de Quota (limite del disco duro)" width="32" height="32" class="item"></a>
<br>
<a href="?op=doupdatediskquota">Actualisacion de Quota (limite del disco duro)</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
<tr>
<td class="items">
<p class="title3">Lista / Vista:</p>
</td>
<td class="items">
<a href="?op=listpanelusers"><img src="{templatedir}/images/listpanelusers.gif" alt="Lista de Clientes / Usuarios" width="32" height="32" class="item"></a>
<br>
<a href="?op=listpanelusers">Lista de Clientes / Usuarios</a>
</td>
<td class="items">
<a href="?op=help"><img src="{templatedir}/images/help.png" alt="Ayuda Tecnica" width="32" height="32" class="item"></a>
<br>
<a href="?op=help">Ayuda Tecnica</a>
</td>
<td class="items">
<a href="?op=todolist"><img src="{templatedir}/images/todolist.png" alt="To Do List" width="32" height="32" class="item"></a>
<br>
<a href="?op=todolist">Lista de lo Que Tienes Que Aser</a>
</td>
<td class="items">
<a href="?op=aboutcontactus"><img src="{templatedir}/images/aboutcontactus.png" alt="Contacta Nos" width="32" height="32" class="item"></a>
<br>
<a href="?op=aboutcontactus">Contacta Nos</a>
</td>

<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<a name="domainOps"></a>
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="domain">
<tr class="display">
<td class="subText">
<span class="title">Operaciones Dominio</span>
<img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('domain'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Agregar / Crear:</p>
</td>
<td class="items">
<a href="?op=adddomain" title="Agregar Dominio"><img src="{templatedir}/images/adddomain.png" alt="Agregar Dominio" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddomain" title="Agregar dominio">Agregar Dominio</a>
</td>
<td class="items">
<a href="?op=adddomaineasy" title="Simple Adicion de Dominio"><img src="{templatedir}/images/adddomaineasy.gif" alt="Simple Adicion de Dominio" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddomaineasy" title="Simple Adicion de Dominio">Simple Adicion de Dominio</a>
</td>
<td class="items">
<a href="?op=addDomainToThisPaneluser" title="Agregar Dominios a Mi Cuenta"><img src="{templatedir}/images/addDomainToThisPaneluser.gif" alt="Agregar Dominios a Mi Cuenta" width="32" height="32" class="item"></a>
<br>
<a href="?op=addDomainToThisPaneluser" title="Agregar Dominios a Mi Cuenta">Agregar Dominios a Mi Cuenta</a>
</td>

<td class="items">
<a href="?op=bulkadddomain" title="Agregar Dominios A Granel"><img src="{templatedir}/images/bulkadddomain.gif" alt="Agregar Dominios A Granel" width="32" height="32" class="item"></a>
<br>
<a href="?op=bulkadddomain" title="Add Domains in Bulk">Agregar Dominios A Granel</a>
</td>
<td class="items">
<a href="?op=adddnsonlydomain" title="Agregacion Hosting DNS"><img src="{templatedir}/images/adddnsonlydomain.png" alt="Agregacion Hosting DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddnsonlydomain" title="Agregacion Hosting DNS">Agregacion Hosting DNS</a>
</td>

</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=adddnsonlydomainwithpaneluser" title="Agregacion Hosting DNS Para El Usuario"><img src="{templatedir}/images/adddnsonlydomainwithpaneluser.gif" alt="Agregacion Hosting DNS Para El Usuario" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddnsonlydomainwithpaneluser" title="Agregacion Hosting DNS Para El Usuario">Agregacion Hosting DNS Para El Usuario</a>
</td>
<td class="items">
<a href="?op=subdomains" title="Administrar Subdominios"><img src="{templatedir}/images/subdomains.gif" alt="Administrar Subdominios" width="32" height="32" class="item"></a>
<br>
<a href="?op=subdomains" title="Administrar Subdominios">Administrar Subdominios</a>
</td>
<td class="items">
<a href="?op=directories" title="Proteccion de Contrase&ntilde;as de los Direccion"><img src="{templatedir}/images/directories.png" alt="Proteccion de Contrase&ntilde;as de los Direccion" width="32" height="32" class="item"></a>
<br>
<a href="?op=directories" title="Proteccion de Contrase&ntilde;as de los Direccion">Proteccion de Contrase&ntilde;as de los Direccion</a>
</td>
<td class="items">
<a href="?op=customdns" title="Personalisado DNS"><img src="{templatedir}/images/customdns.png" alt="Personalisado DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=customdns" title="Personalisado DNS">Personalisado DNS</a>
</td>
<td class="items">
<a href="?op=customhttp" title="Personalisado HTTP"><img src="{templatedir}/images/customhttp.png" alt="Personalisado HTTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=customhttp" title="Personalisado HTTP">Personalisado HTTP</a>
</td>
</tr>
<tr>
<td class="items">
<p class="title3">Vista / Lista:</p>
</td>

<td class="items">
<a href="?op=directories" title="Proteccion de Contrase&ntilde;as de los Direccion"><img src="{templatedir}/images/directories.png" alt="Proteccion de Contrase&ntilde;as de los Direccion" width="32" height="32" class="item"></a>
<br>
<a href="?op=directories" title="Proteccion de Contrase&ntilde;as de los Direccion">Proteccion de Contrase&ntilde;as de los Direccion</a>
</td>

<td class="items">
<a href="?op=selectdomain" title="Lista de dominios"><img src="{templatedir}/images/selectdomain.png" alt="Lista de dominios" width="32" height="32" class="item"></a>
<br>
<a href="?op=selectdomain" title="Lista de dominios">Lista de Dominios</a>
</td>
<td class="items">
<a href="?op=listpassivedomains" title="Lista de Dominios Pasivos"><img src="{templatedir}/images/listpassivedomains.png" alt="Lista de Dominios Pasivos" width="32" height="32" class="item"></a>
<br>
<a href="?op=listpassivedomains" title="Lista de Dominios Pasivos">Lista de Dominios Pasivos</a>
</td>
<td class="items">
</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="ftp">
<tr class="display">
<td class="subText">
<span class="title">FTP Operations</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('ftp'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Agregar / Vista:</p>
</td>
<td class="items">
<a href="?op=addftpuser"><img src="{templatedir}/images/addftpuser.png" alt="Agregar cuenta FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=addftpuser">Agregar Cuenta FTP</a>
</td>
<td class="items">
<a href="?op=listallftpusers"><img src="{templatedir}/images/listallftpusers.png" alt="Lista de Usuarios FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallftpusers">Lista de Usuarios FTP</a>
</td>
<td class="items">
<a href="?op=addftptothispaneluser"><img src="{templatedir}/images/addftptothispaneluser.png" alt="Agregar y Asignar Cuentas de FTP para el Usuario" width="32" height="32" class="item"></a>
<br>
<a href="?op=addftptothispaneluser">Agregar y Asignar Cuentas de FTP para el Usuario</a>
</td>
<td class="items">
<a href="?op=listftpusersrelatedtodomains"><img src="{templatedir}/images/listftpusersrelatedtodomains.png" alt="Lista de Usuarios FTP por Dominios" width="32" height="32" class="item"></a>
<br>
<a href="?op=listftpusersrelatedtodomains">Lista de Usuarios FTP por Dominios</a>
</td>
<td class="items">
<a href="?op=addsubdirectorywithftp"><img src="{templatedir}/images/addsubdirectorywithftp.png" alt="Agregar usuario FTP subdirectorio acceso" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdirectorywithftp">Agregar Usuario FTP Subdirectorio Acceso</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=addsubdomainwithftp"><img src="{templatedir}/images/addsubdomainwithftp.png" alt="Agregar Usuario FTP Subdominio Acceso" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdomainwithftp">Agregar Usuario FTP Subdominio Acceso</a>
</td>
<td class="items">
<a href="?op=listftpuserswithoutdomain"><img src="{templatedir}/images/listftpuserswithoutdomain.png" alt="Lista de Usuarios FTP sin Dominos" width="32" height="32" class="item"></a>
<br>
<a href="?op=listftpuserswithoutdomain">Lista de Usuarios FTP sin Dominos</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="email">
<tr class="display">
<td class="subText">
<span class="title">Operaciones de Email</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('email'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Crear / Vista:</p>
</td>
<td class="items">
<a href="?op=addemailuser"><img src="{templatedir}/images/addemailuser.png" alt="Agregar usuario email" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailuser">Agregar Usuario Email</a>
</td>
<td class="items">
<a href="?op=listallemailusers"><img src="{templatedir}/images/listallemailusers.png" alt="Lista Todos Usuarios de Email" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallemailusers">Lista Todos Usuarios de Email</a>
</td>
<td class="items">
<a href="?op=listemailusers"><img src="{templatedir}/images/listemailusers.png" alt="List Lista Todos Usuarios de Email por Dominio" width="32" height="32" class="item"></a>
<br>
<a href="?op=listemailusers">Lista Todos Usuarios de Email por Dominio</a>
</td>
<td class="items">
<a href="?op=emailforwardings"><img src="{templatedir}/images/emailforwardings.png" alt="Lista y Agregar Email Forwarders" width="32" height="32" class="item"></a>
<br>
<a href="?op=emailforwardings">Lista y Agregar Email Forwarders</a>
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="mysql">
<tr class="display">
<td class="subText">
<span class="title">MySQL Operations</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('mysql'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Crear / Vista:</p>
</td>
<td class="items">
<a href="?op=addmysqldb"><img src="{templatedir}/images/addmysqldb.png" alt="Agregar base de datos MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldb">Agregar Base de Datos MySQL</a>
</td>
<td class="items">
<a href="?op=domainop&action=listdb"><img src="{templatedir}/images/domainop_listdb.png" alt="Lista de base de datos MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainop&action=listdb">Lista de Base de Datos MySQL</a>
</td>
<td class="items">
<a href="?op=addmysqldbtouser"><img src="{templatedir}/images/addmysqldbtouser.gif" alt="Asignar la Base de Datos Para el Usuario" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldbtouser">Asignar la Base de Datos Para el Usuario</a>
</td>
<td class="items">
<a href="?op=dbadduser"><img src="{templatedir}/images/dbadduser.gif" alt="Crear Usuarios MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=dbadduser">Crear Usuarios MySQL</a>
</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="ehcp">
<tr class="display">
<td class="subText">
<span class="title">EHCP Estado Del Servidor</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('ehcp'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Vista / Cambiar:</p>
</td>
<td class="items">
<a href="?op=operations"><img src="{templatedir}/images/operations.png" alt="Operaciones Demonio" width="32" height="32" class="item"></a>
<br>
<a href="?op=operations">Operaciones Demonio</a>
</td>
<td class="items">
<a href="?op=dobackup"><img src="{templatedir}/images/dobackup.png" alt="Crear Copias De Archivos" width="32" height="32" class="item"></a>
<br>
<a href="?op=dobackup">Crear Copias De Archivos</a>
</td>
<td class="items">
<a href="?op=dorestore"><img src="{templatedir}/images/dorestore.png" alt="Restaurar Copias de los Archivos" width="32" height="32" class="item"></a>
<br>
<a href="?op=dorestore">Restaurar Copias de los Archivos</a>
</td>
<td class="items">
<a href="?op=listbackups"><img src="{templatedir}/images/listbackups.png" alt="Lista Copias de los Archivos" width="32" height="32" class="item"></a>
<br>
<a href="?op=listbackups">Lista Copias de los Archivos</a>
</td>
<td class="items">
<a href="?op=options"><img src="{templatedir}/images/options.png" alt="Opciones" width="32" height="32" class="item"></a>
<br>
<a href="?op=options">Opciones</a>
</td>

</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=changetemplate"><img src="{templatedir}/images/changetemplate.png" alt="Cambiar Plantilla" width="32" height="32" class="item"></a>
<br>
<a href="?op=changetemplate">Cambiar Plantilla</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<!-- End of homepage_serveradmin_other_en.html -->