<!-- Start of homepage_reseller_en.html -->

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
<tr class="display">
<td class="subText">
<span class="title">Operaciones de Usuarios / Reventa</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('user'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Agregar / Cambiar:</p>
</td>
<td class="items">
<a href="?op=addpaneluser"><img src="{templatedir}/images/addpaneluser.gif" alt="Agregar Usuario o cliente" width="32" height="32" class="item"></a>
<br>
<a href="?op=addpaneluser">Agregar Usuario o Cliente</a>
</td>
<td class="items">
<a href="?op=addemailuser"><img src="{templatedir}/images/addemailuser.png" alt="Crear Una Cuenta de Email" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailuser">Crear Una Cuenta de Email</a>
</td>

<td class="items">
<a href="?op=addmysqldb"><img src="{templatedir}/images/addmysqldb.png" alt="Crear base de datos y usuarios MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldb">Crear Base de Datos y Usuarios MySQL</a>
</td>
<td class="items">
<a href="?op=addmysqldbtouser"><img src="{templatedir}/images/addmysqldbtouser.gif" alt="Asignar a los usuarios ala base de datos existentes" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldbtouser">Asignar a los Usuarios ala Base de Datos Existentes</a>
</td>
<td class="items">
<a href="?op=dbadduser"><img src="{templatedir}/images/dbadduser.gif" alt="Crear un Usuario de Base de Datos" width="32" height="32" class="item"></a>
<br>
<a href="?op=dbadduser">Crear un Usuario de Base de Datos</a>
</td>
</tr>
<tr>
<td class="items">
<p class="title3">Lista / Vista:</p>
</td>
<td class="items">
<a href="?op=listpanelusers"><img src="{templatedir}/images/listpanelusers.gif" alt="List Clients &amp; Users" width="32" height="32" class="item"></a>
<br>
<a href="?op=listpanelusers">Lista Usuarios / Clientes</a>
</td>
<td class="items">
<a href="?op=listallftpusers"><img src="{templatedir}/images/listallftpusers.png" alt="Lista Todos Usuarios FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallftpusers">Lista Todos Usuarios FTP</a>
</td>
<td class="items">
<a href="?op=listallemailusers"><img src="{templatedir}/images/listallemailusers.png" alt="Lista Todos Usuarios de Email" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallemailusers">Lista Todos Usuarios de Email</a>
</td>
<td class="items">
<a href="?op=domainop&action=listdb"><img src="{templatedir}/images/domainop_listdb.png" alt="Lista de base de datos MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainop&action=listdb">Lista de Base de Datos MySQL</a>
</td>

<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>
<a name="domainOps"></a>
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="domain">
<tr class="display">
<td class="subText">
<span class="title">Operaciones Dominio</span>
<img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('domain'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Agregar / Crear:</p>
</td>
<td class="items">
<a href="?op=adddomain" title="Agregar dominio"><img src="{templatedir}/images/adddomain.png" alt="Agregar dominio" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddomain" title="Agregar dominio">Agregar Dominio</a>
</td>
<td class="items">
<a href="?op=addDomainToThisPaneluser" title="Agregar Dominios a mi Cuenta"><img src="{templatedir}/images/addDomainToThisPaneluser.gif" alt="Agregar Dominios a mi Cuenta" width="32" height="32" class="item"></a>
<br>
<a href="?op=addDomainToThisPaneluser" title="Agregar Dominios a mi Cuenta">Agregar Dominios a mi Cuenta</a>
</td>

<td class="items">
<a href="?op=adddomaineasy" title="Simple adicion de dominio"><img src="{templatedir}/images/adddomaineasy.gif" alt="Simple adicion de dominio" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddomaineasy" title="Simple adicion de dominio">Simple Adicion de Dominio</a>
</td>
<td class="items">
<a href="?op=bulkadddomain" title="Adicion de Dominio a Granel"><img src="{templatedir}/images/bulkadddomain.gif" alt="Adicion de Dominio a Granel" width="32" height="32" class="item"></a>
<br>
<a href="?op=bulkadddomain" title="Adicion de Dominio a Granel">Adicion de Dominio a Granel</a>
</td>
<td class="items">
<a href="?op=adddnsonlydomain" title="Agregacion Hosting DNS"><img src="{templatedir}/images/adddnsonlydomain.png" alt="Agregacion Hosting DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddnsonlydomain" title="Agregacion Hosting DNS">Agregacion Hosting DNS</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=adddnsonlydomainwithpaneluser" title="Agregacion Hosting DNS Para El Usuario"><img src="{templatedir}/images/adddnsonlydomainwithpaneluser.gif" alt="Agregacion Hosting DNS Para El Usuario" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddnsonlydomainwithpaneluser" title="Agregacion Hosting DNS Para El Usuario">Agregacion Hosting DNS Para El Usuario</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
<tr>
<td class="items">
<p class="title3">Vista / Lista:</p>
</td>
<td class="items">
<a href="?op=selectdomain" title="Lista de dominios"><img src="{templatedir}/images/listdomains.gif" alt="Lista de dominios" width="32" height="32" class="item"></a>
<br>
<a href="?op=selectdomain" title="Lista de dominios">Lista de Dominios</a>
</td>
<td class="items">
<a href="?op=listpassivedomains" title="Lista de Dominios Pasivos"><img src="{templatedir}/images/listpassivedomains.png" alt="Lista de Dominios Pasivos" width="32" height="32" class="item"></a>
<br>
<a href="?op=listpassivedomains" title="Lista de Dominios Pasivos">Lista de Dominios Pasivos</a>
</td>
<td class="items">
</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="system">
<tr class="display">
<td class="subText">
<span class="title">Operaciones De Sistema</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('system'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Cambiar: </p>
</td>
<td class="items">
<a href="?op=dosyncdns"><img src="{templatedir}/images/dosyncdns.png" alt="Recarga de zonas DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=dosyncdns">Recarga de Zonas DNS</a>
</td>
<td class="items">
<a href="?op=dosyncdomains"><img src="{templatedir}/images/dosyncdomains.png" alt="Syncroniza Dominios" width="32" height="32" class="item"></a>
<br>
<a href="?op=dosyncdomains">Syncroniza Dominios</a>
</td>
<td class="items">
<a href="?op=dobackup"><img src="{templatedir}/images/dobackup.png" alt="Crear Copia de Los Archivos" width="32" height="32" class="item"></a>
<br>
<a href="?op=dobackup">Crear Copia de Los Archivos</a>
</td>
<td class="items">
<a href="?op=dorestore"><img src="{templatedir}/images/dorestore.png" alt="Restaurar Copia de Los Archivos" width="32" height="32" class="item"></a>
<br>
<a href="?op=dorestore">Restaurar Copia de Los Archivos</a>
</td>
<td class="items">
<a href="?op=listbackups"><img src="{templatedir}/images/listbackups.png" alt="Lista Copias de Archivos" width="32" height="32" class="item"></a>
<br>
<a href="?op=listbackups">Lista Copias de Archivos</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=operations"><img src="{templatedir}/images/operations.png" alt="Operaciones Demonio" width="32" height="32" class="item"></a>
<br>
<a href="?op=operations">Operaciones Demonio</a>
</td>
<td class="items">
<a href="?op=options"><img src="{templatedir}/images/options.png" alt="Opciones" width="32" height="32" class="item"></a>
<br>
<a href="?op=options">Opciones</a>
</td>
<td class="items">
<a href="?op=changetemplate"><img src="{templatedir}/images/changetemplate.png" alt="Cambiar Plantilla" width="32" height="32" class="item"></a>
<br>
<a href="?op=changetemplate">Cambiar Plantilla</a>
</td>
<td class="items">
<a href="?op=changemypass"><img src="{templatedir}/images/changemypass.png" alt="Change My Password" width="32" height="32" class="item"></a>
<br>
<a href="?op=changemypass">Cambiar mi contrase&ntilde;a</a>
</td>



<td class="items">

</td>

</tr>
</table>
</td>
</tr>
</table>
<br>
<br>
&nbsp; &nbsp; {dynamicinfo}

<!-- End of homepage_reseller_en.html -->