[ req ]
prompt			= no
distinguished_name	= server_distinguished_name

[ server_distinguished_name ]
commonName		= {webserverip}
stateOrProvinceName	= Some State
countryName		= US
emailAddress		= noreply@ehcpforce.ezpz.cc
organizationName	= EHCP Force Edition
organizationalUnitName	= Dedicated Web Server
