<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operazioni Email</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemEmailforwardingsself" onclick="location.href='index.php?op=emailforwardingsself'" title="Elenco ed Inserimento Email Forwarders"><img src="templates/picante/general/images/emailforwardingsself.png" alt="Elenco ed Inserimento Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">Elenco ed Inserimento Email Forwarders</span></div></td></tr><tr class="itemRow"><td class="category">Modifica</td><td><div class="items darkText itemEditemailpassword" onclick="location.href='index.php?op=editemailuserpassword'" title="Cambio Password"><img src="templates/picante/general/images/changemypass.png" alt="Cambio Password" class="item" />
                                       <br>
                                       <span class="itemText">Cambio Password</span></div><div class="items darkText itemEditemailautoreply" onclick="location.href='index.php?op=editemailuserautoreply'" title="Cambia Messaggio di Risposta Automatica"><img src="templates/picante/general/images/addemailforwarding.png" alt="Cambia Messaggio di Risposta Automatica" class="item" />
                                       <br>
                                       <span class="itemText">Cambia Messaggio di Risposta Automatica</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>