<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operazioni Sul Dominio</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemAddsubdomain" onclick="location.href='index.php?op=addsubdomain'" title="Aggiungi Sottodominio"><img src="templates/picante/general/images/addsubdomain.png" alt="Aggiungi Sottodominio" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Sottodominio</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="HTTP Personalizzato"><img src="templates/picante/general/images/customhttp.png" alt="HTTP Personalizzato" class="item" />
                                       <br>
                                       <span class="itemText">HTTP Personalizzato</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="DNS Personalizzato"><img src="templates/picante/general/images/customdns.png" alt="DNS Personalizzato" class="item" />
                                       <br>
                                       <span class="itemText">DNS Personalizzato</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Aggiungi directory protette da password"><img src="templates/picante/general/images/directories.png" alt="Aggiungi directory protette da password" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi directory protette da password</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="Aggiungi certificato SSL"><img src="templates/picante/general/images/manage_sslcerts.png" alt="Aggiungi certificato SSL" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi certificato SSL</span></div></td></tr><tr class="itemRow"><td class="category">Modifica</td><td><div class="items darkText itemDomainapache" onclick="location.href='index.php?op=editapachetemplate'" title="Modifica Apache Template"><img src="templates/picante/general/images/editapachetemplate.png" alt="Modifica Apache Template" class="item" />
                                       <br>
                                       <span class="itemText">Modifica Apache Template</span></div><div class="items darkText itemDomaindns" onclick="location.href='index.php?op=editdnstemplate'" title="Modifica DNS Template"><img src="templates/picante/general/images/editdnstemplate.png" alt="Modifica DNS Template" class="item" />
                                       <br>
                                       <span class="itemText">Modifica DNS Template</span></div><div class="items darkText itemDomainalias" onclick="location.href='index.php?op=editdomainaliases'" title="Modifica Aliases"><img src="templates/picante/general/images/editdomainaliases.png" alt="Modifica Aliases" class="item" />
                                       <br>
                                       <span class="itemText">Modifica Aliases</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Cambia Password"><img src="templates/picante/general/images/changemypass.png" alt="Cambia Password" class="item" />
                                       <br>
                                       <span class="itemText">Cambia Password</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListsubdomains" onclick="location.href='index.php?op=subdomains'" title="Elenco Sottodomini"><img src="templates/picante/general/images/addsubdomain.png" alt="Elenco Sottodomini" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Sottodomini</span></div></td></tr><tr class="itemRow"><td class="category">Rimuovere</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Rimuovi / Lister directory protette da password"><img src="templates/picante/general/images/deldirectories.png" alt="Rimuovi / Lister directory protette da password" class="item" />
                                       <br>
                                       <span class="itemText">Rimuovi / Lister directory protette da password</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemDomainslavedns" onclick="location.href='index.php?op=addslavedns'" title="Imposta Come Slave DNS Domain"><img src="templates/picante/general/images/slavedns.png" alt="Imposta Come Slave DNS Domain" class="item" />
                                       <br>
                                       <span class="itemText">Imposta Come Slave DNS Domain</span></div><div class="items darkText itemDomainslavednsremove" onclick="location.href='index.php?op=removeslavedns'" title="Imposta Come Master DNS Domain"><img src="templates/picante/general/images/slavednsremove.png" alt="Imposta Come Master DNS Domain" class="item" />
                                       <br>
                                       <span class="itemText">Imposta Come Master DNS Domain</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operazioni FTP</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemAddftpaccountgeneral" onclick="location.href='index.php?op=addftptothispaneluser'" title="Aggiungi Utente FTP Generico"><img src="templates/picante/general/images/addftptothispaneluser.png" alt="Aggiungi Utente FTP Generico" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Utente FTP Generico</span></div><div class="items darkText itemAddftpsubdomain" onclick="location.href='index.php?op=addsubdomainwithftp'" title="Aggiungi Sottodominio e Crea Account FTP"><img src="templates/picante/general/images/addsubdomainwithftp.png" alt="Aggiungi Sottodominio e Crea Account FTP" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Sottodominio e Crea Account FTP</span></div><div class="items darkText itemAddftpsubdir" onclick="location.href='index.php?op=addsubdirectorywithftp'" title="Aggiungi Account FTP per Sottocartella"><img src="templates/picante/general/images/addsubdirectorywithftp.png" alt="Aggiungi Account FTP per Sottocartella" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Account FTP per Sottocartella</span></div></td></tr><tr class="itemRow"><td class="category">Modifica</td><td><div class="items darkText itemChangeftp" onclick="location.href='index.php?op=editftpuser'" title="Cambia Password FTP"><img src="templates/picante/general/images/editftpuser.png" alt="Cambia Password FTP" class="item" />
                                       <br>
                                       <span class="itemText">Cambia Password FTP</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="Elenco Account FTP"><img src="templates/picante/general/images/listallftpusers.png" alt="Elenco Account FTP" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Account FTP</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemNet2ftp" onclick="window.open('net2ftp')" title="File Manager"><img src="templates/picante/general/images/webftp.png" alt="File Manager" class="item" />
                                       <br>
                                       <span class="itemText">File Manager</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operazioni MySQL</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="Aggiungi Database MySQL"><img src="templates/picante/general/images/addmysqldb.png" alt="Aggiungi Database MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Database MySQL</span></div><div class="items darkText itemAddmysqluser" onclick="location.href='index.php?op=dbadduser'" title="Crea Utente MySQL"><img src="templates/picante/general/images/dbadduser.png" alt="Crea Utente MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Crea Utente MySQL</span></div><div class="items darkText itemAddmysqldbtouser" onclick="location.href='index.php?op=addmysqldbtouser'" title="Aggiungi Database MySQL per Utente"><img src="templates/picante/general/images/addmysqldbtouser.png" alt="Aggiungi Database MySQL per Utente" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Database MySQL per Utente</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="Elenco Database MySQL"><img src="templates/picante/general/images/domainop_listdb.png" alt="Elenco Database MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Database MySQL</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/picante/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operazioni Email</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="Aggiungi Account Email"><img src="templates/picante/general/images/addemailuser.png" alt="Aggiungi Account Email" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Account Email</span></div></td></tr><tr class="itemRow"><td class="category">Lista</td><td><div class="items darkText itemListemailaccountsdomain" onclick="location.href='index.php?op=listemailusers'" title="Elenco Utenti Email del Dominio"><img src="templates/picante/general/images/listemailusers.png" alt="Elenco Utenti Email del Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Utenti Email del Dominio</span></div><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="Elenco ed Inserimento Email Forwarders"><img src="templates/picante/general/images/emailforwardings.png" alt="Elenco ed Inserimento Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">Elenco ed Inserimento Email Forwarders</span></div><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="Elenco di Tutti gli Utenti Email"><img src="templates/picante/general/images/listallemailusers.png" alt="Elenco di Tutti gli Utenti Email" class="item" />
                                       <br>
                                       <span class="itemText">Elenco di Tutti gli Utenti Email</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Impostazioni</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Easy Install Scripts"><img src="templates/picante/general/images/addscript.png" alt="Easy Install Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Easy Install Scripts</span></div></td></tr><tr class="itemRow"><td class="category">Modifica</td><td><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Cambia Password"><img src="templates/picante/general/images/changemypass.png" alt="Cambia Password" class="item" />
                                       <br>
                                       <span class="itemText">Cambia Password</span></div></td></tr><tr class="itemRow"><td class="category">Rimuovere</td><td><div class="items darkText itemDeletedomain" onclick="location.href='index.php?op=deletedomain'" title="Cancella Dominio"><img src="templates/picante/general/images/deletedomain.png" alt="Cancella Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Cancella Dominio</span></div><div class="items darkText itemMovedomaintoanotheraccount" onclick="location.href='index.php?op=movedomaintoanotheraccount'" title="Trasferisci Dominio ad Altro Utente"><img src="templates/picante/general/images/transferdomain.png" alt="Trasferisci Dominio ad Altro Utente" class="item" />
                                       <br>
                                       <span class="itemText">Trasferisci Dominio ad Altro Utente</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemDomainredirect" onclick="location.href='index.php?op=addredirect'" title="Redirect Dominio"><img src="templates/picante/general/images/addredirect.png" alt="Redirect Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Redirect Dominio</span></div><div class="items darkText itemDomainedit" onclick="location.href='index.php?op=editdomain'" title="Attiva o Disattiva Dominio"><img src="templates/picante/general/images/editdomain.png" alt="Attiva o Disattiva Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Attiva o Disattiva Dominio</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>