<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Domini Ospitati su Server Esterno</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Modificare</td><td><div class="items darkText itemDomaindns" onclick="location.href='index.php?op=editdnstemplate'" title="Modifica DNS Template"><img src="templates/picante/general/images/editdnstemplate.png" alt="Modifica DNS Template" class="item" />
                                       <br>
                                       <span class="itemText">Modifica DNS Template</span></div></td></tr><tr class="itemRow"><td class="category">Rimuovere</td><td><div class="items darkText itemDeletedomain" onclick="location.href='index.php?op=deletedomain'" title="Cancella Dominio"><img src="templates/picante/general/images/deletedomain.png" alt="Cancella Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Cancella Dominio</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemDomainserverip" onclick="location.href='index.php?op=changedomainserverip'" title="Cambia IP del dominio"><img src="templates/picante/general/images/changedomainserverip.png" alt="Cambia IP del dominio" class="item" />
                                       <br>
                                       <span class="itemText">Cambia IP del dominio</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>