<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operazioni Utente</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemAddpaneluserwithpredefinedplan" onclick="location.href='index.php?op=addpaneluserwithpredefinedplan'" title="Aggiungi nuovo utente ed assegna piano di hosting"><img src="templates/picante/general/images/addpaneluserwithpredefinedplan.png" alt="Aggiungi nuovo utente ed assegna piano di hosting" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi nuovo utente ed assegna piano di hosting</span></div><div class="items darkText itemAddpaneluser" onclick="location.href='index.php?op=addpaneluser'" title="Aggiungi Nuovo Utente o Cliente"><img src="templates/picante/general/images/addpaneluser.png" alt="Aggiungi Nuovo Utente o Cliente" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Nuovo Utente o Cliente</span></div><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Easy Install Scripts"><img src="templates/picante/general/images/addscript.png" alt="Easy Install Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Easy Install Scripts</span></div></td></tr><tr class="itemRow"><td class="category">Modificare</td><td><div class="items darkText itemUpdatediskquota" onclick="location.href='index.php?op=doupdatediskquota'" title="Aggiorna Quota Disco"><img src="templates/picante/general/images/doupdatediskquota.png" alt="Aggiorna Quota Disco" class="item" />
                                       <br>
                                       <span class="itemText">Aggiorna Quota Disco</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Cambia Password"><img src="templates/picante/general/images/changemypass.png" alt="Cambia Password" class="item" />
                                       <br>
                                       <span class="itemText">Cambia Password</span></div></td></tr><tr class="itemRow"><td class="category">Visualizzare</td><td><div class="items darkText itemListusers" onclick="location.href='index.php?op=listpanelusers'" title="Elenco di Tutti gli Utenti"><img src="templates/picante/general/images/listpanelusers.png" alt="Elenco di Tutti gli Utenti" class="item" />
                                       <br>
                                       <span class="itemText">Elenco di Tutti gli Utenti</span></div></td></tr><tr class="itemRow"><td class="category">Rimuovere</td><td><div class="items darkText itemMovedomaintoanotheraccount" onclick="location.href='index.php?op=movedomaintoanotheraccount'" title="Trasferisci Dominio ad Altro Utente"><img src="templates/picante/general/images/transferdomain.png" alt="Trasferisci Dominio ad Altro Utente" class="item" />
                                       <br>
                                       <span class="itemText">Trasferisci Dominio ad Altro Utente</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemReloaddns" onclick="location.href='index.php?op=dosyncdns'" title="Ricarica Zone DNS"><img src="templates/picante/general/images/dosyncdns.png" alt="Ricarica Zone DNS" class="item" />
                                       <br>
                                       <span class="itemText">Ricarica Zone DNS</span></div><div class="items darkText itemSyncdomains" onclick="location.href='index.php?op=dosyncdomains'" title="Sincronizza Domini"><img src="templates/picante/general/images/dosyncdomains.png" alt="Sincronizza Domini" class="item" />
                                       <br>
                                       <span class="itemText">Sincronizza Domini</span></div><div class="items darkText itemContactus" onclick="location.href='index.php?op=aboutcontactus'" title="Contattaci"><img src="templates/picante/general/images/aboutcontactus.png" alt="Contattaci" class="item" />
                                       <br>
                                       <span class="itemText">Contattaci</span></div><div class="items darkText itemHelp" onclick="location.href='index.php?op=help'" title="Supporto"><img src="templates/picante/general/images/help.png" alt="Supporto" class="item" />
                                       <br>
                                       <span class="itemText">Supporto</span></div><div class="items darkText itemTodolist" onclick="location.href='index.php?op=todolist'" title="Guida Generale"><img src="templates/picante/general/images/todolist.png" alt="Guida Generale" class="item" />
                                       <br>
                                       <span class="itemText">Guida Generale</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operazioni Sul Dominio</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemAdddomaintothisuser" onclick="location.href='index.php?op=addDomainToThisPaneluser'" title="Aggiungi Dominio al Mio Account"><img src="templates/picante/general/images/adddomaintothispaneluser.png" alt="Aggiungi Dominio al Mio Account" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Dominio al Mio Account</span></div><div class="items darkText itemAdddomainbulk" onclick="location.href='index.php?op=bulkadddomain'" title="Aggiungi Domini Multipli"><img src="templates/picante/general/images/bulkadddomain.png" alt="Aggiungi Domini Multipli" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Domini Multipli</span></div><div class="items darkText itemAdduserdomain" onclick="location.href='index.php?op=adddomain'" title="Crea Utente ed Aggiungi Dominio"><img src="templates/picante/general/images/adddomain.png" alt="Crea Utente ed Aggiungi Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Crea Utente ed Aggiungi Dominio</span></div><div class="items darkText itemAdduserdomaineasy" onclick="location.href='index.php?op=adddomaineasy'" title="Creazione Rapida Utente ed Aggiungi Dominio"><img src="templates/picante/general/images/adddomaineasy.png" alt="Creazione Rapida Utente ed Aggiungi Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Creazione Rapida Utente ed Aggiungi Dominio</span></div><div class="items darkText itemAdddomaindns" onclick="location.href='index.php?op=adddnsonlydomain'" title="Aggiungi Dominio DNS"><img src="templates/picante/general/images/adddnsonlydomain.png" alt="Aggiungi Dominio DNS" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Dominio DNS</span></div><div class="items darkText itemAdddomaindnstouser" onclick="location.href='index.php?op=adddnsonlydomainwithpaneluser'" title="Aggiungi Dominio DNS a Utente"><img src="templates/picante/general/images/adddnsonlydomainwithpaneluser.png" alt="Aggiungi Dominio DNS a Utente" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Dominio DNS a Utente</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Aggiungi directory protette da password"><img src="templates/picante/general/images/directories.png" alt="Aggiungi directory protette da password" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi directory protette da password</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="HTTP Personalizzato"><img src="templates/picante/general/images/customhttp.png" alt="HTTP Personalizzato" class="item" />
                                       <br>
                                       <span class="itemText">HTTP Personalizzato</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="DNS Personalizzato"><img src="templates/picante/general/images/customdns.png" alt="DNS Personalizzato" class="item" />
                                       <br>
                                       <span class="itemText">DNS Personalizzato</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="Aggiungi certificato SSL"><img src="templates/picante/general/images/manage_sslcerts.png" alt="Aggiungi certificato SSL" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi certificato SSL</span></div></td></tr><tr class="itemRow"><td class="category">Visualizzare</td><td><div class="items darkText itemListdomains" onclick="location.href='index.php?op=selectdomain'" title="Elenco Domini"><img src="templates/picante/general/images/selectdomain.png" alt="Elenco Domini" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Domini</span></div><div class="items darkText itemListdomainspassive" onclick="location.href='index.php?op=listpassivedomains'" title="Elenco Domini Disattivati"><img src="templates/picante/general/images/listpassivedomains.png" alt="Elenco Domini Disattivati" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Domini Disattivati</span></div><div class="items darkText itemManagesubdomains" onclick="location.href='index.php?op=subdomains'" title="Gestisci Sottodomini"><img src="templates/picante/general/images/subdomains.png" alt="Gestisci Sottodomini" class="item" />
                                       <br>
                                       <span class="itemText">Gestisci Sottodomini</span></div></td></tr><tr class="itemRow"><td class="category">Rimuovere</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Rimuovi / Elenca directory protette da password"><img src="templates/picante/general/images/deldirectories.png" alt="Rimuovi / Elenca directory protette da password" class="item" />
                                       <br>
                                       <span class="itemText">Rimuovi / Elenca directory protette da password</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operazioni FTP</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemAddftpaccount" onclick="location.href='index.php?op=addftpuser'" title="Aggiungi Account FTP"><img src="templates/picante/general/images/addftpuser.png" alt="Aggiungi Account FTP" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Account FTP</span></div><div class="items darkText itemAddftpaccounttouser" onclick="location.href='index.php?op=addftptothispaneluser'" title="Aggiungi e Assegna Account FTP ad Utente"><img src="templates/picante/general/images/addftptothispaneluser.png" alt="Aggiungi e Assegna Account FTP ad Utente" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi e Assegna Account FTP ad Utente</span></div><div class="items darkText itemAddftpsubdomain" onclick="location.href='index.php?op=addsubdomainwithftp'" title="Aggiungi Sottodominio e Crea Account FTP"><img src="templates/picante/general/images/addsubdomainwithftp.png" alt="Aggiungi Sottodominio e Crea Account FTP" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Sottodominio e Crea Account FTP</span></div><div class="items darkText itemAddftpsubdir" onclick="location.href='index.php?op=addsubdirectorywithftp'" title="Aggiungi Account FTP per Sottocartella"><img src="templates/picante/general/images/addsubdirectorywithftp.png" alt="Aggiungi Account FTP per Sottocartella" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Account FTP per Sottocartella</span></div><div class="items darkText itemAddcustomftp" onclick="location.href='index.php?op=addcustomftp'" title="Aggiungi Account FTP Personalizzato"><img src="templates/picante/general/images/addcustomftp.png" alt="Aggiungi Account FTP Personalizzato" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Account FTP Personalizzato</span></div></td></tr><tr class="itemRow"><td class="category">Visualizzare</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="Elenco Account FTP"><img src="templates/picante/general/images/listallftpusers.png" alt="Elenco Account FTP" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Account FTP</span></div><div class="items darkText itemListftpaccountsbydomain" onclick="location.href='index.php?op=listftpusersrelatedtodomains'" title="Elenco Utenti FTP per Dominio"><img src="templates/picante/general/images/listftpusersrelatedtodomains.png" alt="Elenco Utenti FTP per Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Utenti FTP per Dominio</span></div><div class="items darkText itemListftpnodomain" onclick="location.href='index.php?op=listftpuserswithoutdomain'" title="Elenco Utenti FTP senza Dominio"><img src="templates/picante/general/images/listftpuserswithoutdomain.png" alt="Elenco Utenti FTP senza Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Utenti FTP senza Dominio</span></div></td></tr><tr class="itemRow"><td class="category">Rimuovere</td><td><div class="items darkText itemRemovecustomftp" onclick="location.href='index.php?op=removecustomftp'" title="Rimuovi Account FTP Personalizzato"><img src="templates/picante/general/images/removecustomftp.png" alt="Rimuovi Account FTP Personalizzato" class="item" />
                                       <br>
                                       <span class="itemText">Rimuovi Account FTP Personalizzato</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operazioni Email</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="Aggiungi Account Email"><img src="templates/picante/general/images/addemailuser.png" alt="Aggiungi Account Email" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Account Email</span></div></td></tr><tr class="itemRow"><td class="category">Visualizzare</td><td><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="Elenco ed Inserimento Email Forwarders"><img src="templates/picante/general/images/emailforwardings.png" alt="Elenco ed Inserimento Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">Elenco ed Inserimento Email Forwarders</span></div><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="Elenco di Tutti gli Utenti Email"><img src="templates/picante/general/images/listallemailusers.png" alt="Elenco di Tutti gli Utenti Email" class="item" />
                                       <br>
                                       <span class="itemText">Elenco di Tutti gli Utenti Email</span></div><div class="items darkText itemListemailaccountsdomain" onclick="location.href='index.php?op=listemailusers'" title="Elenco Utenti Email del Dominio"><img src="templates/picante/general/images/listemailusers.png" alt="Elenco Utenti Email del Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Utenti Email del Dominio</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Operazioni MySQL</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="Aggiungi Database MySQL"><img src="templates/picante/general/images/addmysqldb.png" alt="Aggiungi Database MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Database MySQL</span></div><div class="items darkText itemAddmysqluser" onclick="location.href='index.php?op=dbadduser'" title="Crea Utente MySQL"><img src="templates/picante/general/images/dbadduser.png" alt="Crea Utente MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Crea Utente MySQL</span></div><div class="items darkText itemAddmysqldbtouser" onclick="location.href='index.php?op=addmysqldbtouser'" title="Aggiungi Database MySQL per Utente"><img src="templates/picante/general/images/addmysqldbtouser.png" alt="Aggiungi Database MySQL per Utente" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Database MySQL per Utente</span></div></td></tr><tr class="itemRow"><td class="category">Visualizzare</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="Elenco Database MySQL"><img src="templates/picante/general/images/domainop_listdb.png" alt="Elenco Database MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Database MySQL</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">EHCP Server - Stato e Info</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Aggiungere</td><td><div class="items darkText itemAddremotebackup" onclick="location.href='index.php?op=addremotebackup'" title="Pianifica Backup Remoto"><img src="templates/picante/general/images/addremotebackup.png" alt="Pianifica Backup Remoto" class="item" />
                                       <br>
                                       <span class="itemText">Pianifica Backup Remoto</span></div><div class="items darkText itemAddcronjob" onclick="location.href='index.php?op=addcronjob'" title="Aggiungi Operazione Pianificata del Server"><img src="templates/picante/general/images/addcronjob.png" alt="Aggiungi Operazione Pianificata del Server" class="item" />
                                       <br>
                                       <span class="itemText">Aggiungi Operazione Pianificata del Server</span></div></td></tr><tr class="itemRow"><td class="category">Modificare</td><td><div class="items darkText itemChangetheme" onclick="location.href='index.php?op=changetemplate'" title="Cambia Tema"><img src="templates/picante/general/images/changetemplate.png" alt="Cambia Tema" class="item" />
                                       <br>
                                       <span class="itemText">Cambia Tema</span></div><div class="items darkText itemManageglobalwebtemplates" onclick="location.href='index.php?op=manageglobalwebtemplates'" title="Gestisci Modelli del Server Web"><img src="templates/picante/general/images/manageglobalwebtemplates.png" alt="Gestisci Modelli del Server Web" class="item" />
                                       <br>
                                       <span class="itemText">Gestisci Modelli del Server Web</span></div></td></tr><tr class="itemRow"><td class="category">Visualizzare</td><td><div class="items darkText itemServerbackuplist" onclick="location.href='index.php?op=listbackups'" title="Elenco Backup"><img src="templates/picante/general/images/listbackups.png" alt="Elenco Backup" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Backup</span></div></td></tr><tr class="itemRow"><td class="category">Rimuovere</td><td><div class="items darkText itemRemoveremotebackup" onclick="location.href='index.php?op=removeremotebackup'" title="Gestisci Backup Remoto;"><img src="templates/picante/general/images/removeremotebackup.png" alt="Gestisci Backup Remoto;" class="item" />
                                       <br>
                                       <span class="itemText">Gestisci Backup Remoto;</span></div><div class="items darkText itemRemovecronjob" onclick="location.href='index.php?op=removecronjob'" title="Rimuovi Operazione Pianificata del Server"><img src="templates/picante/general/images/removecronjob.png" alt="Rimuovi Operazione Pianificata del Server" class="item" />
                                       <br>
                                       <span class="itemText">Rimuovi Operazione Pianificata del Server</span></div></td></tr><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemServeroperations" onclick="location.href='index.php?op=operations'" title="Elenco Attività"><img src="templates/picante/general/images/operations.png" alt="Elenco Attività" class="item" />
                                       <br>
                                       <span class="itemText">Elenco Attività</span></div><div class="items darkText itemServerbackup" onclick="location.href='index.php?op=dobackup'" title="Crea Backup"><img src="templates/picante/general/images/dobackup.png" alt="Crea Backup" class="item" />
                                       <br>
                                       <span class="itemText">Crea Backup</span></div><div class="items darkText itemServerbackuprestore" onclick="location.href='index.php?op=dorestore'" title="Ripristina Backup"><img src="templates/picante/general/images/dorestore.png" alt="Ripristina Backup" class="item" />
                                       <br>
                                       <span class="itemText">Ripristina Backup</span></div><div class="items darkText itemServeroptions" onclick="location.href='index.php?op=options'" title="Opzioni"><img src="templates/picante/general/images/options.png" alt="Opzioni" class="item" />
                                       <br>
                                       <span class="itemText">Opzioni</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Utilities</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Sistema</td><td><div class="items darkText itemWebmail" onclick="window.open('webmail')" title="Webmail Client"><img src="templates/picante/general/images/launchmail.png" alt="Webmail Client" class="item" />
                                       <br>
                                       <span class="itemText">Webmail Client</span></div><div class="items darkText itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/picante/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div><div class="items darkText itemNet2ftp" onclick="window.open('net2ftp')" title="File Manager"><img src="templates/picante/general/images/webftp.png" alt="File Manager" class="item" />
                                       <br>
                                       <span class="itemText">File Manager</span></div><div class="items darkText itemExtplorer" onclick="window.open('extplorer')" title="Extplorer File Manager"><img src="templates/picante/general/images/extplorer.png" alt="Extplorer File Manager" class="item" />
                                       <br>
                                       <span class="itemText">Extplorer File Manager</span></div><div class="items darkText itemPolicyd" onclick="window.open('policyd')" title="Policyd Management"><img src="templates/picante/general/images/policyd.png" alt="Policyd Management" class="item" />
                                       <br>
                                       <span class="itemText">Policyd Management</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>