<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Reseller Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddpaneluser" onclick="location.href='?op=addpaneluser'" title="Add New User or Client"><img src="templates/ep-ic/general/images/addpaneluser.png" alt="Add New User or Client" class="item" />
                                       <br>
                                       <span class="itemText">Add New User or Client</span></div><div class="items itemListusers" onclick="location.href='?op=listpanelusers'" title="List Panel Users"><img src="templates/ep-ic/general/images/listpanelusers.png" alt="List All Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Users</span></div><div class="items itemReloaddns" onclick="location.href='?op=dosyncdns'" title="Reload DNS Zones"><img src="templates/ep-ic/general/images/dosyncdns.png" alt="Reload DNS Zones" class="item" />
                                       <br>
                                       <span class="itemText">Reload DNS Zones</span></div><div class="items itemSyncdomains" onclick="location.href='?op=dosyncdomains'" title="Synchronize Domains"><img src="templates/ep-ic/general/images/dosyncdomains.png" alt="Synchronize Domains" class="item" />
                                       <br>
                                       <span class="itemText">Synchronize Domains</span></div><div class="items itemUpdatediskquota" onclick="location.href='?op=doupdatediskquota'" title="Update Disk Quota"><img src="templates/ep-ic/general/images/doupdatediskquota.png" alt="Update Disk Quota" class="item" />
                                       <br>
                                       <span class="itemText">Update Disk Quota</span></div><div class="items itemEasyinstallscripts" onclick="location.href='?op=addscript'" title="Easy Install Scripts"><img src="templates/ep-ic/general/images/addscript.png" alt="Easy Install Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Easy Install Scripts</span></div><div class="items itemContactus" onclick="location.href='?op=aboutcontactus'" title="Contact Us"><img src="templates/ep-ic/general/images/aboutcontactus.png" alt="Email Us" class="item" />
                                       <br>
                                       <span class="itemText">Email Us</span></div><div class="items itemHelp" onclick="location.href='?op=help'" title="General Help"><img src="templates/ep-ic/general/images/help.png" alt="General Help" class="item" />
                                       <br>
                                       <span class="itemText">General Help</span></div><div class="items itemTodolist" onclick="location.href='?op=todolist'" title="To Do List"><img src="templates/ep-ic/general/images/todolist.png" alt="To Do List" class="item" />
                                       <br>
                                       <span class="itemText">To Do List</span></div><div class="items itemChangemypass" onclick="location.href='?op=changemypass'" title="Change My Password"><img src="templates/ep-ic/general/images/changemypass.png" alt="Change My Password" class="item" />
                                       <br>
                                       <span class="itemText">Change My Password</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Domain Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAdddomaintothisuser" onclick="location.href='?op=addDomainToThisPaneluser'" title="Add Domain to My Account"><img src="templates/ep-ic/general/images/adddomaintothispaneluser.png" alt="Add Domain to My Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Domain to My Account</span></div><div class="items itemAdduserdomain" onclick="location.href='?op=adddomain'" title="Create User and Add Domain"><img src="templates/ep-ic/general/images/adddomain.png" alt="Create User and Add Domain" class="item" />
                                       <br>
                                       <span class="itemText">Create User and Add Domain</span></div><div class="items itemAdduserdomaineasy" onclick="location.href='?op=adddomaineasy'" title="Easy Create User and Add Domain"><img src="templates/ep-ic/general/images/adddomaineasy.png" alt="Easy Create User and Add Domain" class="item" />
                                       <br>
                                       <span class="itemText">Easy Create User and Add Domain</span></div><div class="items itemAddsubdomain" onclick="location.href='?op=addsubdomain'" title="Add Subdomain"><img src="templates/ep-ic/general/images/addsubdomain.png" alt="Add Subdomain" class="item" />
                                       <br>
                                       <span class="itemText">Add Subdomain</span></div><div class="items itemListdomains" onclick="location.href='?op=selectdomain'" title="List Domains"><img src="templates/ep-ic/general/images/selectdomain.png" alt="List Domains" class="item" />
                                       <br>
                                       <span class="itemText">List Domains</span></div><div class="items itemListdomainspassive" onclick="location.href='?op=listpassivedomains'" title="List Passive Domains"><img src="templates/ep-ic/general/images/listpassivedomains.png" alt="List Passive Domains" class="item" />
                                       <br>
                                       <span class="itemText">List Passive Domains</span></div><div class="items itemAddpasswordprotecteddir" onclick="location.href='?op=addpasswordprotecteddir'" title="Add Password Protected Directories"><img src="templates/ep-ic/general/images/directories.png" alt="Add Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Add Password Protected Directories</span></div><div class="items itemRmpasswordprotecteddir" onclick="location.href='?op=rmpasswordprotecteddir'" title="Remove / List Password Protected Directories"><img src="templates/ep-ic/general/images/deldirectories.png" alt="Remove / List Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Remove / List Password Protected Directories</span></div><div class="items itemCustomdns" onclick="location.href='?op=customdns'" title="Custom DNS"><img src="templates/ep-ic/general/images/customdns.png" alt="Custom DNS" class="item" />
                                       <br>
                                       <span class="itemText">Custom DNS</span></div><div class="items itemCustomhttp" onclick="location.href='?op=customhttp'" title="Custom HTTP"><img src="templates/ep-ic/general/images/customhttp.png" alt="Custom HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Custom HTTP</span></div><div class="items itemAdddomainsslcert" onclick="location.href='?op=adddomainsslcert'" title="Add SSL Certificate"><img src="templates/ep-ic/general/images/manage_sslcerts.png" alt="Add SSL Certificate" class="item" />
                                       <br>
                                       <span class="itemText">Add SSL Certificate</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">FTP Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddftpaccount" onclick="location.href='?op=addftpuser'" title="Add FTP Account"><img src="templates/ep-ic/general/images/addftpuser.png" alt="Add FTP Account" class="item" />
                                       <br>
                                       <span class="itemText">Add FTP Account</span></div><div class="items itemListftpaccounts" onclick="location.href='?op=listallftpusers'" title="List FTP Accounts"><img src="templates/ep-ic/general/images/listallftpusers.png" alt="List FTP Accounts" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Accounts</span></div><div class="items itemListftpaccountsbydomain" onclick="location.href='?op=listftpusersrelatedtodomains'" title="List FTP Users By Domain"><img src="templates/ep-ic/general/images/listftpusersrelatedtodomains.png" alt="List FTP Users By Domain" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Users By Domain</span></div><div class="items itemListftpnodomain" onclick="location.href='?op=listftpuserswithoutdomain'" title="List FTP Users Without Domain"><img src="templates/ep-ic/general/images/listftpuserswithoutdomain.png" alt="List FTP Users Without Domain" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Users Without Domain</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Email Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddemailaccount" onclick="location.href='?op=addemailuser'" title="Add Email Account"><img src="templates/ep-ic/general/images/addemailuser.png" alt="Add Email Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Email Account</span></div><div class="items itemListemailaccounts" onclick="location.href='?op=listallemailusers'" title="List All Email Users"><img src="templates/ep-ic/general/images/listallemailusers.png" alt="List All Email Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Email Users</span></div><div class="items itemListemailforward" onclick="location.href='?op=emailforwardings'" title="List &amp; Add Email Forwarders"><img src="templates/ep-ic/general/images/emailforwardings.png" alt="List &amp; Add Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">List &amp; Add Email Forwarders</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">MySQL Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddmysqldb" onclick="location.href='?op=addmysqldb'" title="Add MySQL Databases"><img src="templates/ep-ic/general/images/addmysqldb.png" alt="Add MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Databases</span></div><div class="items itemListmysqldb" onclick="location.href='?op=domainop&action=listdb'" title="List MySQL Databases"><img src="templates/ep-ic/general/images/domainop_listdb.png" alt="List MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">List MySQL Databases</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>