<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Reseller Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddpaneluserwithpredefinedplan" onclick="location.href='?op=addpaneluserwithpredefinedplan'" title="Add New User w/ Hosting Template"><img src="templates/ep-ic/general/images/addpaneluserwithpredefinedplan.png" alt="Add New User w/ Hosting Template" class="item" />
                                       <br>
                                       <span class="itemText">Add New User w/ Hosting Template</span></div><div class="items itemAddpaneluser" onclick="location.href='?op=addpaneluser'" title="Add New User or Client"><img src="templates/ep-ic/general/images/addpaneluser.png" alt="Add New User or Client" class="item" />
                                       <br>
                                       <span class="itemText">Add New User or Client</span></div><div class="items itemListusers" onclick="location.href='?op=listpanelusers'" title="List Panel Users"><img src="templates/ep-ic/general/images/listpanelusers.png" alt="List All Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Users</span></div><div class="items itemAddemailaccount" onclick="location.href='?op=addemailuser'" title="Add Email Account"><img src="templates/ep-ic/general/images/addemailuser.png" alt="Add Email Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Email Account</span></div><div class="items itemListemailaccounts" onclick="location.href='?op=listallemailusers'" title="List All Email Users"><img src="templates/ep-ic/general/images/listallemailusers.png" alt="List All Email Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Email Users</span></div><div class="items itemAddmysqldb" onclick="location.href='?op=addmysqldb'" title="Add MySQL Databases"><img src="templates/ep-ic/general/images/addmysqldb.png" alt="Add MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Databases</span></div><div class="items itemAddmysqldbtouser" onclick="location.href='?op=addmysqldbtouser'" title="Add MySQL Database To User"><img src="templates/ep-ic/general/images/addmysqldbtouser.png" alt="Add MySQL Database To User" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Database To User</span></div><div class="items itemAddmysqluser" onclick="location.href='?op=dbadduser'" title="Create MySQL User"><img src="templates/ep-ic/general/images/dbadduser.png" alt="Create MySQL User" class="item" />
                                       <br>
                                       <span class="itemText">Create MySQL User</span></div><div class="items itemListmysqldb" onclick="location.href='?op=domainop&action=listdb'" title="List MySQL Databases"><img src="templates/ep-ic/general/images/domainop_listdb.png" alt="List MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">List MySQL Databases</span></div><div class="items itemListftpaccounts" onclick="location.href='?op=listallftpusers'" title="List FTP Accounts"><img src="templates/ep-ic/general/images/listallftpusers.png" alt="List FTP Accounts" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Accounts</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Domain Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAdddomaintothisuser" onclick="location.href='?op=addDomainToThisPaneluser'" title="Add Domain to My Account"><img src="templates/ep-ic/general/images/adddomaintothispaneluser.png" alt="Add Domain to My Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Domain to My Account</span></div><div class="items itemAdddomainbulk" onclick="location.href='?op=bulkadddomain'" title="Bulk Add Domains To My Account"><img src="templates/ep-ic/general/images/bulkadddomain.png" alt="Add Bulk Domains to My Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Bulk Domains to My Account</span></div><div class="items itemAdddomaindns" onclick="location.href='?op=adddnsonlydomain'" title="Add DNS Domain"><img src="templates/ep-ic/general/images/adddnsonlydomain.png" alt="Add DNS Domain" class="item" />
                                       <br>
                                       <span class="itemText">Add DNS Domain</span></div><div class="items itemAdddomaindnstouser" onclick="location.href='?op=adddnsonlydomainwithpaneluser'" title="Add DNS Domain To User"><img src="templates/ep-ic/general/images/adddnsonlydomainwithpaneluser.png" alt="Add DNS Domain To User" class="item" />
                                       <br>
                                       <span class="itemText">Add DNS Domain To User</span></div><div class="items itemListdomains" onclick="location.href='?op=selectdomain'" title="List Domains"><img src="templates/ep-ic/general/images/selectdomain.png" alt="List Domains" class="item" />
                                       <br>
                                       <span class="itemText">List Domains</span></div><div class="items itemListdomainspassive" onclick="location.href='?op=listpassivedomains'" title="List Passive Domains"><img src="templates/ep-ic/general/images/listpassivedomains.png" alt="List Passive Domains" class="item" />
                                       <br>
                                       <span class="itemText">List Passive Domains</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Utilities</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemWebmail" onclick="window.open('webmail')" title="Webmail Client"><img src="templates/ep-ic/general/images/launchmail.png" alt="Webmail Client" class="item" />
                                       <br>
                                       <span class="itemText">Webmail Client</span></div><div class="items itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/ep-ic/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div><div class="items itemNet2ftp" onclick="window.open('net2ftp')" title="File Manager (net2ftp)"><img src="templates/ep-ic/general/images/webftp.png" alt="File Manager" class="item" />
                                       <br>
                                       <span class="itemText">File Manager</span></div><div class="items itemExtplorer" onclick="window.open('extplorer')" title="Extplorer File Manager"><img src="templates/ep-ic/general/images/extplorer.png" alt="Extplorer File Manager" class="item" />
                                       <br>
                                       <span class="itemText">Extplorer File Manager</span></div><div class="items itemPolicyd" onclick="window.open('policyd')" title="Policyd Management"><img src="templates/ep-ic/general/images/policyd.png" alt="Policyd Management" class="item" />
                                       <br>
                                       <span class="itemText">Policyd Management</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">System Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemServeroperations" onclick="location.href='?op=operations'" title="Daemon Operations"><img src="templates/ep-ic/general/images/operations.png" alt="Daemon Operations" class="item" />
                                       <br>
                                       <span class="itemText">Daemon Operations</span></div><div class="items itemServeroptions" onclick="location.href='?op=options'" title="Options"><img src="templates/ep-ic/general/images/options.png" alt="Options" class="item" />
                                       <br>
                                       <span class="itemText">Options</span></div><div class="items itemReloaddns" onclick="location.href='?op=dosyncdns'" title="Reload DNS Zones"><img src="templates/ep-ic/general/images/dosyncdns.png" alt="Reload DNS Zones" class="item" />
                                       <br>
                                       <span class="itemText">Reload DNS Zones</span></div><div class="items itemSyncdomains" onclick="location.href='?op=dosyncdomains'" title="Synchronize Domains"><img src="templates/ep-ic/general/images/dosyncdomains.png" alt="Synchronize Domains" class="item" />
                                       <br>
                                       <span class="itemText">Synchronize Domains</span></div><div class="items itemServerbackup" onclick="location.href='?op=dobackup'" title="Create Backup"><img src="templates/ep-ic/general/images/dobackup.png" alt="Create Backup" class="item" />
                                       <br>
                                       <span class="itemText">Create Backup</span></div><div class="items itemServerbackuplist" onclick="location.href='?op=listbackups'" title="List Backups"><img src="templates/ep-ic/general/images/listbackups.png" alt="List Backups" class="item" />
                                       <br>
                                       <span class="itemText">List Backups</span></div><div class="items itemServerbackuprestore" onclick="location.href='?op=dorestore'" title="Restore Backup"><img src="templates/ep-ic/general/images/dorestore.png" alt="Restore Backup" class="item" />
                                       <br>
                                       <span class="itemText">Restore Backup</span></div><div class="items itemChangetheme" onclick="location.href='?op=changetemplate'" title="Change Theme AKA Template"><img src="templates/ep-ic/general/images/changetemplate.png" alt="Change Theme" class="item" />
                                       <br>
                                       <span class="itemText">Change Theme</span></div><div class="items itemChangemypass" onclick="location.href='?op=changemypass'" title="Change My Password"><img src="templates/ep-ic/general/images/changemypass.png" alt="Change My Password" class="item" />
                                       <br>
                                       <span class="itemText">Change My Password</span></div><div class="items itemAddhostingplan" onclick="location.href='?op=addhostingplan'" title="Add Hosting Plan Template"><img src="templates/ep-ic/general/images/addhostingplan.png" alt="Add Hosting Plan Template" class="item" />
                                       <br>
                                       <span class="itemText">Add Hosting Plan Template</span></div><div class="items itemRemovehostingplan" onclick="location.href='?op=removehostingplan'" title="Remove Hosting Plan Template(s)"><img src="templates/ep-ic/general/images/removehostingplan.png" alt="Remove Hosting Plan Template(s)" class="item" />
                                       <br>
                                       <span class="itemText">Remove Hosting Plan Template(s)</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>