<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Email Account Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemEditemailpassword" onclick="location.href='?op=editemailuserpassword'" title="Change Email Password"><img src="templates/ep-ic/general/images/changemypass.png" alt="Change Email Password" class="item" />
                                       <br>
                                       <span class="itemText">Change Email Password</span></div><div class="items itemEditemailautoreply" onclick="location.href='?op=editemailuserautoreply'" title="Change Auto Reply Message"><img src="templates/ep-ic/general/images/addemailforwarding.png" alt="Change Auto Reply Message" class="item" />
                                       <br>
                                       <span class="itemText">Change Auto Reply Message</span></div><div class="items itemEmailforwardingsself" onclick="location.href='?op=emailforwardingsself'" title="List and Add Forwarders"><img src="templates/ep-ic/general/images/emailforwardingsself.png" alt="List and Add Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">List and Add Forwarders</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>