<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Remotely Hosted Domain Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemDomainserverip" onclick="location.href='?op=changedomainserverip'" title="Change Domain Server IP"><img src="templates/ep-ic/general/images/changedomainserverip.png" alt="Change Domain Server IP" class="item" />
                                       <br>
                                       <span class="itemText">Change Domain Server IP</span></div><div class="items itemDomaindns" onclick="location.href='?op=editdnstemplate'" title="Edit DNS Template"><img src="templates/ep-ic/general/images/editdnstemplate.png" alt="Edit DNS Template" class="item" />
                                       <br>
                                       <span class="itemText">Edit DNS Template</span></div><div class="items itemDeletedomain" onclick="location.href='?op=deletedomain'" title="Delete Domain"><img src="templates/ep-ic/general/images/deletedomain.png" alt="Delete Domain" class="item" />
                                       <br>
                                       <span class="itemText">Delete Domain</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>