<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Domain Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddsubdomain" onclick="location.href='?op=addsubdomain'" title="Add Subdomain"><img src="templates/ep-ic/general/images/addsubdomain.png" alt="Add Subdomain" class="item" />
                                       <br>
                                       <span class="itemText">Add Subdomain</span></div><div class="items itemListsubdomains" onclick="location.href='?op=subdomains'" title="List Subdomains"><img src="templates/ep-ic/general/images/addsubdomain.png" alt="List Subdomains" class="item" />
                                       <br>
                                       <span class="itemText">List Subdomains</span></div><div class="items itemDomainapache" onclick="location.href='?op=editapachetemplate'" title="Edit Apache Template"><img src="templates/ep-ic/general/images/editapachetemplate.png" alt="Edit Apache Template" class="item" />
                                       <br>
                                       <span class="itemText">Edit Apache Template</span></div><div class="items itemDomaindns" onclick="location.href='?op=editdnstemplate'" title="Edit DNS Template"><img src="templates/ep-ic/general/images/editdnstemplate.png" alt="Edit DNS Template" class="item" />
                                       <br>
                                       <span class="itemText">Edit DNS Template</span></div><div class="items itemCustomhttp" onclick="location.href='?op=customhttp'" title="Custom HTTP"><img src="templates/ep-ic/general/images/customhttp.png" alt="Custom HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Custom HTTP</span></div><div class="items itemCustomdns" onclick="location.href='?op=customdns'" title="Custom DNS"><img src="templates/ep-ic/general/images/customdns.png" alt="Custom DNS" class="item" />
                                       <br>
                                       <span class="itemText">Custom DNS</span></div><div class="items itemDomainslavedns" onclick="location.href='?op=addslavedns'" title="Set as Slave DNS Domain"><img src="templates/ep-ic/general/images/slavedns.png" alt="Set as Slave DNS Domain" class="item" />
                                       <br>
                                       <span class="itemText">Set as Slave DNS Domain</span></div><div class="items itemDomainslavednsremove" onclick="location.href='?op=removeslavedns'" title="Set as Master DNS Domain"><img src="templates/ep-ic/general/images/slavednsremove.png" alt="Set as Master DNS Domain" class="item" />
                                       <br>
                                       <span class="itemText">Set as Master DNS Domain</span></div><div class="items itemDomainalias" onclick="location.href='?op=editdomainaliases'" title="Edit Aliases"><img src="templates/ep-ic/general/images/editdomainaliases.png" alt="Edit Aliases" class="item" />
                                       <br>
                                       <span class="itemText">Edit Aliases</span></div><div class="items itemAddpasswordprotecteddir" onclick="location.href='?op=addpasswordprotecteddir'" title="Add Password Protected Directories"><img src="templates/ep-ic/general/images/directories.png" alt="Add Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Add Password Protected Directories</span></div><div class="items itemRmpasswordprotecteddir" onclick="location.href='?op=rmpasswordprotecteddir'" title="Remove / List Password Protected Directories"><img src="templates/ep-ic/general/images/deldirectories.png" alt="Remove / List Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Remove / List Password Protected Directories</span></div><div class="items itemChangemypass" onclick="location.href='?op=changemypass'" title="Change My Password"><img src="templates/ep-ic/general/images/changemypass.png" alt="Change My Password" class="item" />
                                       <br>
                                       <span class="itemText">Change My Password</span></div><div class="items itemAdddomainsslcert" onclick="location.href='?op=adddomainsslcert'" title="Add SSL Certificate"><img src="templates/ep-ic/general/images/manage_sslcerts.png" alt="Add SSL Certificate" class="item" />
                                       <br>
                                       <span class="itemText">Add SSL Certificate</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">FTP Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemChangeftp" onclick="location.href='?op=editftpuser'" title="Change FTP Password"><img src="templates/ep-ic/general/images/editftpuser.png" alt="Change FTP Password" class="item" />
                                       <br>
                                       <span class="itemText">Change FTP Password</span></div><div class="items itemAddftpaccountgeneral" onclick="location.href='?op=addftptothispaneluser'" title="Add General FTP User"><img src="templates/ep-ic/general/images/addftptothispaneluser.png" alt="Add General FTP User" class="item" />
                                       <br>
                                       <span class="itemText">Add General FTP User</span></div><div class="items itemAddftpsubdomain" onclick="location.href='?op=addsubdomainwithftp'" title="Add Subdomain and Create FTP Account"><img src="templates/ep-ic/general/images/addsubdomainwithftp.png" alt="Add Subdomain and Create FTP Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Subdomain and Create FTP Account</span></div><div class="items itemAddftpsubdir" onclick="location.href='?op=addsubdirectorywithftp'" title="Add Subdirectory FTP Account"><img src="templates/ep-ic/general/images/addsubdirectorywithftp.png" alt="Add Subdirectory FTP Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Subdirectory FTP Account</span></div><div class="items itemListftpaccounts" onclick="location.href='?op=listallftpusers'" title="List FTP Accounts"><img src="templates/ep-ic/general/images/listallftpusers.png" alt="List FTP Accounts" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Accounts</span></div><div class="items itemNet2ftp" onclick="window.open('net2ftp')" title="File Manager (net2ftp)"><img src="templates/ep-ic/general/images/webftp.png" alt="File Manager" class="item" />
                                       <br>
                                       <span class="itemText">File Manager</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">MySQL Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddmysqldb" onclick="location.href='?op=addmysqldb'" title="Add MySQL Databases"><img src="templates/ep-ic/general/images/addmysqldb.png" alt="Add MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Databases</span></div><div class="items itemAddmysqluser" onclick="location.href='?op=dbadduser'" title="Create MySQL User"><img src="templates/ep-ic/general/images/dbadduser.png" alt="Create MySQL User" class="item" />
                                       <br>
                                       <span class="itemText">Create MySQL User</span></div><div class="items itemAddmysqldbtouser" onclick="location.href='?op=addmysqldbtouser'" title="Add MySQL Database To User"><img src="templates/ep-ic/general/images/addmysqldbtouser.png" alt="Add MySQL Database To User" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Database To User</span></div><div class="items itemListmysqldb" onclick="location.href='?op=domainop&action=listdb'" title="List MySQL Databases"><img src="templates/ep-ic/general/images/domainop_listdb.png" alt="List MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">List MySQL Databases</span></div><div class="items itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/ep-ic/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Email Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddemailaccount" onclick="location.href='?op=addemailuser'" title="Add Email Account"><img src="templates/ep-ic/general/images/addemailuser.png" alt="Add Email Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Email Account</span></div><div class="items itemListemailaccounts" onclick="location.href='?op=listallemailusers'" title="List All Email Users"><img src="templates/ep-ic/general/images/listallemailusers.png" alt="List All Email Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Email Users</span></div><div class="items itemListemailforward" onclick="location.href='?op=emailforwardings'" title="List &amp; Add Email Forwarders"><img src="templates/ep-ic/general/images/emailforwardings.png" alt="List &amp; Add Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">List &amp; Add Email Forwarders</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">My Settings</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemDefaultdomain" onclick="location.href='?op=setdefaultdomain'" title="Set As Default Domain"><img src="templates/ep-ic/general/images/setdefaultdomain.png" alt="Set As Default Domain" class="item" />
                                       <br>
                                       <span class="itemText">Set As Default Domain</span></div><div class="items itemDomainredirect" onclick="location.href='?op=addredirect'" title="Redirect Domains"><img src="templates/ep-ic/general/images/addredirect.png" alt="Redirect Domains" class="item" />
                                       <br>
                                       <span class="itemText">Redirect Domains</span></div><div class="items itemDomainedit" onclick="location.href='?op=editdomain'" title="Activate or Deactivate Domain"><img src="templates/ep-ic/general/images/editdomain.png" alt="Activate or Deactivate Domain" class="item" />
                                       <br>
                                       <span class="itemText">Activate or Deactivate Domain</span></div><div class="items itemDomaintransfer" onclick="location.href='?op=transferdomain'" title="Transfer Domain to Another User"><img src="templates/ep-ic/general/images/transferdomain.png" alt="Transfer Domain to Another User" class="item" />
                                       <br>
                                       <span class="itemText">Transfer Domain to Another User</span></div><div class="items itemDeletedomain" onclick="location.href='?op=deletedomain'" title="Delete Domain"><img src="templates/ep-ic/general/images/deletedomain.png" alt="Delete Domain" class="item" />
                                       <br>
                                       <span class="itemText">Delete Domain</span></div><div class="items itemEasyinstallscripts" onclick="location.href='?op=addscript'" title="Easy Install Scripts"><img src="templates/ep-ic/general/images/addscript.png" alt="Easy Install Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Easy Install Scripts</span></div><div class="items itemChangemypass" onclick="location.href='?op=changemypass'" title="Change My Password"><img src="templates/ep-ic/general/images/changemypass.png" alt="Change My Password" class="item" />
                                       <br>
                                       <span class="itemText">Change My Password</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>