<!-- Start of homepage_remotehosting_dnsonly_fr.html -->
<a name="domainOps"></a>
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="remote">
<tr class="display">
<td class="subText">
<span class="title">Domaines H&eacute;berg&eacute;s &aacute; Distance</span>
<img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('remote'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Change:</p>
</td>
<td class="items">
<a href="?op=changedomainserverip" title="Changer Domaine IP"><img src="{templatedir}/images/changedomainserverip.png" alt="Changer Domaine IP" width="32" height="32" class="item"></a>
<br>
<a href="?op=changedomainserverip" title="Changer Domaine IP">Changer Domaine IP</a>
</td>

<td class="items">
<a href="?op=editdnstemplate" title="Changer Le Mod&egrave;le DNS"><img src="{templatedir}/images/editdnstemplate.png" alt="Changer Le Mod&egrave;le DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=editdnstemplate" title="Changer Le Mod&egrave;le DNS">Changer Le Mod&egrave;le DNS</a>
</td>
<td class="items">
<a href="?op=deletedomain" title="Effacez le Domaine"><img src="{templatedir}/images/deletedomain.png" alt="Effacez le Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=deletedomain" title="Effacez le Domaine">Effacez le Domaine</a>
</td>
<td class="items">

</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!-- End of homepage_remotehosting_dnsonly_fr.html -->