<!-- Start of Homepagedomain_admin_forreseller_fr.html -->

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="domain">
<tr class="display">
<td class="subText">
<a name="domainOps"></a>
<span class="title">Op&eacute;rations Des Domaines</span>
<img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('domain'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Changer:</p>
</td>
<td class="items">
<a href="?op=addsubdomain" title="Add SubDomains"><img src="{templatedir}/images/addsubdomain.png" alt="Ajouter Un Sous-Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdomain" title="Ajouter Un Sous-Domaine">Ajouter Un Sous-Domaine</a>
</td>

<td class="items">
<a href="?op=addcustomhttp" title="Personnaliser HTTP"><img src="{templatedir}/images/addcustomhttp.png" alt="Personnaliser HTTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=addcustomhttp" title="Personnaliser HTTP">Personnaliser HTTP</a>
</td>
<td class="items">
<a href="?op=customdns" title="Personnaliser DNS"><img src="{templatedir}/images/addcustomdns.png" alt="Personnaliser DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=customdns" title="Personnaliser DNS">Personnaliser DNS</a>
</td>
<td class="items">
<a href="?op=adddirectory" title="R&eacute;pertoires Prot&eacute;g&eacute;s (par mot de passe)"><img src="{templatedir}/images/adddirectory.png" alt="R&eacute;pertoires Prot&eacute;g&eacute;s (par mot de passe)" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddirectory" title="R&eacute;pertoires Prot&eacute;g&eacute;s (par mot de passe)">R&eacute;pertoires Prot&eacute;g&eacute;s (par mot de passe)</a>
</td>
<td class="items">
<a href="?op=editdnstemplate" title="Changer Le Mod&egrave;le DNS"><img src="{templatedir}/images/editdnstemplate.png" alt="Changer Le Mod&egrave;le DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=editdnstemplate" title="Changer Le Mod&egrave;le DNS">Changer Le Mod&egrave;le DNS</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=editapachetemplate" title="Changer Le Mod&egrave;le Apache"><img src="{templatedir}/images/editapachetemplate.png" alt="Changer Le Mod&egrave;le Apache" width="32" height="32" class="item"></a>
<br>
<a href="?op=editapachetemplate" title="Changer Le Mod&egrave;le Apache">Changer Le Mod&egrave;le Apache</a>
</td>
<td class="items">
<a href="?op=editdomainaliases" title="Changer Alias D'un Domaine"><img src="{templatedir}/images/editdomainaliases.gif" alt="Changer Alias D'un Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=editdomainaliases" title="Changer Alias D'un Domaine">Changer Alias D'un Domaine</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
<tr>
<td class="items">
<p class="title3">Regarder:</p>
</td>
<td class="items">
<a href="?op=subdomains" title="Liste de Mes Sous-Domaines"><img src="{templatedir}/images/subdomains.png" alt="Liste de Mes Sous-Domaines" width="32" height="32" class="item"></a>
<br>
<a href="?op=subdomains" title="Liste de Mes Sous-Domaines">Liste de Mes Sous-Domaines</a>
</td>
<td class="items">
<a href="?op=customhttp" title="List Custom http"><img src="{templatedir}/images/customhttp.png" alt="Show Custom HTTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=customhttp" title="List Custom http">Montrer HTTP Personalis&eacute;</a>
</td>
<td class="items">
<a href="?op=customdns" title="Montrer DNS Personalis&eacute;"><img src="{templatedir}/images/customdns.png" alt="Montrer DNS Personalis&eacute;" width="32" height="32" class="item"></a>
<br>
<a href="?op=customdns" title="Montrer DNS Personalis&eacute;">Montrer DNS Personalis&eacute;</a>
</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="ftp">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations FTP</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('ftp'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Changer:</p>
</td>
<td class="items">
<a href="?op=editftpuser"><img src="{templatedir}/images/editftpuser.png" alt="Changer le mot De passe FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=editftpuser">Changer le mot De passe FTP</a>
</td>
<td class="items">
<a href="?op=addftptothispaneluser"><img src="{templatedir}/images/addftptothispaneluser.png" alt="Ajouter des Comptes FTP G&eacute;n&eacute;ral" width="32" height="32" class="item"></a>
<br>
<a href="?op=addftptothispaneluser">Ajouter des Comptes FTP G&eacute;n&eacute;ral</a>
</td>
<td class="items">
<a href="?op=addsubdomainwithftp"><img src="{templatedir}/images/editftpuser.png" alt="Ajouter des acc&egrave;s utilisateurs aux Sous-Domaines" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdomainwithftp">Ajouter des acc&egrave;s utilisateurs aux Sous-Domaines</a>
</td>
<td class="items">
<a href="?op=addsubdirectorywithftp"><img src="{templatedir}/images/addsubdirectorywithftp.png" alt="Ajouter des acc&egrave;s utilisateurs aux autres sous r&eacute;pertoires" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdirectorywithftp">Ajouter des acc&egrave;s utilisateurs aux autres sous r&eacute;pertoires</a>
</td>
<td class="items">
</td>
</tr>
<tr>
<td class="items">
<p class="title3">Regarder:</p>
</td>
<td class="items">
<a href="?op=listallftpusers"><img src="{templatedir}/images/listallftpusers.png" alt="Liste des Comptes FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallftpusers">Liste des Comptes FTP</a>
</td>
<td class="items">
<a href="net2ftp"><img src="{templatedir}/images/webftp.png" alt="WebFTP" width="32" height="32" class="item"></a>
<br>
<a href="net2ftp">Gestionnaire de Fichiers</a>
</td>
<td class="items">
</td>
<td class="items">
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="mysql">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations MySQL</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('mysql'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Regarder:</p>
</td>
<td class="items">
<a href="?op=addmysqldb"><img src="{templatedir}/images/addmysqldb.png" alt="Ajouter Comptes MySQL Avec Databases MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldb">Ajouter Comptes MySQL Avec Databases MySQL</a>
</td>
<td class="items">
<a href="?op=domainop&action=listdb"><img src="{templatedir}/images/domainop_listdb.png" alt="Liste de Databases MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainop&action=listdb">Liste de Databases MySQL</a>
</td>
<td class="items">
<a href="?op=addmysqldbtouser"><img src="{templatedir}/images/addmysqldbtouser.png" alt="Create MySQL Database &amp; Link to User" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldbtouser">Create Database &amp; Assign Existing Users</a>
</td>
<td class="items">
<a href="?op=dbadduser"><img src="{templatedir}/images/dbadduser.png" alt="Ajouter Database MySQL Et Utilisez Comptes Qui Existent" width="32" height="32" class="item"></a>
<br>
<a href="?op=dbadduser">Ajouter Database MySQL Et Utilisez Comptes Qui Existent</a>
</td>
<td class="items">
<a href="http://{myip}/phpmyadmin"><img src="{templatedir}/images/phpmyadmin.png" alt="PHPMyAdmin" width="32" height="32" class="item"></a>
<br>
<a href="http://{myip}/phpmyadmin">PHPMyAdmin</a>
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="email">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations Messageries</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('email'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Regarder:</p>
</td>
<td class="items">
<a href="?op=addemailuser"><img src="{templatedir}/images/addemailuser.png" alt="Ajouter Comptes Emails" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailuser">Ajouter Comptes Emails</a>
</td>
<td class="items">
<a href="?op=listallemailusers"><img src="{templatedir}/images/listallemailusers.png" alt="Liste des Comptes Emails" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallemailusers">Liste des Comptes Emails</a>
</td>
<td class="items">
<a href="?op=addemailforwarding"><img src="{templatedir}/images/addemailforwarding.png" alt="Ajouter Exp&eacute;diteur Email" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailforwarding">Ajouter Exp&eacute;diteur Email</a>
</td>
<td class="items">
<a href="?op=emailforwardings"><img src="{templatedir}/images/emailforwardings.png" alt="Liste des Exp&eacute;diteurs Email" width="32" height="32" class="item"></a>
<br>
<a href="?op=emailforwardings">Liste des Exp&eacute;diteurs Email</a>
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="my">
<tr class="display">
<td class="subText">
<span class="title">Mes Param&egrave;tres</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('my'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Changer:</p>
</td>
<td class="items">
<a href="?op=domainsettings"><img src="{templatedir}/images/domainsettings.png" alt="Options du Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainsettings">Options du Domaine</a>
</td>
<td class="items">
<a href="?op=editdomain"><img src="{templatedir}/images/editdomain.png" alt="Activer ou d&eacute;sactiver un Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=editdomain">Activer ou d&eacute;sactiver un Domaine</a>
</td>
<td class="items">
<a href="?op=transferdomain"><img src="{templatedir}/images/transferdomain.png" alt="Transfert de Domaine A d'Autres utilisateurs" width="32" height="32" class="item"></a>
<br>
<a href="?op=transferdomain">Transfert de Domaine A d'Autres utilisateurs</a>
</td>
<td class="items">
<a href="?op=addredirect"><img src="{templatedir}/images/addredirect.png" alt="Faire Suivre le Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=addredirect">Faire Suivre le Domaine</a>
</td>
<td class="items">
<a href="?op=deletedomain"><img src="{templatedir}/images/deletedomain.png" alt="Effacez le Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=deletedomain">Effacez le Domaine</a>
</td>
</tr>
<tr>
<td class="items">
</td>
<td class="items">
<a href="?op=changemypass"><img src="{templatedir}/images/changemypass.png" alt="Changez Mon Mot De Passe" width="32" height="32" class="item"></a>
<br>
<a href="?op=changemypass">Changez Mon Mot De Passe</a>
</td>
<td class="items">
<a href="?op=addscript"><img src="{templatedir}/images/addscript.png" alt="Installation rapide De Scripts " width="32" height="32" class="item"></a>
<br>
<a href="?op=addscript">Installation rapide De Scripts </a>
</td>
<td class="items">
<a href="http://www.{selecteddomain}/webstats"><img src="{templatedir}/images/webstats.png" alt="Statistiques De Site Web" width="32" height="32" class="item"></a>
<br>
<a href="http://www.{selecteddomain}/webstats">Statistiques De Site Web (Webstats)</a>
</td>
<td class="items">
<a href="?op=setdefaultdomain"><img src="{templatedir}/images/setdefaultdomain.png" alt="Set as Default Doamin" width="32" height="32" class="item"></a>
<br>
<a href="?op=setdefaultdomain">Utilisez Ce Domaine Par D&eacute;faut</a>
</td>

<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!-- End of Homepagedomain_admin_forreseller_fr.html -->