<!-- Start of homepage_reseller_other_fr.html -->
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations Revendeurs</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('user'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Changer:</p>
</td>
<td class="items">
<a href="?op=addpaneluser"><img src="{templatedir}/images/addpaneluser.gif" alt="Ajouter Un Client" width="32" height="32" class="item"></a>
<br>
<a href="?op=addpaneluser">Ajouter Un Client</a>
</td>
<td class="items">
<a href="?op=addscript"><img src="{templatedir}/images/addscript.png" alt="Installation rapide De Scripts" width="32" height="32" class="item"></a>
<br>
<a href="?op=addscript">Installation rapide De Scripts</a>
</td>

<td class="items">
<a href="?op=dosyncdns"><img src="{templatedir}/images/dosyncdns.png" alt="Rechargement des Zones DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=dosyncdns">Rechargement des Zones DNS</a>
</td>
<td class="items">
<a href="?op=dosyncdomains"><img src="{templatedir}/images/dosyncdomains.png" alt="Synchronisation des Domaines" width="32" height="32" class="item"></a>
<br>
<a href="?op=dosyncdomains">Synchronisation des Domaines</a>
</td>

<td class="items">
<a href="?op=changemypass"><img src="{templatedir}/images/changemypass.png" alt="Changez Mon Mot De Passe" width="32" height="32" class="item"></a>
<br>
<a href="?op=changemypass">Changez Mon Mot De Passe</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=doupdatediskquota"><img src="{templatedir}/images/doupdatediskquota.png" alt="Mise &aacute; Jour de l'espace Disque" width="32" height="32" class="item"></a>
<br>
<a href="?op=doupdatediskquota">Mise &aacute; Jour de l'espace Disque</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
<tr>
<td class="items">
<p class="title3">Regarder:</p>
</td>
<td class="items">
<a href="?op=listpanelusers"><img src="{templatedir}/images/listpanelusers.gif" alt="Liste de Mes Clients" width="32" height="32" class="item"></a>
<br>
<a href="?op=listpanelusers">Liste de Mes Clients</a>
</td>
<td class="items">
<a href="?op=help"><img src="{templatedir}/images/help.png" alt="Support" width="32" height="32" class="item"></a>
<br>
<a href="?op=help">Support</a>
</td>
<td class="items">
<a href="?op=todolist"><img src="{templatedir}/images/todolist.png" alt="Liste de Choses &aacute; Faire" width="32" height="32" class="item"></a>
<br>
<a href="?op=todolist">Liste de Choses &aacute; Faire</a>
</td>
<td class="items">
<a href="?op=aboutcontactus"><img src="{templatedir}/images/aboutcontactus.png" alt="Contactez-Nous" width="32" height="32" class="item"></a>
<br>
<a href="?op=aboutcontactus">Contactez-Nous</a>
</td>

<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<a name="domainOps"></a>
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="domain">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations Des Domaines</span>
<img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('domain'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Changer:</p>
</td>
<td class="items">
<a href="?op=adddomain" title="Ajouter Un Domaine"><img src="{templatedir}/images/adddomain.png" alt="Ajouter Un Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddomain" title="Ajouter Un Domaine">Ajouter Un Domaine</a>
</td>
<td class="items">
<a href="?op=adddomaineasy" title="Ajouter Rapidement Un Domaine"><img src="{templatedir}/images/adddomaineasy.gif" alt="Ajouter Rapidement Un Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddomaineasy" title="Ajouter Rapidement Un Domaine">Ajouter Rapidement Un Domaine</a>
</td>
<td class="items">
<a href="?op=subdomains" title="Ajouter Un Sous-Domaine"><img src="{templatedir}/images/subdomains.gif" alt="Ajouter Un Sous-Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=subdomains" title="Ajouter Un Sous-Domaine">Ajouter Un Sous-Domaine</a>
</td>
<td class="items">
<a href="?op=customhttp" title="Personnaliser HTTP"><img src="{templatedir}/images/customhttp.png" alt="Personnaliser HTTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=customhttp" title="Personnaliser HTTP">Personnaliser HTTP</a>
</td>
<td class="items">
<a href="?op=customdns" title="Personnaliser DNS"><img src="{templatedir}/images/customdns.png" alt="Personnaliser DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=customdns" title="Personnaliser DNS">Personnaliser DNS</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=directories" title="R&eacute;pertoires Prot&eacute;g&eacute;s (par mot de passe)"><img src="{templatedir}/images/directories.png" alt="R&eacute;pertoires Prot&eacute;g&eacute;s (par mot de passe)" width="32" height="32" class="item"></a>
<br>
<a href="?op=directories" title="R&eacute;pertoires Prot&eacute;g&eacute;s (par mot de passe)">R&eacute;pertoires Prot&eacute;g&eacute;s (par mot de passe)</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
<tr>
<td class="items">
<p class="title3">Regarder:</p>
</td>
<td class="items">
<a href="?op=selectdomain" title="Liste de Mes Domaines"><img src="{templatedir}/images/selectdomain.png" alt="List Domains" width="32" height="32" class="item"></a>
<br>
<a href="?op=selectdomain" title="Liste de Mes Domaines">Liste de Mes Domaines</a>
</td>
<td class="items">
<a href="?op=listpassivedomains" title="Liste Des Domaines Passifs"><img src="{templatedir}/images/listpassivedomains.png" alt="Liste Des Domaines Passifs" width="32" height="32" class="item"></a>
<br>
<a href="?op=listpassivedomains" title="Liste Des Domaines Passifs">Liste Des Domaines Passifs</a>
</td>
<td class="items">
</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="ftp">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations FTP</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('ftp'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Changer:</p>
</td>
<td class="items">
<a href="?op=addftpuser"><img src="{templatedir}/images/addftpuser.png" alt="Ajouter Un Compte FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=addftpuser">Ajouter Un Compte FTP</a>
</td>
<td class="items">
<a href="?op=listallftpusers"><img src="{templatedir}/images/listallftpusers.png" alt="Liste des Comptes FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallftpusers">Liste des Comptes FTP</a>
</td>
<td class="items">
<a href="?op=listftpusersrelatedtodomains"><img src="{templatedir}/images/listftpusersrelatedtodomains.png" alt="Liste des Comptes FTP Par Domaine" width="32" height="32" class="item"></a>
<br>
<a href="?op=listftpusersrelatedtodomains">Liste des Comptes FTP Par Domaine</a>
</td>
<td class="items">
<a href="?op=listftpuserswithoutdomain"><img src="{templatedir}/images/listftpuserswithoutdomain.png" alt="Liste Des Comptes FTP Sans Domaines" width="32" height="32" class="item"></a>
<br>
<a href="?op=listftpuserswithoutdomain">Liste Des Comptes FTP Sans Domaines</a>
</td>
<td class="items">
</td>
</tr>

</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="email">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations Messageries</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('email'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Regarder:</p>
</td>
<td class="items">
<a href="?op=addemailuser"><img src="{templatedir}/images/addemailuser.png" alt="Ajouter Comptes Emails" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailuser">Ajouter Comptes Emails</a>
</td>
<td class="items">
<a href="?op=listallemailusers"><img src="{templatedir}/images/listallemailusers.png" alt="Liste des Comptes Emails" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallemailusers">Liste des Comptes Emails</a>
</td>
<td class="items">
<a href="?op=addemailforwarding"><img src="{templatedir}/images/addemailforwarding.png" alt="Ajouter Exp&eacute;diteur Email" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailforwarding">Ajouter Exp&eacute;diteur Email</a>
</td>
<td class="items">
<a href="?op=emailforwardings"><img src="{templatedir}/images/emailforwardings.png" alt="Liste des Exp&eacute;diteurs Email" width="32" height="32" class="item"></a>
<br>
<a href="?op=emailforwardings">Liste des Exp&eacute;diteurs Email</a>
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="mysql">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations MySQL</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('mysql'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Regarder:</p>
</td>
<td class="items">
<a href="?op=addmysqldb"><img src="{templatedir}/images/addmysqldb.png" alt="Ajouter Databases MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldb">Ajouter Databases MySQL</a>
</td>
<td class="items">
<a href="?op=domainop&action=listdb"><img src="{templatedir}/images/domainop_listdb.png" alt="Liste de Databases MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainop&action=listdb">Liste de Databases MySQL</a>
</td>
<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>
<br>



<!-- End of homepage_reseller_other_fr.html -->