<!-- Start of homepage_reseller_fr.html -->

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations Revendeurs</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('user'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Changer:</p>
</td>
<td class="items">
<a href="?op=addpaneluser"><img src="{templatedir}/images/addpaneluser.gif" alt="Ajouter Un Client" width="32" height="32" class="item"></a>
<br>
<a href="?op=addpaneluser">Ajouter Un Client</a>
</td>
<td class="items">
<a href="?op=addemailuser"><img src="{templatedir}/images/addemailuser.png" alt="Ajouter Comptes Emails" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailuser">Ajouter Comptes Emails</a>
</td>

<td class="items">
<a href="?op=addmysqldb"><img src="{templatedir}/images/addmysqldb.png" alt="Ajouter Comptes MySQL Avec Databases MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldb">Ajouter Comptes MySQL Avec Databases MySQL</a>
</td>
<td class="items">
<a href="?op=addmysqldbtouser"><img src="{templatedir}/images/addmysqldbtouser.gif" alt="Add MySQL Database to User" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldbtouser">Ajouter Database MySQL Et Utilisez Comptes Qui Existent</a>
</td>
<td class="items">
<a href="?op=dbadduser"><img src="{templatedir}/images/dbadduser.gif" alt="Ajouter Comptes MySQL" width="32" height="32" class="item"></a>
<br>
<a href="?op=dbadduser">Ajouter Comptes MySQL</a>
</td>
</tr>
<tr>
<td class="items">
<p class="title3">Regarder:</p>
</td>
<td class="items">
<a href="?op=listpanelusers"><img src="{templatedir}/images/listpanelusers.gif" alt="Liste de Mes Clients" width="32" height="32" class="item"></a>
<br>
<a href="?op=listpanelusers">Liste de Mes Clients</a>
</td>
<td class="items">
<a href="?op=listallftpusers"><img src="{templatedir}/images/listallftpusers.png" alt="Liste Tous les Comptes FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallftpusers">Liste Tous les Comptes FTP</a>
</td>
<td class="items">
<a href="?op=listallemailusers"><img src="{templatedir}/images/listallemailusers.png" alt="Liste Tous les Comptes Email" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallemailusers">Liste Tous les Comptes Email</a>
</td>
<td class="items">
<a href="?op=domainop&action=listdb"><img src="{templatedir}/images/domainop_listdb.png" alt="List MySQL Databases" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainop&action=listdb">Liste Tous les Databases MySQL</a>
</td>

<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>
<a name="domainOps"></a>
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="domain">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations Des Domaines</span>
<img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('domain'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Changer:</p>
</td>
<td class="items">
<a href="?op=adddomain" title="Ajouter Un Domaine"><img src="{templatedir}/images/adddomain.png" alt="Add Domain" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddomain" title="Ajouter Un Domaine">Ajouter Un Domaine</a>
</td>
<td class="items">
<a href="?op=addDomainToThisPaneluser" title="Ajouter Un Domaine Sur Mon Compte"><img src="{templatedir}/images/addDomainToThisPaneluser.gif" alt="Ajouter Un Domaine Sur Mon Compte" width="32" height="32" class="item"></a>
<br>
<a href="?op=addDomainToThisPaneluser" title="Ajouter Un Domaine Sur Mon Compte">Ajouter Un Domaine Sur Mon Compte</a>
</td>

<td class="items">
<a href="?op=adddomaineasy" title="Ajouter rapidement Un Domaine "><img src="{templatedir}/images/adddomaineasy.gif" alt="Ajouter rapidement Un Domaine " width="32" height="32" class="item"></a>
<br>
<a href="?op=adddomaineasy" title="Ajouter rapidement Un Domaine ">Ajouter rapidement Un Domaine</a>
</td>
<td class="items">
<a href="?op=bulkadddomain" title="Ajouter Des Domaines En Masse"><img src="{templatedir}/images/bulkadddomain.gif" alt="Ajouter Des Domaines En Masse" width="32" height="32" class="item"></a>
<br>
<a href="?op=bulkadddomain" title="Ajouter Des Domaines En Masse">Ajouter Des Domaines En Masse</a>
</td>
<td class="items">
<a href="?op=adddnsonlydomain" title="Ajouter H&eacute;bergement DNS"><img src="{templatedir}/images/adddnsonlydomain.png" alt="Ajouter H&eacute;bergement DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddnsonlydomain" title="Ajouter H&eacute;bergement DNS">Ajouter H&eacute;bergement DNS</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=adddnsonlydomainwithpaneluser" title="Ajouter H&eacute;bergement DNS aux Autres Comptes"><img src="{templatedir}/images/adddnsonlydomainwithpaneluser.gif" alt="Ajouter H&eacute;bergement DNS aux Autres Comptes" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddnsonlydomainwithpaneluser" title="Ajouter H&eacute;bergement DNS aux Autres Comptes">Ajouter H&eacute;bergement DNS aux Autres Comptes</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
<tr>
<td class="items">
<p class="title3">Regarder:</p>
</td>
<td class="items">
<a href="?op=selectdomain" title="Liste des Domaines"><img src="{templatedir}/images/listdomains.gif" alt="Liste des Domaines" width="32" height="32" class="item"></a>
<br>
<a href="?op=selectdomain" title="Liste des Domaines">Liste des Domaines</a>
</td>
<td class="items">
<a href="?op=listpassivedomains" title="Liste Des Domaines Passifs"><img src="{templatedir}/images/listpassivedomains.png" alt="Liste Des Domaines Passifs" width="32" height="32" class="item"></a>
<br>
<a href="?op=listpassivedomains" title="Liste Des Domaines Passifs">Liste Des Domaines Passifs</a>
</td>
<td class="items">
</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="system">
<tr class="display">
<td class="subText">
<span class="title">Op&eacute;rations Syst&egrave;me</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('system'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Ajouter / Changer:</p>
</td>
<td class="items">
<a href="?op=dosyncdns"><img src="{templatedir}/images/dosyncdns.png" alt="Recharger Zones DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=dosyncdns">Rechargement des Zones DNS</a>
</td>
<td class="items">
<a href="?op=dosyncdomains"><img src="{templatedir}/images/dosyncdomains.png" alt="Synchronisation des Domaines" width="32" height="32" class="item"></a>
<br>
<a href="?op=dosyncdomains">Synchronisation des Domaines</a>
</td>
<td class="items">
<a href="?op=dobackup"><img src="{templatedir}/images/dobackup.png" alt="G&eacute;rer les Sauvegardes de Fichiers" width="32" height="32" class="item"></a>
<br>
<a href="?op=dobackup">G&eacute;rer les Sauvegardes de Fichiers</a>
</td>
<td class="items">
<a href="?op=dorestore"><img src="{templatedir}/images/dorestore.png" alt="Restaurer des Sauvegardes de Fichiers" width="32" height="32" class="item"></a>
<br>
<a href="?op=dorestore">Restaurer des Sauvegardes de Fichiers</a>
</td>
<td class="items">
<a href="?op=listbackups"><img src="{templatedir}/images/listbackups.png" alt="Liste des Sauvegardes" width="32" height="32" class="item"></a>
<br>
<a href="?op=listbackups">Liste des Sauvegardes</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=operations"><img src="{templatedir}/images/operations.png" alt="Op&eacute;rations Daemon" width="32" height="32" class="item"></a>
<br>
<a href="?op=operations">Op&eacute;rations Daemon</a>
</td>
<td class="items">
<a href="?op=options"><img src="{templatedir}/images/options.png" alt="Options" width="32" height="32" class="item"></a>
<br>
<a href="?op=options">Options</a>
</td>
<td class="items">
<a href="?op=changetemplate"><img src="{templatedir}/images/changetemplate.png" alt="Changer la Style Couleur De La Page" width="32" height="32" class="item"></a>
<br>
<a href="?op=changetemplate">Changer la Style Couleur De La Page</a>
</td>
<td class="items">
<a href="?op=changemypass"><img src="{templatedir}/images/changemypass.png" alt="Changez Mon Mot De Passe" width="32" height="32" class="item"></a>
<br>
<a href="?op=changemypass">Changez Mon Mot De Passe</a>
</td>



<td class="items">

</td>

</tr>
</table>
</td>
</tr>
</table>

<br>
&nbsp; &nbsp; {dynamicinfo}
<br>
<!-- End of homepage_reseller_fr.html -->