<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Domain Operationen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddsubdomain" onclick="location.href='index.php?op=addsubdomain'" title="Subdomain hinzufügen"><img src="templates/picante/general/images/addsubdomain.png" alt="Subdomain hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Subdomain hinzufügen</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="Benutzerdefiniertes HTTP"><img src="templates/picante/general/images/customhttp.png" alt="Benutzerdefiniertes HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Benutzerdefiniertes HTTP</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="Benutzerdefinierte DNS"><img src="templates/picante/general/images/customdns.png" alt="Benutzerdefinierte DNS" class="item" />
                                       <br>
                                       <span class="itemText">Benutzerdefinierte DNS</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Passwortgeschützte Verzeichnisse hinzufügen"><img src="templates/picante/general/images/directories.png" alt="Passwortgeschützte Verzeichnisse hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Passwortgeschützte Verzeichnisse hinzufügen</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="SSL-Zertifikat hinzufügen"><img src="templates/picante/general/images/manage_sslcerts.png" alt="SSL-Zertifikat hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">SSL-Zertifikat hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Bearbeiten</td><td><div class="items darkText itemDomainapache" onclick="location.href='index.php?op=editapachetemplate'" title="Apache-Vorlage bearbeiten"><img src="templates/picante/general/images/editapachetemplate.png" alt="Apache-Vorlage bearbeiten" class="item" />
                                       <br>
                                       <span class="itemText">Apache-Vorlage bearbeiten</span></div><div class="items darkText itemDomaindns" onclick="location.href='index.php?op=editdnstemplate'" title="DNS-Vorlage bearbeiten"><img src="templates/picante/general/images/editdnstemplate.png" alt="DNS-Vorlage bearbeiten" class="item" />
                                       <br>
                                       <span class="itemText">DNS-Vorlage bearbeiten</span></div><div class="items darkText itemDomainalias" onclick="location.href='index.php?op=editdomainaliases'" title="Aliase bearbeiten"><img src="templates/picante/general/images/editdomainaliases.png" alt="Aliase bearbeiten" class="item" />
                                       <br>
                                       <span class="itemText">Aliase bearbeiten</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Mein Passwort ändern"><img src="templates/picante/general/images/changemypass.png" alt="Mein Passwort ändern" class="item" />
                                       <br>
                                       <span class="itemText">Mein Passwort ändern</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListsubdomains" onclick="location.href='index.php?op=subdomains'" title="Subdomains auflisten / löschen"><img src="templates/picante/general/images/addsubdomain.png" alt="Subdomains auflisten / löschen" class="item" />
                                       <br>
                                       <span class="itemText">Subdomains auflisten / löschen</span></div></td></tr><tr class="itemRow"><td class="category">Entfernen</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Passwortgeschützte Verzeichnisse entfernen/auflisten"><img src="templates/picante/general/images/deldirectories.png" alt="Passwortgeschützte Verzeichnisse entfernen/auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Passwortgeschützte Verzeichnisse entfernen/auflisten</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemDomainslavedns" onclick="location.href='index.php?op=addslavedns'" title="Als Slave-DNS-Domain festlegen"><img src="templates/picante/general/images/slavedns.png" alt="Als Slave-DNS-Domain festlegen" class="item" />
                                       <br>
                                       <span class="itemText">Als Slave-DNS-Domain festlegen</span></div><div class="items darkText itemDomainslavednsremove" onclick="location.href='index.php?op=removeslavedns'" title="Als Master-DNS-Domain festlegen"><img src="templates/picante/general/images/slavednsremove.png" alt="Als Master-DNS-Domain festlegen" class="item" />
                                       <br>
                                       <span class="itemText">Als Master-DNS-Domain festlegen</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">FTP Operationen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddftpaccountgeneral" onclick="location.href='index.php?op=addftptothispaneluser'" title="Allgemeiner FTP-Benutzer hinzufügen"><img src="templates/picante/general/images/addftptothispaneluser.png" alt="Allgemeiner FTP-Benutzer hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Allgemeiner FTP-Benutzer hinzufügen</span></div><div class="items darkText itemAddftpsubdomain" onclick="location.href='index.php?op=addsubdomainwithftp'" title="Subdomain hinzufügen und FTP-Konto erstellen"><img src="templates/picante/general/images/addsubdomainwithftp.png" alt="Subdomain hinzufügen und FTP-Konto erstellen" class="item" />
                                       <br>
                                       <span class="itemText">Subdomain hinzufügen und FTP-Konto erstellen</span></div><div class="items darkText itemAddftpsubdir" onclick="location.href='index.php?op=addsubdirectorywithftp'" title="Unterverzeichnis zu FTP-Konto hinzufügen"><img src="templates/picante/general/images/addsubdirectorywithftp.png" alt="Unterverzeichnis zu FTP-Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Unterverzeichnis zu FTP-Konto hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Bearbeiten</td><td><div class="items darkText itemChangeftp" onclick="location.href='index.php?op=editftpuser'" title="Ändere FTP Passwort"><img src="templates/picante/general/images/editftpuser.png" alt="Ändere FTP Passwort" class="item" />
                                       <br>
                                       <span class="itemText">Ändere FTP Passwort</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="FTP-Konten auflisten"><img src="templates/picante/general/images/listallftpusers.png" alt="FTP-Konten auflisten" class="item" />
                                       <br>
                                       <span class="itemText">FTP-Konten auflisten</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemExtplorer" onclick="window.open('extplorer')" title="Extplorer File Manager"><img src="templates/picante/general/images/extplorer.png" alt="Extplorer File Manager" class="item" />
                                       <br>
                                       <span class="itemText">Extplorer File Manager</span></div><div class="items darkText itemNet2ftp" onclick="window.open('net2ftp')" title="Dateimanager"><img src="templates/picante/general/images/webftp.png" alt="Dateimanager" class="item" />
                                       <br>
                                       <span class="itemText">Dateimanager</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">MySQL Operationen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="MySQL-Datenbanken hinzufügen"><img src="templates/picante/general/images/addmysqldb.png" alt="MySQL-Datenbanken hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">MySQL-Datenbanken hinzufügen</span></div><div class="items darkText itemAddmysqluser" onclick="location.href='index.php?op=dbadduser'" title="MySQL-Benutzer erstellen"><img src="templates/picante/general/images/dbadduser.png" alt="MySQL-Benutzer erstellen" class="item" />
                                       <br>
                                       <span class="itemText">MySQL-Benutzer erstellen</span></div><div class="items darkText itemAddmysqldbtouser" onclick="location.href='index.php?op=addmysqldbtouser'" title="MySQL-Datenbank zu Benutzer hinzufügen"><img src="templates/picante/general/images/addmysqldbtouser.png" alt="MySQL-Datenbank zu Benutzer hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">MySQL-Datenbank zu Benutzer hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="MySQL-Datenbanken auflisten"><img src="templates/picante/general/images/domainop_listdb.png" alt="MySQL-Datenbanken auflisten" class="item" />
                                       <br>
                                       <span class="itemText">MySQL-Datenbanken auflisten</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/picante/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">E-Mail Operationen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="E-Mail-Konto hinzufügen"><img src="templates/picante/general/images/addemailuser.png" alt="E-Mail-Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">E-Mail-Konto hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListemailaccountsdomain" onclick="location.href='index.php?op=listemailusers'" title="Domain-E-Mail-Benutzer auflisten"><img src="templates/picante/general/images/listemailusers.png" alt="Domain-E-Mail-Benutzer auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Domain-E-Mail-Benutzer auflisten</span></div><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="Zeige &amp; E-Mail-Weiterleitungen hinzufügen"><img src="templates/picante/general/images/emailforwardings.png" alt="Zeige &amp; E-Mail-Weiterleitungen hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Zeige &amp; E-Mail-Weiterleitungen hinzufügen</span></div><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="Alle E-Mail-Benutzer auflisten"><img src="templates/picante/general/images/listallemailusers.png" alt="Alle E-Mail-Benutzer auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Alle E-Mail-Benutzer auflisten</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Meine Einstellungen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Easy Installationsskripte"><img src="templates/picante/general/images/addscript.png" alt="Easy Installationsskripte" class="item" />
                                       <br>
                                       <span class="itemText">Easy Installationsskripte</span></div></td></tr><tr class="itemRow"><td class="category">Bearbeiten</td><td><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Mein Passwort ändern"><img src="templates/picante/general/images/changemypass.png" alt="Mein Passwort ändern" class="item" />
                                       <br>
                                       <span class="itemText">Mein Passwort ändern</span></div></td></tr><tr class="itemRow"><td class="category">Entfernen</td><td><div class="items darkText itemDeletedomain" onclick="location.href='index.php?op=deletedomain'" title="Lösche Domain"><img src="templates/picante/general/images/deletedomain.png" alt="Lösche Domain" class="item" />
                                       <br>
                                       <span class="itemText">Lösche Domain</span></div><div class="items darkText itemMovedomaintoanotheraccount" onclick="location.href='index.php?op=movedomaintoanotheraccount'" title="Transfer Domain to Another User"><img src="templates/picante/general/images/transferdomain.png" alt="Transfer Domain to Another User" class="item" />
                                       <br>
                                       <span class="itemText">Transfer Domain to Another User</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemDefaultdomain" onclick="location.href='index.php?op=setdefaultdomain'" title="Als Standarddomäne festlegen"><img src="templates/picante/general/images/setdefaultdomain.png" alt="Als Standarddomäne festlegen" class="item" />
                                       <br>
                                       <span class="itemText">Als Standarddomäne festlegen</span></div><div class="items darkText itemDomainredirect" onclick="location.href='index.php?op=addredirect'" title="Domains umleiten"><img src="templates/picante/general/images/addredirect.png" alt="Domains umleiten" class="item" />
                                       <br>
                                       <span class="itemText">Domains umleiten</span></div><div class="items darkText itemDomainedit" onclick="location.href='index.php?op=editdomain'" title="Domain aktivieren oder deaktivieren"><img src="templates/picante/general/images/editdomain.png" alt="Domain aktivieren oder deaktivieren" class="item" />
                                       <br>
                                       <span class="itemText">Domain aktivieren oder deaktivieren</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>