<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Wiederverkäufer</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddpaneluser" onclick="location.href='index.php?op=addpaneluser'" title="Neuen Benutzer oder Client hinzufügen"><img src="templates/picante/general/images/addpaneluser.png" alt="Neuen Benutzer oder Client hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Neuen Benutzer oder Client hinzufügen</span></div><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Installationsskripte"><img src="templates/picante/general/images/addscript.png" alt="Installationsskripte" class="item" />
                                       <br>
                                       <span class="itemText">Installationsskripte</span></div></td></tr><tr class="itemRow"><td class="category">Bearbeiten</td><td><div class="items darkText itemUpdatediskquota" onclick="location.href='index.php?op=doupdatediskquota'" title="Datenträgerkontingent aktualisieren"><img src="templates/picante/general/images/doupdatediskquota.png" alt="Datenträgerkontingent aktualisieren" class="item" />
                                       <br>
                                       <span class="itemText">Datenträgerkontingent aktualisieren</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Mein Passwort ändern"><img src="templates/picante/general/images/changemypass.png" alt="Mein Passwort ändern" class="item" />
                                       <br>
                                       <span class="itemText">Mein Passwort ändern</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListusers" onclick="location.href='index.php?op=listpanelusers'" title="Alle Benutzer auflisten"><img src="templates/picante/general/images/listpanelusers.png" alt="Alle Benutzer auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Alle Benutzer auflisten</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemReloaddns" onclick="location.href='index.php?op=dosyncdns'" title="DNS-Zonen neu laden"><img src="templates/picante/general/images/dosyncdns.png" alt="DNS-Zonen neu laden" class="item" />
                                       <br>
                                       <span class="itemText">DNS-Zonen neu laden</span></div><div class="items darkText itemSyncdomains" onclick="location.href='index.php?op=dosyncdomains'" title="Domänen synchronisieren"><img src="templates/picante/general/images/dosyncdomains.png" alt="Domänen synchronisieren" class="item" />
                                       <br>
                                       <span class="itemText">Domänen synchronisieren</span></div><div class="items darkText itemContactus" onclick="location.href='index.php?op=aboutcontactus'" title="Schreibe uns eine E-Mail"><img src="templates/picante/general/images/aboutcontactus.png" alt="Schreibe uns eine E-Mail" class="item" />
                                       <br>
                                       <span class="itemText">Schreibe uns eine E-Mail</span></div><div class="items darkText itemHelp" onclick="location.href='index.php?op=help'" title="Allgemeine Hilfe"><img src="templates/picante/general/images/help.png" alt="Allgemeine Hilfe" class="item" />
                                       <br>
                                       <span class="itemText">Allgemeine Hilfe</span></div><div class="items darkText itemTodolist" onclick="location.href='index.php?op=todolist'" title="Aufgabenliste"><img src="templates/picante/general/images/todolist.png" alt="Aufgabenliste" class="item" />
                                       <br>
                                       <span class="itemText">Aufgabenliste</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Domain Operationen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAdddomaintothisuser" onclick="location.href='index.php?op=addDomainToThisPaneluser'" title="Domain zu meinem Konto hinzufügen"><img src="templates/picante/general/images/adddomaintothispaneluser.png" alt="Domain zu meinem Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Domain zu meinem Konto hinzufügen</span></div><div class="items darkText itemAdduserdomain" onclick="location.href='index.php?op=adddomain'" title="Benutzer erstellen und Domäne hinzufügen"><img src="templates/picante/general/images/adddomain.png" alt="Benutzer erstellen und Domäne hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Benutzer erstellen und Domäne hinzufügen</span></div><div class="items darkText itemAdduserdomaineasy" onclick="location.href='index.php?op=adddomaineasy'" title="Einfaches Benutzer erstellen und Domäne hinzufügen"><img src="templates/picante/general/images/adddomaineasy.png" alt="Einfaches Benutzer erstellen und Domäne hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Einfaches Benutzer erstellen und Domäne hinzufügen</span></div><div class="items darkText itemAddsubdomain" onclick="location.href='index.php?op=addsubdomain'" title="Subdomain hinzufügen"><img src="templates/picante/general/images/addsubdomain.png" alt="Subdomain hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Subdomain hinzufügen</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Passwortgeschützte Verzeichnisse hinzufügen"><img src="templates/picante/general/images/directories.png" alt="Passwortgeschützte Verzeichnisse hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Passwortgeschützte Verzeichnisse hinzufügen</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="Benutzerdefinierte DNS"><img src="templates/picante/general/images/customdns.png" alt="Benutzerdefinierte DNS" class="item" />
                                       <br>
                                       <span class="itemText">Benutzerdefinierte DNS</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="Benutzerdefiniertes HTTP"><img src="templates/picante/general/images/customhttp.png" alt="Benutzerdefiniertes HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Benutzerdefiniertes HTTP</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="SSL-Zertifikat hinzufügen"><img src="templates/picante/general/images/manage_sslcerts.png" alt="SSL-Zertifikat hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">SSL-Zertifikat hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListdomains" onclick="location.href='index.php?op=selectdomain'" title="Domains auflisten"><img src="templates/picante/general/images/selectdomain.png" alt="Domains auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Domains auflisten</span></div><div class="items darkText itemListdomainspassive" onclick="location.href='index.php?op=listpassivedomains'" title="Passive Domains auflisten"><img src="templates/picante/general/images/listpassivedomains.png" alt="Passive Domains auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Passive Domains auflisten</span></div></td></tr><tr class="itemRow"><td class="category">Entfernen</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Passwortgeschützte Verzeichnisse entfernen/auflisten"><img src="templates/picante/general/images/deldirectories.png" alt="Passwortgeschützte Verzeichnisse entfernen/auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Passwortgeschützte Verzeichnisse entfernen/auflisten</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">FTP Operationen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddftpaccount" onclick="location.href='index.php?op=addftpuser'" title="FTP-Konto hinzufügen"><img src="templates/picante/general/images/addftpuser.png" alt="FTP-Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">FTP-Konto hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="FTP-Konten auflisten"><img src="templates/picante/general/images/listallftpusers.png" alt="FTP-Konten auflisten" class="item" />
                                       <br>
                                       <span class="itemText">FTP-Konten auflisten</span></div><div class="items darkText itemListftpaccountsbydomain" onclick="location.href='index.php?op=listftpusersrelatedtodomains'" title="FTP-Benutzer nach Domäne auflisten"><img src="templates/picante/general/images/listftpusersrelatedtodomains.png" alt="FTP-Benutzer nach Domäne auflisten" class="item" />
                                       <br>
                                       <span class="itemText">FTP-Benutzer nach Domäne auflisten</span></div><div class="items darkText itemListftpnodomain" onclick="location.href='index.php?op=listftpuserswithoutdomain'" title="FTP-Benutzer ohne Domain auflisten"><img src="templates/picante/general/images/listftpuserswithoutdomain.png" alt="FTP-Benutzer ohne Domain auflisten" class="item" />
                                       <br>
                                       <span class="itemText">FTP-Benutzer ohne Domain auflisten</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">E-Mail</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="E-Mail-Konto hinzufügen"><img src="templates/picante/general/images/addemailuser.png" alt="E-Mail-Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">E-Mail-Konto hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="Alle E-Mail-Benutzer auflisten"><img src="templates/picante/general/images/listallemailusers.png" alt="Alle E-Mail-Benutzer auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Alle E-Mail-Benutzer auflisten</span></div><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="Zeige &amp; E-Mail-Weiterleitungen hinzufügen"><img src="templates/picante/general/images/emailforwardings.png" alt="Zeige &amp; E-Mail-Weiterleitungen hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Zeige &amp; E-Mail-Weiterleitungen hinzufügen</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">MySQL Operationen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="MySQL-Datenbanken hinzufügen"><img src="templates/picante/general/images/addmysqldb.png" alt="MySQL-Datenbanken hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">MySQL-Datenbanken hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="MySQL-Datenbanken auflisten"><img src="templates/picante/general/images/domainop_listdb.png" alt="MySQL-Datenbanken auflisten" class="item" />
                                       <br>
                                       <span class="itemText">MySQL-Datenbanken auflisten</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>