<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">E-Mail-Kontovorgänge</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemEmailforwardingsself" onclick="location.href='index.php?op=emailforwardingsself'" title="Weiterleitungen auflisten und hinzufügen"><img src="templates/picante/general/images/emailforwardingsself.png" alt="Weiterleitungen auflisten und hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Weiterleitungen auflisten und hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Bearbeiten</td><td><div class="items darkText itemEditemailpassword" onclick="location.href='index.php?op=editemailuserpassword'" title="E-Mail-Passwort ändern"><img src="templates/picante/general/images/changemypass.png" alt="E-Mail-Passwort ändern" class="item" />
                                       <br>
                                       <span class="itemText">E-Mail-Passwort ändern</span></div><div class="items darkText itemEditemailautoreply" onclick="location.href='index.php?op=editemailuserautoreply'" title="Automatische Antwortnachricht ändern"><img src="templates/picante/general/images/addemailforwarding.png" alt="Automatische Antwortnachricht ändern" class="item" />
                                       <br>
                                       <span class="itemText">Automatische Antwortnachricht ändern</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>