<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Benutzer Operationen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddpaneluserwithpredefinedplan" onclick="location.href='index.php?op=addpaneluserwithpredefinedplan'" title="Neuen Benutzer w/ Hosting-Vorlage hinzufügen"><img src="templates/picante/general/images/addpaneluserwithpredefinedplan.png" alt="Neuen Benutzer w/ Hosting-Vorlage hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Neuen Benutzer w/ Hosting-Vorlage hinzufügen</span></div><div class="items darkText itemAddpaneluser" onclick="location.href='index.php?op=addpaneluser'" title="Neuen Benutzer oder Client hinzufügen"><img src="templates/picante/general/images/addpaneluser.png" alt="Neuen Benutzer oder Client hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Neuen Benutzer oder Client hinzufügen</span></div><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Easy Installationsskripte"><img src="templates/picante/general/images/addscript.png" alt="Easy Installationsskripte" class="item" />
                                       <br>
                                       <span class="itemText">Easy Installationsskripte</span></div></td></tr><tr class="itemRow"><td class="category">Bearbeiten</td><td><div class="items darkText itemUpdatediskquota" onclick="location.href='index.php?op=doupdatediskquota'" title="Datenträgerkontingent aktualisieren"><img src="templates/picante/general/images/doupdatediskquota.png" alt="Datenträgerkontingent aktualisieren" class="item" />
                                       <br>
                                       <span class="itemText">Datenträgerkontingent aktualisieren</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Mein Passwort ändern"><img src="templates/picante/general/images/changemypass.png" alt="Mein Passwort ändern" class="item" />
                                       <br>
                                       <span class="itemText">Mein Passwort ändern</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListusers" onclick="location.href='index.php?op=listpanelusers'" title="Alle Benutzer auflisten"><img src="templates/picante/general/images/listpanelusers.png" alt="Alle Benutzer auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Alle Benutzer auflisten</span></div></td></tr><tr class="itemRow"><td class="category">Entfernen</td><td><div class="items darkText itemMovedomaintoanotheraccount" onclick="location.href='index.php?op=movedomaintoanotheraccount'" title="Domain an einen anderen Benutzer übertragen"><img src="templates/picante/general/images/transferdomain.png" alt="Domain an einen anderen Benutzer übertragen" class="item" />
                                       <br>
                                       <span class="itemText">Domain an einen anderen Benutzer übertragen</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemReloaddns" onclick="location.href='index.php?op=dosyncdns'" title="DNS-Zonen neu laden"><img src="templates/picante/general/images/dosyncdns.png" alt="DNS-Zonen neu laden" class="item" />
                                       <br>
                                       <span class="itemText">DNS-Zonen neu laden</span></div><div class="items darkText itemSyncdomains" onclick="location.href='index.php?op=dosyncdomains'" title="Domänen synchronisieren"><img src="templates/picante/general/images/dosyncdomains.png" alt="Domänen synchronisieren" class="item" />
                                       <br>
                                       <span class="itemText">Domänen synchronisieren</span></div><div class="items darkText itemContactus" onclick="location.href='index.php?op=aboutcontactus'" title="Schreibe uns eine E-Mail"><img src="templates/picante/general/images/aboutcontactus.png" alt="Schreibe uns eine E-Mail" class="item" />
                                       <br>
                                       <span class="itemText">Schreibe uns eine E-Mail</span></div><div class="items darkText itemHelp" onclick="location.href='index.php?op=help'" title="Allgemeine Hilfe"><img src="templates/picante/general/images/help.png" alt="Allgemeine Hilfe" class="item" />
                                       <br>
                                       <span class="itemText">Allgemeine Hilfe</span></div><div class="items darkText itemTodolist" onclick="location.href='index.php?op=todolist'" title="Aufgabenliste"><img src="templates/picante/general/images/todolist.png" alt="Aufgabenliste" class="item" />
                                       <br>
                                       <span class="itemText">Aufgabenliste</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Domain Operations</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAdddomaintothisuser" onclick="location.href='index.php?op=addDomainToThisPaneluser'" title="Domain zu meinem Konto hinzufügen"><img src="templates/picante/general/images/adddomaintothispaneluser.png" alt="Domain zu meinem Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Domain zu meinem Konto hinzufügen</span></div><div class="items darkText itemAdddomainbulk" onclick="location.href='index.php?op=bulkadddomain'" title="Bulk-Domains zu meinem Konto hinzufügen"><img src="templates/picante/general/images/bulkadddomain.png" alt="Bulk-Domains zu meinem Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Bulk-Domains zu meinem Konto hinzufügen</span></div><div class="items darkText itemAdduserdomain" onclick="location.href='index.php?op=adddomain'" title="Benutzer erstellen und Domäne hinzufügen"><img src="templates/picante/general/images/adddomain.png" alt="Benutzer erstellen und Domäne hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Benutzer erstellen und Domäne hinzufügen</span></div><div class="items darkText itemAdduserdomaineasy" onclick="location.href='index.php?op=adddomaineasy'" title="Einfaches Benutzer erstellen und Domäne hinzufügen"><img src="templates/picante/general/images/adddomaineasy.png" alt="Einfaches Benutzer erstellen und Domäne hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Einfaches Benutzer erstellen und Domäne hinzufügen</span></div><div class="items darkText itemAdddomaindns" onclick="location.href='index.php?op=adddnsonlydomain'" title="DNS-Domain hinzufügen"><img src="templates/picante/general/images/adddnsonlydomain.png" alt="DNS-Domain hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">DNS-Domain hinzufügen</span></div><div class="items darkText itemAdddomaindnstouser" onclick="location.href='index.php?op=adddnsonlydomainwithpaneluser'" title="DNS-Domäne zu Benutzer hinzufügen"><img src="templates/picante/general/images/adddnsonlydomainwithpaneluser.png" alt="DNS-Domäne zu Benutzer hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">DNS-Domäne zu Benutzer hinzufügen</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Passwortgeschützte Verzeichnisse hinzufügen"><img src="templates/picante/general/images/directories.png" alt="Passwortgeschützte Verzeichnisse hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Passwortgeschützte Verzeichnisse hinzufügen</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="Benutzerdefiniertes HTTP"><img src="templates/picante/general/images/customhttp.png" alt="Benutzerdefiniertes HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Benutzerdefiniertes HTTP</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="Benutzerdefinierte DNS"><img src="templates/picante/general/images/customdns.png" alt="Benutzerdefinierte DNS" class="item" />
                                       <br>
                                       <span class="itemText">Benutzerdefinierte DNS</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="SSL-Zertifikat hinzufügen"><img src="templates/picante/general/images/manage_sslcerts.png" alt="SSL-Zertifikat hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">SSL-Zertifikat hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListdomains" onclick="location.href='index.php?op=selectdomain'" title="Domains auflisten"><img src="templates/picante/general/images/selectdomain.png" alt="Domains auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Domains auflisten</span></div><div class="items darkText itemListdomainspassive" onclick="location.href='index.php?op=listpassivedomains'" title="Passive Domains auflisten"><img src="templates/picante/general/images/listpassivedomains.png" alt="Passive Domains auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Passive Domains auflisten</span></div><div class="items darkText itemManagesubdomains" onclick="location.href='index.php?op=subdomains'" title="Subdomains verwalten"><img src="templates/picante/general/images/subdomains.png" alt="Subdomains verwalten" class="item" />
                                       <br>
                                       <span class="itemText">Subdomains verwalten</span></div></td></tr><tr class="itemRow"><td class="category">Entfernen</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Passwortgeschützte Verzeichnisse entfernen/auflisten"><img src="templates/picante/general/images/deldirectories.png" alt="Passwortgeschützte Verzeichnisse entfernen/auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Passwortgeschützte Verzeichnisse entfernen/auflisten</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">FTP Operationen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddftpaccount" onclick="location.href='index.php?op=addftpuser'" title="FTP-Konto hinzufügen"><img src="templates/picante/general/images/addftpuser.png" alt="FTP-Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">FTP-Konto hinzufügen</span></div><div class="items darkText itemAddftpaccounttouser" onclick="location.href='index.php?op=addftptothispaneluser'" title="Zeige &amp; Zuweisen von FTP-Konten zu Benutzern"><img src="templates/picante/general/images/addftptothispaneluser.png" alt="Zeige &amp; Zuweisen von FTP-Konten zu Benutzern" class="item" />
                                       <br>
                                       <span class="itemText">Zeige &amp; Zuweisen von FTP-Konten zu Benutzern</span></div><div class="items darkText itemAddftpsubdomain" onclick="location.href='index.php?op=addsubdomainwithftp'" title="Subdomain hinzufügen und FTP-Konto erstellen"><img src="templates/picante/general/images/addsubdomainwithftp.png" alt="Subdomain hinzufügen und FTP-Konto erstellen" class="item" />
                                       <br>
                                       <span class="itemText">Subdomain hinzufügen und FTP-Konto erstellen</span></div><div class="items darkText itemAddftpsubdir" onclick="location.href='index.php?op=addsubdirectorywithftp'" title="Unterverzeichnis zu FTP-Konto hinzufügen"><img src="templates/picante/general/images/addsubdirectorywithftp.png" alt="Unterverzeichnis zu FTP-Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Unterverzeichnis zu FTP-Konto hinzufügen</span></div><div class="items darkText itemAddcustomftp" onclick="location.href='index.php?op=addcustomftp'" title="Benutzerdefiniertes FTP-Konto hinzufügen"><img src="templates/picante/general/images/addcustomftp.png" alt="Benutzerdefiniertes FTP-Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Benutzerdefiniertes FTP-Konto hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="FTP-Konten auflisten"><img src="templates/picante/general/images/listallftpusers.png" alt="FTP-Konten auflisten" class="item" />
                                       <br>
                                       <span class="itemText">FTP-Konten auflisten</span></div><div class="items darkText itemListftpaccountsbydomain" onclick="location.href='index.php?op=listftpusersrelatedtodomains'" title="FTP-Benutzer nach Domäne auflisten"><img src="templates/picante/general/images/listftpusersrelatedtodomains.png" alt="FTP-Benutzer nach Domäne auflisten" class="item" />
                                       <br>
                                       <span class="itemText">FTP-Benutzer nach Domäne auflisten</span></div><div class="items darkText itemListftpnodomain" onclick="location.href='index.php?op=listftpuserswithoutdomain'" title="FTP-Benutzer ohne Domain auflisten"><img src="templates/picante/general/images/listftpuserswithoutdomain.png" alt="FTP-Benutzer ohne Domain auflisten" class="item" />
                                       <br>
                                       <span class="itemText">FTP-Benutzer ohne Domain auflisten</span></div></td></tr><tr class="itemRow"><td class="category">Entfernen</td><td><div class="items darkText itemRemovecustomftp" onclick="location.href='index.php?op=removecustomftp'" title="Benutzerdefinierte(s) FTP-Konto(Konten) entfernen"><img src="templates/picante/general/images/removecustomftp.png" alt="Benutzerdefinierte(s) FTP-Konto(Konten) entfernen" class="item" />
                                       <br>
                                       <span class="itemText">Benutzerdefinierte(s) FTP-Konto(Konten) entfernen</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">E-Mail</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="E-Mail-Konto hinzufügen"><img src="templates/picante/general/images/addemailuser.png" alt="E-Mail-Konto hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">E-Mail-Konto hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="Zeige &amp; E-Mail-Weiterleitungen hinzufügen"><img src="templates/picante/general/images/emailforwardings.png" alt="Zeige &amp; E-Mail-Weiterleitungen hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Zeige &amp; E-Mail-Weiterleitungen hinzufügen</span></div><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="Alle E-Mail-Benutzer auflisten"><img src="templates/picante/general/images/listallemailusers.png" alt="Alle E-Mail-Benutzer auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Alle E-Mail-Benutzer auflisten</span></div><div class="items darkText itemListemailaccountsdomain" onclick="location.href='index.php?op=listemailusers'" title="Domain-E-Mail-Benutzer auflisten"><img src="templates/picante/general/images/listemailusers.png" alt="Domain-E-Mail-Benutzer auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Domain-E-Mail-Benutzer auflisten</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">MySQL Operationen</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="MySQL-Datenbanken hinzufügen"><img src="templates/picante/general/images/addmysqldb.png" alt="MySQL-Datenbanken hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">MySQL-Datenbanken hinzufügen</span></div><div class="items darkText itemAddmysqluser" onclick="location.href='index.php?op=dbadduser'" title="MySQL-Benutzer erstellen"><img src="templates/picante/general/images/dbadduser.png" alt="MySQL-Benutzer erstellen" class="item" />
                                       <br>
                                       <span class="itemText">MySQL-Benutzer erstellen</span></div><div class="items darkText itemAddmysqldbtouser" onclick="location.href='index.php?op=addmysqldbtouser'" title="MySQL-Datenbank zu Benutzer hinzufügen"><img src="templates/picante/general/images/addmysqldbtouser.png" alt="MySQL-Datenbank zu Benutzer hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">MySQL-Datenbank zu Benutzer hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="MySQL-Datenbanken auflisten"><img src="templates/picante/general/images/domainop_listdb.png" alt="MySQL-Datenbanken auflisten" class="item" />
                                       <br>
                                       <span class="itemText">MySQL-Datenbanken auflisten</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">EHCP Server Status &amp; Info</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Hinzufügen</td><td><div class="items darkText itemAddremotebackup" onclick="location.href='index.php?op=addremotebackup'" title="Remote-Backup planen"><img src="templates/picante/general/images/addremotebackup.png" alt="Remote-Backup planen" class="item" />
                                       <br>
                                       <span class="itemText">Remote-Backup planen</span></div><div class="items darkText itemAddcronjob" onclick="location.href='index.php?op=addcronjob'" title="Server-Cronjob hinzufügen"><img src="templates/picante/general/images/addcronjob.png" alt="Server-Cronjob hinzufügen" class="item" />
                                       <br>
                                       <span class="itemText">Server-Cronjob hinzufügen</span></div></td></tr><tr class="itemRow"><td class="category">Bearbeiten</td><td><div class="items darkText itemChangetheme" onclick="location.href='index.php?op=changetemplate'" title="Thema ändern"><img src="templates/picante/general/images/changetemplate.png" alt="Thema ändern" class="item" />
                                       <br>
                                       <span class="itemText">Thema ändern</span></div><div class="items darkText itemManageglobalwebtemplates" onclick="location.href='index.php?op=manageglobalwebtemplates'" title="Globale Webserver-Vorlagen verwalten"><img src="templates/picante/general/images/manageglobalwebtemplates.png" alt="Globale Webserver-Vorlagen verwalten" class="item" />
                                       <br>
                                       <span class="itemText">Globale Webserver-Vorlagen verwalten</span></div></td></tr><tr class="itemRow"><td class="category">Auflisten</td><td><div class="items darkText itemServerbackuplist" onclick="location.href='index.php?op=listbackups'" title="Backups auflisten"><img src="templates/picante/general/images/listbackups.png" alt="Backups auflisten" class="item" />
                                       <br>
                                       <span class="itemText">Backups auflisten</span></div></td></tr><tr class="itemRow"><td class="category">Entfernen</td><td><div class="items darkText itemRemoveremotebackup" onclick="location.href='index.php?op=removeremotebackup'" title="Remote-Backups verwalten"><img src="templates/picante/general/images/removeremotebackup.png" alt="Remote-Backups verwalten" class="item" />
                                       <br>
                                       <span class="itemText">Remote-Backups verwalten</span></div><div class="items darkText itemRemovecronjob" onclick="location.href='index.php?op=removecronjob'" title="Server-Cronjob entfernen"><img src="templates/picante/general/images/removecronjob.png" alt="Server-Cronjob entfernen" class="item" />
                                       <br>
                                       <span class="itemText">Server-Cronjob entfernen</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemServeroperations" onclick="location.href='index.php?op=operations'" title="Daemon Operationen"><img src="templates/picante/general/images/operations.png" alt="Daemon Operationen" class="item" />
                                       <br>
                                       <span class="itemText">Daemon Operationen</span></div><div class="items darkText itemServerbackup" onclick="location.href='index.php?op=dobackup'" title="Erstelle Backup"><img src="templates/picante/general/images/dobackup.png" alt="Erstelle Backup" class="item" />
                                       <br>
                                       <span class="itemText">Erstelle Backup</span></div><div class="items darkText itemServerbackuprestore" onclick="location.href='index.php?op=dorestore'" title="Backup wiederherstellen"><img src="templates/picante/general/images/dorestore.png" alt="Backup wiederherstellen" class="item" />
                                       <br>
                                       <span class="itemText">Backup wiederherstellen</span></div><div class="items darkText itemServeroptions" onclick="location.href='index.php?op=options'" title="Optionen"><img src="templates/picante/general/images/options.png" alt="Optionen" class="item" />
                                       <br>
                                       <span class="itemText">Optionen</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Utilities</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemWebmail" onclick="window.open('webmail')" title="Webmail Client"><img src="templates/picante/general/images/launchmail.png" alt="Webmail Client" class="item" />
                                       <br>
                                       <span class="itemText">Webmail Client</span></div><div class="items darkText itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/picante/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div><div class="items darkText itemNet2ftp" onclick="window.open('net2ftp')" title="Dateimanager"><img src="templates/picante/general/images/webftp.png" alt="Dateimanager" class="item" />
                                       <br>
                                       <span class="itemText">Dateimanager</span></div><div class="items darkText itemExtplorer" onclick="window.open('extplorer')" title="Extplorer File Manager"><img src="templates/picante/general/images/extplorer.png" alt="Extplorer File Manager" class="item" />
                                       <br>
                                       <span class="itemText">Extplorer File Manager</span></div><div class="items darkText itemPolicyd" onclick="window.open('policyd')" title="Policyd Management"><img src="templates/picante/general/images/policyd.png" alt="Policyd Management" class="item" />
                                       <br>
                                       <span class="itemText">Policyd Management</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>