<!-- Start of Homepagedomain_admin_en.html -->

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="domain">
<tr class="display">
<td class="subText">
<a name="domainOps"></a>
<span class="title">Domain Operations</span>
<img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('domain'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Add / Create:</p>
</td>
<td class="items">
<a href="?op=addsubdomain" title="Add SubDomains"><img src="{templatedir}/images/addsubdomain.png" alt="Add Subdomains" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdomain" title="Add SubDomains">Add SubDomains</a>
</td>

<td class="items">
<a href="?op=addcustomhttp" title="Add Custom http"><img src="{templatedir}/images/addcustomhttp.png" alt="Add Custom HTTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=addcustomhttp" title="Add Custom http">Add Custom HTTP</a>
</td>
<td class="items">
<a href="?op=customdns" title="ADD Custom dns"><img src="{templatedir}/images/addcustomdns.png" alt="Add Custom DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=customdns" title="ADD Custom dns">Add Custom DNS</a>
</td>
<td class="items">
<a href="?op=adddirectory" title="Create Password Protected Directories"><img src="{templatedir}/images/adddirectory.png" alt="Create Password Protected Directories" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddirectory" title="Create Password Protected Directories">Password Protected Directories</a>
</td>
<td class="items">
<a href="?op=editdnstemplate" title="Edit dns template for this domain"><img src="{templatedir}/images/editdnstemplate.png" alt="Edit DNS Template" width="32" height="32" class="item"></a>
<br>
<a href="?op=editdnstemplate" title="Edit dns template for this domain">Edit DNS Template</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=editapachetemplate" title="Edit apache template for this domain"><img src="{templatedir}/images/editapachetemplate.png" alt="Edit Apache Template" width="32" height="32" class="item"></a>
<br>
<a href="?op=editapachetemplate" title="Edit apache template for this domain">Edit Apache Template</a>
</td>
<td class="items">
<a href="?op=editdomainaliases" title="Edit Aliases for this domain"><img src="{templatedir}/images/editdomainaliases.gif" alt="Edit Aliases" width="32" height="32" class="item"></a>
<br>
<a href="?op=editdomainaliases" title="Edit Aliases for this domain">Edit Aliases</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
<tr>
<td class="items">
<p class="title3">View / List:</p>
</td>
<td class="items">
<a href="?op=subdomains" title="List SubDomains"><img src="{templatedir}/images/subdomains.png" alt="List Custom Subdomains" width="32" height="32" class="item"></a>
<br>
<a href="?op=subdomains" title="List SubDomains">List SubDomains</a>
</td>
<td class="items">
<a href="?op=customhttp" title="List Custom http"><img src="{templatedir}/images/customhttp.png" alt="Show Custom HTTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=customhttp" title="List Custom http">Show Custom HTTP</a>
</td>
<td class="items">
<a href="?op=customdns" title="List Custom dns"><img src="{templatedir}/images/customdns.png" alt="List Custom DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=customdns" title="List Custom dns">Show Custom DNS</a>
</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="ftp">
<tr class="display">
<td class="subText">
<span class="title">FTP Operations</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('ftp'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Add / Modify:</p>
</td>
<td class="items">
<a href="?op=editftpuser"><img src="{templatedir}/images/editftpuser.png" alt="Change FTP Password" width="32" height="32" class="item"></a>
<br>
<a href="?op=editftpuser">Change FTP Password</a>
</td>
<td class="items">
<a href="?op=addftptothispaneluser"><img src="{templatedir}/images/addftptothispaneluser.png" alt="Add General FTP User" width="32" height="32" class="item"></a>
<br>
<a href="?op=addftptothispaneluser">Add General FTP User</a>
</td>
<td class="items">
<a href="?op=addsubdomainwithftp"><img src="{templatedir}/images/editftpuser.png" alt="Add Subdomain with FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdomainwithftp">Add FTP User Subdomain Access</a>
</td>
<td class="items">
<a href="?op=addsubdirectorywithftp"><img src="{templatedir}/images/addsubdirectorywithftp.png" alt="Add Subdirectory with FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdirectorywithftp">Add FTP User Subdirectory Access</a>
</td>
<td class="items">
</td>
</tr>
<tr>
<td class="items">
<p class="title3">List / View:</p>
</td>
<td class="items">
<a href="?op=listallftpusers"><img src="{templatedir}/images/listallftpusers.png" alt="List FTP Users" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallftpusers">List FTP Users</a>
</td>
<td class="items">
<a href="net2ftp"><img src="{templatedir}/images/webftp.png" alt="WebFTP" width="32" height="32" class="item"></a>
<br>
<a href="net2ftp">File Manager</a>
</td>
<td class="items">
</td>
<td class="items">
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="mysql">
<tr class="display">
<td class="subText">
<span class="title">MySQL Operations</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('mysql'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Create / View:</p>
</td>
<td class="items">
<a href="?op=addmysqldb"><img src="{templatedir}/images/addmysqldb.png" alt="Add MySQL Database / Users" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldb">Create MySQL Database &amp; Users</a>
</td>
<td class="items">
<a href="?op=domainop&action=listdb"><img src="{templatedir}/images/domainop_listdb.png" alt="List MySQL Databases" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainop&action=listdb">List MySQL Databases</a>
</td>
<td class="items">
<a href="?op=addmysqldbtouser"><img src="{templatedir}/images/addmysqldbtouser.png" alt="Create MySQL Database &amp; Link to User" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldbtouser">Create Database &amp; Assign Existing Users</a>
</td>
<td class="items">
<a href="?op=dbadduser"><img src="{templatedir}/images/dbadduser.png" alt="Create MySQL Database &amp; Link to User" width="32" height="32" class="item"></a>
<br>
<a href="?op=dbadduser">Assign Users to Existing Database</a>
</td>
<td class="items">
<a href="http://{myip}/phpmyadmin"><img src="{templatedir}/images/phpmyadmin.png" alt="PHPMyAdmin" width="32" height="32" class="item"></a>
<br>
<a href="http://{myip}/phpmyadmin">PHPMyAdmin</a>
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="email">
<tr class="display">
<td class="subText">
<span class="title">Email Operations</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('email'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Create / View:</p>
</td>
<td class="items">
<a href="?op=addemailuser"><img src="{templatedir}/images/addemailuser.png" alt="Add Email User" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailuser">Add Email User</a>
</td>
<td class="items">
<a href="?op=listallemailusers"><img src="{templatedir}/images/listallemailusers.png" alt="List Email Users" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallemailusers">List Email Users</a>
</td>
<td class="items">
<a href="?op=addemailforwarding"><img src="{templatedir}/images/addemailforwarding.png" alt="Add Email Forwarding" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailforwarding">Add Email Forwarder</a>
</td>
<td class="items">
<a href="?op=emailforwardings"><img src="{templatedir}/images/emailforwardings.png" alt="List Email Forwarders" width="32" height="32" class="item"></a>
<br>
<a href="?op=emailforwardings">List Email Forwarders</a>
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="my">
<tr class="display">
<td class="subText">
<span class="title">My Settings</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('my'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Create / Modify:</p>
</td>
<td class="items">
<a href="?op=domainsettings"><img src="{templatedir}/images/domainsettings.png" alt="Domain Settings" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainsettings">Domain Settings</a>
</td>
<td class="items">
<a href="?op=editdomain"><img src="{templatedir}/images/editdomain.png" alt="Activate or Deactivate Domain" width="32" height="32" class="item"></a>
<br>
<a href="?op=editdomain">Activate or Deactivate Domain</a>
</td>
<td class="items">
<a href="?op=transferdomain"><img src="{templatedir}/images/transferdomain.png" alt="Transfer Domain to Another User" width="32" height="32" class="item"></a>
<br>
<a href="?op=transferdomain">Transfer Domain to Another User</a>
</td>
<td class="items">
<a href="?op=addredirect"><img src="{templatedir}/images/addredirect.png" alt="Domain Redirection" width="32" height="32" class="item"></a>
<br>
<a href="?op=addredirect">Redirect Domains</a>
</td>
<td class="items">
<a href="?op=deletedomain"><img src="{templatedir}/images/deletedomain.png" alt="Delete Domain" width="32" height="32" class="item"></a>
<br>
<a href="?op=deletedomain">Delete Domain</a>
</td>
</tr>
<tr>
<td class="items">
</td>
<td class="items">
<a href="?op=changemypass"><img src="{templatedir}/images/changemypass.png" alt="Change Password" width="32" height="32" class="item"></a>
<br>
<a href="?op=changemypass">Change My Password</a>
</td>
<td class="items">
<a href="?op=addscript"><img src="{templatedir}/images/addscript.png" alt="Add Scripts" width="32" height="32" class="item"></a>
<br>
<a href="?op=addscript">Easy Install Scripts</a>
</td>
<td class="items">
<a href="http://www.{selecteddomain}/webstats"><img src="{templatedir}/images/webstats.png" alt="Statistics (Webstats)" width="32" height="32" class="item"></a>
<br>
<a href="http://www.{selecteddomain}/webstats">Statistics (Webstats)</a>
</td>
<td class="items">
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<!-- End of Homepagedomain_admin_en.html -->