<!-- Start of homepage_serveradmin_other_en.html -->
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
<tr class="display">
<td class="subText">
<span class="title">User Management Operations</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('user'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Add / Modify:</p>
</td>
<td class="items">
<a href="?op=addpaneluser"><img src="{templatedir}/images/addpaneluser.gif" alt="Add Panel User / Client" width="32" height="32" class="item"></a>
<br>
<a href="?op=addpaneluser">Add New User or Client</a>
</td>
<td class="items">
<a href="?op=addscript"><img src="{templatedir}/images/addscript.png" alt="Easy Install Scripts" width="32" height="32" class="item"></a>
<br>
<a href="?op=addscript">Easy Install Scripts</a>
</td>

<td class="items">
<a href="?op=dosyncdns"><img src="{templatedir}/images/dosyncdns.png" alt="Reload DNS Zones" width="32" height="32" class="item"></a>
<br>
<a href="?op=dosyncdns">Reload DNS Zones</a>
</td>
<td class="items">
<a href="?op=dosyncdomains"><img src="{templatedir}/images/dosyncdomains.png" alt="Synchronize Domains" width="32" height="32" class="item"></a>
<br>
<a href="?op=dosyncdomains">Synchronize Domains</a>
</td>

<td class="items">
<a href="?op=changemypass"><img src="{templatedir}/images/changemypass.png" alt="Change My Password" width="32" height="32" class="item"></a>
<br>
<a href="?op=changemypass">Change My Password</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=doupdatediskquota"><img src="{templatedir}/images/doupdatediskquota.png" alt="Update Disk Quotas" width="32" height="32" class="item"></a>
<br>
<a href="?op=doupdatediskquota">Update Disk Quotas</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
<tr>
<td class="items">
<p class="title3">List / View:</p>
</td>
<td class="items">
<a href="?op=listpanelusers"><img src="{templatedir}/images/listpanelusers.gif" alt="List Clients &amp; Users" width="32" height="32" class="item"></a>
<br>
<a href="?op=listpanelusers">List Clients / Users</a>
</td>
<td class="items">
<a href="?op=help"><img src="{templatedir}/images/help.png" alt="Help" width="32" height="32" class="item"></a>
<br>
<a href="?op=help">Help</a>
</td>
<td class="items">
<a href="?op=todolist"><img src="{templatedir}/images/todolist.png" alt="To Do List" width="32" height="32" class="item"></a>
<br>
<a href="?op=todolist">To Do List</a>
</td>
<td class="items">
<a href="?op=aboutcontactus"><img src="{templatedir}/images/aboutcontactus.png" alt="Contact Us" width="32" height="32" class="item"></a>
<br>
<a href="?op=aboutcontactus">Contact Us</a>
</td>

<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<a name="domainOps"></a>
<table border="0" cellspacing="0" cellpadding="0" class="submain" id="domain">
<tr class="display">
<td class="subText">
<span class="title">Domain Operations</span>
<img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('domain'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Add / Create:</p>
</td>
<td class="items">
<a href="?op=adddomain" title="Add Domains"><img src="{templatedir}/images/adddomain.png" alt="Add Domain" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddomain" title="Add Domains">Add Domain</a>
</td>
<td class="items">
<a href="?op=adddomaineasy" title="Add Domains Easily"><img src="{templatedir}/images/adddomaineasy.gif" alt="Add Domains Easily" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddomaineasy" title="Add Domains Easily">Simple Domain Addition</a>
</td>
<td class="items">
<a href="?op=addDomainToThisPaneluser" title="Add Domains Easily"><img src="{templatedir}/images/addDomainToThisPaneluser.gif" alt="Add Domains Easily To This User" width="32" height="32" class="item"></a>
<br>
<a href="?op=addDomainToThisPaneluser" title="Add Domains Easily">Add Domain To My Account</a>
</td>

<td class="items">
<a href="?op=bulkadddomain" title="Add Domains in Bulk"><img src="{templatedir}/images/bulkadddomain.gif" alt="Add Domains in Bulk" width="32" height="32" class="item"></a>
<br>
<a href="?op=bulkadddomain" title="Add Domains in Bulk">Add Domains in Bulk</a>
</td>
<td class="items">
<a href="?op=adddnsonlydomain" title="Add DNS Only Hosting"><img src="{templatedir}/images/adddnsonlydomain.png" alt="Add DNS Only Hosting" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddnsonlydomain" title="Add DNS Only Hosting">Add DNS Only Hosting</a>
</td>

</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=adddnsonlydomainwithpaneluser" title="Add dns only with paneluser"><img src="{templatedir}/images/adddnsonlydomainwithpaneluser.gif" alt="Add dns only with paneluser" width="32" height="32" class="item"></a>
<br>
<a href="?op=adddnsonlydomainwithpaneluser" title="Add dns only with paneluser">Assign DNS Only Hosting to User</a>
</td>
<td class="items">
<a href="?op=subdomains" title="Manage SubDomains"><img src="{templatedir}/images/subdomains.gif" alt="Manage SubDomains" width="32" height="32" class="item"></a>
<br>
<a href="?op=subdomains" title="Manage SubDomains">Manage SubDomains</a>
</td>
<td class="items">
<a href="?op=directories" title="Password Protected Directories"><img src="{templatedir}/images/directories.png" alt="Password Protected Directories" width="32" height="32" class="item"></a>
<br>
<a href="?op=directories" title="Password Protected Directories">Password Protected Directories</a>
</td>
<td class="items">
<a href="?op=customdns" title="Custom DNS"><img src="{templatedir}/images/customdns.png" alt="Custom DNS" width="32" height="32" class="item"></a>
<br>
<a href="?op=customdns" title="Custom DNS">Custom DNS</a>
</td>
<td class="items">
<a href="?op=customhttp" title="Custom HTTP"><img src="{templatedir}/images/customhttp.png" alt="Custom HTTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=customhttp" title="Custom HTTP">Custom HTTP</a>
</td>
</tr>
<tr>
<td class="items">
<p class="title3">View / List:</p>
</td>

<td class="items">
<a href="?op=directories" title="Custom HTTP"><img src="{templatedir}/images/directories.png" alt="Password Protected Directories" width="32" height="32" class="item"></a>
<br>
<a href="?op=directories" title="Custom HTTP">Password Protected Directories</a>
</td>

<td class="items">
<a href="?op=selectdomain" title="List Domains"><img src="{templatedir}/images/selectdomain.png" alt="List Domains" width="32" height="32" class="item"></a>
<br>
<a href="?op=selectdomain" title="List Domains">List Domains</a>
</td>
<td class="items">
<a href="?op=listpassivedomains" title="List Passive Domains"><img src="{templatedir}/images/listpassivedomains.png" alt="List Passive Domains" width="32" height="32" class="item"></a>
<br>
<a href="?op=listpassivedomains" title="List Passive Domains">List Passive Domains</a>
</td>
<td class="items">
</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="ftp">
<tr class="display">
<td class="subText">
<span class="title">FTP Operations</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('ftp'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Add / View:</p>
</td>
<td class="items">
<a href="?op=addftpuser"><img src="{templatedir}/images/addftpuser.png" alt="Add FTP Account" width="32" height="32" class="item"></a>
<br>
<a href="?op=addftpuser">Add FTP Account</a>
</td>
<td class="items">
<a href="?op=listallftpusers"><img src="{templatedir}/images/listallftpusers.png" alt="List FTP Users" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallftpusers">List FTP Users</a>
</td>
<td class="items">
<a href="?op=addftptothispaneluser"><img src="{templatedir}/images/addftptothispaneluser.png" alt="Add FTP To Users" width="32" height="32" class="item"></a>
<br>
<a href="?op=addftptothispaneluser">Add &amp; Assign FTP Accounts To User(s)</a>
</td>
<td class="items">
<a href="?op=listftpusersrelatedtodomains"><img src="{templatedir}/images/listftpusersrelatedtodomains.png" alt="List FTP Users By Domain" width="32" height="32" class="item"></a>
<br>
<a href="?op=listftpusersrelatedtodomains">List FTP Users By Domain</a>
</td>
<td class="items">
<a href="?op=addsubdirectorywithftp"><img src="{templatedir}/images/addsubdirectorywithftp.png" alt="Add SubDirectory With FTP" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdirectorywithftp">Add SubDirectory With FTP</a>
</td>
</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=addsubdomainwithftp"><img src="{templatedir}/images/addsubdomainwithftp.png" alt="Add SubDomain" width="32" height="32" class="item"></a>
<br>
<a href="?op=addsubdomainwithftp">Add SubDomain With FTP</a>
</td>
<td class="items">
<a href="?op=listftpuserswithoutdomain"><img src="{templatedir}/images/listftpuserswithoutdomain.png" alt="List FTP Users Without Domain" width="32" height="32" class="item"></a>
<br>
<a href="?op=listftpuserswithoutdomain">List FTP Users Without Domain</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="email">
<tr class="display">
<td class="subText">
<span class="title">Email Operations</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('email'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Create / View:</p>
</td>
<td class="items">
<a href="?op=addemailuser"><img src="{templatedir}/images/addemailuser.png" alt="Add Email User" width="32" height="32" class="item"></a>
<br>
<a href="?op=addemailuser">Add Email User</a>
</td>
<td class="items">
<a href="?op=listallemailusers"><img src="{templatedir}/images/listallemailusers.png" alt="List Email Users" width="32" height="32" class="item"></a>
<br>
<a href="?op=listallemailusers">List All Email Users</a>
</td>
<td class="items">
<a href="?op=listemailusers"><img src="{templatedir}/images/listemailusers.png" alt="List Email Users of A Domain" width="32" height="32" class="item"></a>
<br>
<a href="?op=listemailusers">List Email Users of A Domain</a>
</td>
<td class="items">
<a href="?op=emailforwardings"><img src="{templatedir}/images/emailforwardings.png" alt="List Email Forwarders" width="32" height="32" class="item"></a>
<br>
<a href="?op=emailforwardings">List &amp; Add Email Forwarders</a>
</td>
<td class="items">
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="mysql">
<tr class="display">
<td class="subText">
<span class="title">MySQL Operations</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('mysql'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">Create / View:</p>
</td>
<td class="items">
<a href="?op=addmysqldb"><img src="{templatedir}/images/addmysqldb.png" alt="Add MySQL Databases" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldb">Add MySQL Databases</a>
</td>
<td class="items">
<a href="?op=domainop&action=listdb"><img src="{templatedir}/images/domainop_listdb.png" alt="List MySQL Databases" width="32" height="32" class="item"></a>
<br>
<a href="?op=domainop&action=listdb">List MySQL Databases</a>
</td>
<td class="items">
<a href="?op=addmysqldbtouser"><img src="{templatedir}/images/addmysqldbtouser.gif" alt="Add MySQL Database To User" width="32" height="32" class="item"></a>
<br>
<a href="?op=addmysqldbtouser">Add MySQL Database To User</a>
</td>
<td class="items">
<a href="?op=dbadduser"><img src="{templatedir}/images/dbadduser.gif" alt="Create MySQL User" width="32" height="32" class="item"></a>
<br>
<a href="?op=dbadduser">Create MySQL User</a>
</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<table border="0" cellspacing="0" cellpadding="0" class="submain" id="ehcp">
<tr class="display">
<td class="subText">
<span class="title">EHCP Server Status &amp; Info</span><img src="{templatedir}/images/collapse.gif" alt="collapse" onclick="collapse(this, document.getElementById('ehcp'))" class="func">
</td>
</tr>
<tr>
<td class="action">
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tr>
<td class="items">
<p class="title2">View / Modify:</p>
</td>
<td class="items">
<a href="?op=operations"><img src="{templatedir}/images/operations.png" alt="Daemon Operations" width="32" height="32" class="item"></a>
<br>
<a href="?op=operations">Daemon Operations</a>
</td>
<td class="items">
<a href="?op=dobackup"><img src="{templatedir}/images/dobackup.png" alt="Backup Server" width="32" height="32" class="item"></a>
<br>
<a href="?op=dobackup">Backups</a>
</td>
<td class="items">
<a href="?op=dorestore"><img src="{templatedir}/images/dorestore.png" alt="Restore Backup" width="32" height="32" class="item"></a>
<br>
<a href="?op=dorestore">Restore Backup</a>
</td>
<td class="items">
<a href="?op=listbackups"><img src="{templatedir}/images/listbackups.png" alt="List Backups" width="32" height="32" class="item"></a>
<br>
<a href="?op=listbackups">List Backups</a>
</td>
<td class="items">
<a href="?op=options"><img src="{templatedir}/images/options.png" alt="Options" width="32" height="32" class="item"></a>
<br>
<a href="?op=options">Options</a>
</td>

</tr>
<tr>
<td class="items">

</td>
<td class="items">
<a href="?op=changetemplate"><img src="{templatedir}/images/changetemplate.png" alt="Change Template" width="32" height="32" class="item"></a>
<br>
<a href="?op=changetemplate">Change Template</a>
</td>

<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
<td class="items">

</td>
</tr>
</table>
</td>
</tr>
</table>

<!-- End of homepage_serveradmin_other_en.html -->