<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Revendeurs</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Ajouter</td><td><div class="items darkText itemAddpaneluser" onclick="location.href='index.php?op=addpaneluser'" title="Ajouter Un Client"><img src="templates/picante/general/images/addpaneluser.png" alt="Ajouter Un Client" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Client</span></div><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Installation Rapide De Scripts"><img src="templates/picante/general/images/addscript.png" alt="Installation Rapide De Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Installation Rapide De Scripts</span></div></td></tr><tr class="itemRow"><td class="category">Modifier</td><td><div class="items darkText itemUpdatediskquota" onclick="location.href='index.php?op=doupdatediskquota'" title="Mise &aacute; Jour de l'espace Disque"><img src="templates/picante/general/images/doupdatediskquota.png" alt="Mise &aacute; Jour de l'espace Disque" class="item" />
                                       <br>
                                       <span class="itemText">Mise &aacute; Jour de l'espace Disque</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Changez Mon Mot De Passe"><img src="templates/picante/general/images/changemypass.png" alt="Changez Mon Mot De Passe" class="item" />
                                       <br>
                                       <span class="itemText">Changez Mon Mot De Passe</span></div></td></tr><tr class="itemRow"><td class="category">Liste</td><td><div class="items darkText itemListusers" onclick="location.href='index.php?op=listpanelusers'" title="Liste de Mes Clients"><img src="templates/picante/general/images/listpanelusers.png" alt="Liste de Mes Clients" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Mes Clients</span></div></td></tr><tr class="itemRow"><td class="category">Système</td><td><div class="items darkText itemReloaddns" onclick="location.href='index.php?op=dosyncdns'" title="Rechargement des Zones DNS"><img src="templates/picante/general/images/dosyncdns.png" alt="Rechargement des Zones DNS" class="item" />
                                       <br>
                                       <span class="itemText">Rechargement des Zones DNS</span></div><div class="items darkText itemSyncdomains" onclick="location.href='index.php?op=dosyncdomains'" title="Synchronisation des Domaines"><img src="templates/picante/general/images/dosyncdomains.png" alt="Synchronisation des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Synchronisation des Domaines</span></div><div class="items darkText itemContactus" onclick="location.href='index.php?op=aboutcontactus'" title="Contactez-Nous"><img src="templates/picante/general/images/aboutcontactus.png" alt="Contactez-Nous" class="item" />
                                       <br>
                                       <span class="itemText">Contactez-Nous</span></div><div class="items darkText itemHelp" onclick="location.href='index.php?op=help'" title="Support"><img src="templates/picante/general/images/help.png" alt="Support" class="item" />
                                       <br>
                                       <span class="itemText">Support</span></div><div class="items darkText itemTodolist" onclick="location.href='index.php?op=todolist'" title="Liste de Choses &aacute; Faire"><img src="templates/picante/general/images/todolist.png" alt="Liste de Choses &aacute; Faire" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Choses &aacute; Faire</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Des Domaines</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Ajouter</td><td><div class="items darkText itemAdddomaintothisuser" onclick="location.href='index.php?op=addDomainToThisPaneluser'" title="Ajouter Un Domaine Sur Mon Compte"><img src="templates/picante/general/images/adddomaintothispaneluser.png" alt="Ajouter Un Domaine Sur Mon Compte" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Domaine Sur Mon Compte</span></div><div class="items darkText itemAdduserdomain" onclick="location.href='index.php?op=adddomain'" title="Ajouter Un Domaine et Utilisateur"><img src="templates/picante/general/images/adddomain.png" alt="Ajouter Un Domaine et Utilisateur" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Domaine et Utilisateur</span></div><div class="items darkText itemAdduserdomaineasy" onclick="location.href='index.php?op=adddomaineasy'" title="Ajouter Rapidement Un Domaine et Utilisateur"><img src="templates/picante/general/images/adddomaineasy.png" alt="Ajouter Rapidement Un Domaine et Utilisateur" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Rapidement Un Domaine et Utilisateur</span></div><div class="items darkText itemAddsubdomain" onclick="location.href='index.php?op=addsubdomain'" title="Ajouter Un Sous-Domaine"><img src="templates/picante/general/images/addsubdomain.png" alt="Ajouter Un Sous-Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Sous-Domaine</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Ajouter des répertoires protégés par mot de passe"><img src="templates/picante/general/images/directories.png" alt="Ajouter des répertoires protégés par mot de passe" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des répertoires protégés par mot de passe</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="Personnaliser DNS"><img src="templates/picante/general/images/customdns.png" alt="Personnaliser DNS" class="item" />
                                       <br>
                                       <span class="itemText">Personnaliser DNS</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="Personnaliser HTTP"><img src="templates/picante/general/images/customhttp.png" alt="Personnaliser HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Personnaliser HTTP</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="Ajouter un Certificat SSL"><img src="templates/picante/general/images/manage_sslcerts.png" alt="Ajouter un Certificat SSL" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter un Certificat SSL</span></div></td></tr><tr class="itemRow"><td class="category">Liste</td><td><div class="items darkText itemListdomains" onclick="location.href='index.php?op=selectdomain'" title="Liste des Domaines"><img src="templates/picante/general/images/selectdomain.png" alt="Liste des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Domaines</span></div><div class="items darkText itemListdomainspassive" onclick="location.href='index.php?op=listpassivedomains'" title="Liste Des Domaines Passifs"><img src="templates/picante/general/images/listpassivedomains.png" alt="Liste Des Domaines Passifs" class="item" />
                                       <br>
                                       <span class="itemText">Liste Des Domaines Passifs</span></div></td></tr><tr class="itemRow"><td class="category">Supprimer</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Supprimer ou Lister les répertoires protégés par mot de passe"><img src="templates/picante/general/images/deldirectories.png" alt="Supprimer ou Lister les répertoires protégés par mot de passe" class="item" />
                                       <br>
                                       <span class="itemText">Supprimer ou Lister les répertoires protégés par mot de passe</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations FTP</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Ajouter</td><td><div class="items darkText itemAddftpaccount" onclick="location.href='index.php?op=addftpuser'" title="Ajouter des Comptes FTP"><img src="templates/picante/general/images/addftpuser.png" alt="Ajouter des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des Comptes FTP</span></div></td></tr><tr class="itemRow"><td class="category">Liste</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="Liste des Comptes FTP"><img src="templates/picante/general/images/listallftpusers.png" alt="Liste des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP</span></div><div class="items darkText itemListftpaccountsbydomain" onclick="location.href='index.php?op=listftpusersrelatedtodomains'" title="Liste des Comptes FTP Par Domaine"><img src="templates/picante/general/images/listftpusersrelatedtodomains.png" alt="Liste des Comptes FTP Par Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP Par Domaine</span></div><div class="items darkText itemListftpnodomain" onclick="location.href='index.php?op=listftpuserswithoutdomain'" title="Liste des Comptes FTP Sans Domaine"><img src="templates/picante/general/images/listftpuserswithoutdomain.png" alt="Liste des Comptes FTP Sans Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP Sans Domaine</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Messageries</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Ajouter</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="Ajouter Comptes Emails"><img src="templates/picante/general/images/addemailuser.png" alt="Ajouter Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes Emails</span></div></td></tr><tr class="itemRow"><td class="category">Liste</td><td><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="Liste des Comptes Emails"><img src="templates/picante/general/images/listallemailusers.png" alt="Liste des Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes Emails</span></div><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="Liste des Exp&eacute;diteurs Email"><img src="templates/picante/general/images/emailforwardings.png" alt="Liste des Exp&eacute;diteurs Email" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Exp&eacute;diteurs Email</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations MySQL</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Ajouter</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="Ajouter Comptes MySQL Avec Databases MySQL"><img src="templates/picante/general/images/addmysqldb.png" alt="Ajouter Comptes MySQL Avec Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes MySQL Avec Databases MySQL</span></div></td></tr><tr class="itemRow"><td class="category">Liste</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="Liste de Databases MySQL"><img src="templates/picante/general/images/domainop_listdb.png" alt="Liste de Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Databases MySQL</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>