<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Revendeurs</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddpaneluserwithpredefinedplan" onclick="location.href='index.php?op=addpaneluserwithpredefinedplan'" title="Add New User w/ Hosting Template"><img src="templates/picante/general/images/addpaneluserwithpredefinedplan.png" alt="Add New User w/ Hosting Template" class="item" />
                                       <br>
                                       <span class="itemText">Add New User w/ Hosting Template</span></div><div class="items darkText itemAddpaneluser" onclick="location.href='index.php?op=addpaneluser'" title="Add New User or Client"><img src="templates/picante/general/images/addpaneluser.png" alt="Ajouter Un Client" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Client</span></div><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="Add Email Account"><img src="templates/picante/general/images/addemailuser.png" alt="Ajouter Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes Emails</span></div><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="Add MySQL Databases"><img src="templates/picante/general/images/addmysqldb.png" alt="Ajouter Comptes MySQL Avec Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes MySQL Avec Databases MySQL</span></div><div class="items darkText itemAddmysqldbtouser" onclick="location.href='index.php?op=addmysqldbtouser'" title="Add MySQL Database To User"><img src="templates/picante/general/images/addmysqldbtouser.png" alt="Ajouter Databases MySQL Aux Utilisateurs Existants" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Databases MySQL Aux Utilisateurs Existants</span></div><div class="items darkText itemAddmysqluser" onclick="location.href='index.php?op=dbadduser'" title="Create MySQL User"><img src="templates/picante/general/images/dbadduser.png" alt="Ajouter MySQL Utilisateurs" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter MySQL Utilisateurs</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListusers" onclick="location.href='index.php?op=listpanelusers'" title="List Panel Users"><img src="templates/picante/general/images/listpanelusers.png" alt="Liste de Mes Clients" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Mes Clients</span></div><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="List All Email Users"><img src="templates/picante/general/images/listallemailusers.png" alt="Liste des Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes Emails</span></div><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="List MySQL Databases"><img src="templates/picante/general/images/domainop_listdb.png" alt="Liste de Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Databases MySQL</span></div><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="List FTP Accounts"><img src="templates/picante/general/images/listallftpusers.png" alt="Liste des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Des Domaines</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAdddomaintothisuser" onclick="location.href='index.php?op=addDomainToThisPaneluser'" title="Add Domain to My Account"><img src="templates/picante/general/images/adddomaintothispaneluser.png" alt="Ajouter Un Domaine Sur Mon Compte" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Domaine Sur Mon Compte</span></div><div class="items darkText itemAdddomainbulk" onclick="location.href='index.php?op=bulkadddomain'" title="Bulk Add Domains To My Account"><img src="templates/picante/general/images/bulkadddomain.png" alt="Ajouter des Domaines en Masse" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des Domaines en Masse</span></div><div class="items darkText itemAdddomaindns" onclick="location.href='index.php?op=adddnsonlydomain'" title="Add DNS Domain"><img src="templates/picante/general/images/adddnsonlydomain.png" alt="Ajouter H&eacute;bergement DNS" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter H&eacute;bergement DNS</span></div><div class="items darkText itemAdddomaindnstouser" onclick="location.href='index.php?op=adddnsonlydomainwithpaneluser'" title="Add DNS Domain To User"><img src="templates/picante/general/images/adddnsonlydomainwithpaneluser.png" alt="Ajouter H&eacute;bergement DNS Aux Autre Comptes" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter H&eacute;bergement DNS Aux Autre Comptes</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListdomains" onclick="location.href='index.php?op=selectdomain'" title="List Domains"><img src="templates/picante/general/images/selectdomain.png" alt="Liste des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Domaines</span></div><div class="items darkText itemListdomainspassive" onclick="location.href='index.php?op=listpassivedomains'" title="List Passive Domains"><img src="templates/picante/general/images/listpassivedomains.png" alt="Liste Des Domaines Passifs" class="item" />
                                       <br>
                                       <span class="itemText">Liste Des Domaines Passifs</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Utilities</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemWebmail" onclick="window.open('webmail')" title="Webmail Client"><img src="templates/picante/general/images/launchmail.png" alt="Webmail Client" class="item" />
                                       <br>
                                       <span class="itemText">Webmail Client</span></div><div class="items darkText itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/picante/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div><div class="items darkText itemNet2ftp" onclick="window.open('net2ftp')" title="File Manager (net2ftp)"><img src="templates/picante/general/images/webftp.png" alt="Gestionnaire de Fichiers" class="item" />
                                       <br>
                                       <span class="itemText">Gestionnaire de Fichiers</span></div><div class="items darkText itemExtplorer" onclick="window.open('extplorer')" title="Extplorer File Manager"><img src="templates/picante/general/images/extplorer.png" alt="Extplorer File Manager" class="item" />
                                       <br>
                                       <span class="itemText">Extplorer File Manager</span></div><div class="items darkText itemPolicyd" onclick="window.open('policyd')" title="Policyd Management"><img src="templates/picante/general/images/policyd.png" alt="Policyd Management" class="item" />
                                       <br>
                                       <span class="itemText">Policyd Management</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Syst&egrave;me</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddhostingplan" onclick="location.href='index.php?op=addhostingplan'" title="Add Hosting Plan Template"><img src="templates/picante/general/images/addhostingplan.png" alt="Add Hosting Plan Template" class="item" />
                                       <br>
                                       <span class="itemText">Add Hosting Plan Template</span></div></td></tr><tr class="itemRow"><td class="category">Edit</td><td><div class="items darkText itemChangetheme" onclick="location.href='index.php?op=changetemplate'" title="Change Theme AKA Template"><img src="templates/picante/general/images/changetemplate.png" alt="Changer Style De La Page" class="item" />
                                       <br>
                                       <span class="itemText">Changer Style De La Page</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Change My Password"><img src="templates/picante/general/images/changemypass.png" alt="Changez Mon Mot De Passe" class="item" />
                                       <br>
                                       <span class="itemText">Changez Mon Mot De Passe</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemServerbackuplist" onclick="location.href='index.php?op=listbackups'" title="List Backups"><img src="templates/picante/general/images/listbackups.png" alt="Liste des Sauvegardes" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Sauvegardes</span></div></td></tr><tr class="itemRow"><td class="category">Remove</td><td><div class="items darkText itemRemovehostingplan" onclick="location.href='index.php?op=removehostingplan'" title="Remove Hosting Plan Template(s)"><img src="templates/picante/general/images/removehostingplan.png" alt="Remove Hosting Plan Template(s)" class="item" />
                                       <br>
                                       <span class="itemText">Remove Hosting Plan Template(s)</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemServeroperations" onclick="location.href='index.php?op=operations'" title="Daemon Operations"><img src="templates/picante/general/images/operations.png" alt="Op&eacute;rations Daemon" class="item" />
                                       <br>
                                       <span class="itemText">Op&eacute;rations Daemon</span></div><div class="items darkText itemServeroptions" onclick="location.href='index.php?op=options'" title="Options"><img src="templates/picante/general/images/options.png" alt="Options" class="item" />
                                       <br>
                                       <span class="itemText">Options</span></div><div class="items darkText itemReloaddns" onclick="location.href='index.php?op=dosyncdns'" title="Reload DNS Zones"><img src="templates/picante/general/images/dosyncdns.png" alt="Rechargement des Zones DNS" class="item" />
                                       <br>
                                       <span class="itemText">Rechargement des Zones DNS</span></div><div class="items darkText itemSyncdomains" onclick="location.href='index.php?op=dosyncdomains'" title="Synchronize Domains"><img src="templates/picante/general/images/dosyncdomains.png" alt="Synchronisation des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Synchronisation des Domaines</span></div><div class="items darkText itemServerbackup" onclick="location.href='index.php?op=dobackup'" title="Create Backup"><img src="templates/picante/general/images/dobackup.png" alt="G&eacute;rer les Sauvegardes de Fichiers" class="item" />
                                       <br>
                                       <span class="itemText">G&eacute;rer les Sauvegardes de Fichiers</span></div><div class="items darkText itemServerbackuprestore" onclick="location.href='index.php?op=dorestore'" title="Restore Backup"><img src="templates/picante/general/images/dorestore.png" alt="Restaurer des Sauvegardes de Fichiers" class="item" />
                                       <br>
                                       <span class="itemText">Restaurer des Sauvegardes de Fichiers</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>