<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Des Domaines</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddsubdomain" onclick="location.href='index.php?op=addsubdomain'" title="Add Subdomain"><img src="templates/picante/general/images/addsubdomain.png" alt="Ajouter Un Sous-Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Sous-Domaine</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="Custom HTTP"><img src="templates/picante/general/images/customhttp.png" alt="Personnaliser HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Personnaliser HTTP</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="Custom DNS"><img src="templates/picante/general/images/customdns.png" alt="Personnaliser DNS" class="item" />
                                       <br>
                                       <span class="itemText">Personnaliser DNS</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Add Password Protected Directories"><img src="templates/picante/general/images/directories.png" alt="Add Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Add Password Protected Directories</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="Add SSL Certificate"><img src="templates/picante/general/images/manage_sslcerts.png" alt="Add SSL Certificate" class="item" />
                                       <br>
                                       <span class="itemText">Add SSL Certificate</span></div></td></tr><tr class="itemRow"><td class="category">Edit</td><td><div class="items darkText itemDomainapache" onclick="location.href='index.php?op=editapachetemplate'" title="Edit Apache Template"><img src="templates/picante/general/images/editapachetemplate.png" alt="Changer Le Mod&egrave;le Apache" class="item" />
                                       <br>
                                       <span class="itemText">Changer Le Mod&egrave;le Apache</span></div><div class="items darkText itemDomaindns" onclick="location.href='index.php?op=editdnstemplate'" title="Edit DNS Template"><img src="templates/picante/general/images/editdnstemplate.png" alt="Changer Le Mod&egrave;le DNS" class="item" />
                                       <br>
                                       <span class="itemText">Changer Le Mod&egrave;le DNS</span></div><div class="items darkText itemDomainalias" onclick="location.href='index.php?op=editdomainaliases'" title="Edit Aliases"><img src="templates/picante/general/images/editdomainaliases.png" alt="Changer Alias D'un Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Changer Alias D'un Domaine</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Change My Password"><img src="templates/picante/general/images/changemypass.png" alt="Changez Mon Mot De Passe" class="item" />
                                       <br>
                                       <span class="itemText">Changez Mon Mot De Passe</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListsubdomains" onclick="location.href='index.php?op=subdomains'" title="List Subdomains"><img src="templates/picante/general/images/addsubdomain.png" alt="Liste de Mes Sous-Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Mes Sous-Domaines</span></div></td></tr><tr class="itemRow"><td class="category">Remove</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Remove / List Password Protected Directories"><img src="templates/picante/general/images/deldirectories.png" alt="Remove / List Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Remove / List Password Protected Directories</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemDomainslavedns" onclick="location.href='index.php?op=addslavedns'" title="Set as Slave DNS Domain"><img src="templates/picante/general/images/slavedns.png" alt="Utiliser Slave DNS Pour Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Utiliser Slave DNS Pour Domaine</span></div><div class="items darkText itemDomainslavednsremove" onclick="location.href='index.php?op=removeslavedns'" title="Set as Master DNS Domain"><img src="templates/picante/general/images/slavednsremove.png" alt="Utiliser Master DNS Pour Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Utiliser Master DNS Pour Domaine</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations FTP</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddftpaccountgeneral" onclick="location.href='index.php?op=addftptothispaneluser'" title="Add General FTP User"><img src="templates/picante/general/images/addftptothispaneluser.png" alt="Ajouter FTP Utilisateurs G&eacute;n&eacute;ral" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter FTP Utilisateurs G&eacute;n&eacute;ral</span></div><div class="items darkText itemAddftpsubdomain" onclick="location.href='index.php?op=addsubdomainwithftp'" title="Add Subdomain and Create FTP Account"><img src="templates/picante/general/images/addsubdomainwithftp.png" alt="Ajouter des acc&egrave;s utilisateurs aux Sous-Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des acc&egrave;s utilisateurs aux Sous-Domaines</span></div><div class="items darkText itemAddftpsubdir" onclick="location.href='index.php?op=addsubdirectorywithftp'" title="Add Subdirectory FTP Account"><img src="templates/picante/general/images/addsubdirectorywithftp.png" alt="Ajouter des acc&egrave;s utilisateurs aux autres sous r&eacute;pertoires" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des acc&egrave;s utilisateurs aux autres sous r&eacute;pertoires</span></div></td></tr><tr class="itemRow"><td class="category">Edit</td><td><div class="items darkText itemChangeftp" onclick="location.href='index.php?op=editftpuser'" title="Change FTP Password"><img src="templates/picante/general/images/editftpuser.png" alt="Changer le mot De passe FTP" class="item" />
                                       <br>
                                       <span class="itemText">Changer le mot De passe FTP</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="List FTP Accounts"><img src="templates/picante/general/images/listallftpusers.png" alt="Liste des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemNet2ftp" onclick="window.open('net2ftp')" title="File Manager (net2ftp)"><img src="templates/picante/general/images/webftp.png" alt="Gestionnaire de Fichiers" class="item" />
                                       <br>
                                       <span class="itemText">Gestionnaire de Fichiers</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations MySQL</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="Add MySQL Databases"><img src="templates/picante/general/images/addmysqldb.png" alt="Ajouter Comptes MySQL Avec Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes MySQL Avec Databases MySQL</span></div><div class="items darkText itemAddmysqluser" onclick="location.href='index.php?op=dbadduser'" title="Create MySQL User"><img src="templates/picante/general/images/dbadduser.png" alt="Ajouter MySQL Utilisateurs" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter MySQL Utilisateurs</span></div><div class="items darkText itemAddmysqldbtouser" onclick="location.href='index.php?op=addmysqldbtouser'" title="Add MySQL Database To User"><img src="templates/picante/general/images/addmysqldbtouser.png" alt="Ajouter Databases MySQL Aux Utilisateurs Existants" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Databases MySQL Aux Utilisateurs Existants</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="List MySQL Databases"><img src="templates/picante/general/images/domainop_listdb.png" alt="Liste de Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Databases MySQL</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/picante/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Messageries</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="Add Email Account"><img src="templates/picante/general/images/addemailuser.png" alt="Ajouter Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes Emails</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListemailaccountsdomain" onclick="location.href='index.php?op=listemailusers'" title="List Domain Email Users"><img src="templates/picante/general/images/listemailusers.png" alt="Liste Comptes Emails Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Liste Comptes Emails Domaine</span></div><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="List &amp; Add Email Forwarders"><img src="templates/picante/general/images/emailforwardings.png" alt="Liste des Exp&eacute;diteurs Email" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Exp&eacute;diteurs Email</span></div><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="List All Email Users"><img src="templates/picante/general/images/listallemailusers.png" alt="Liste des Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes Emails</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Mes Param&egrave;tres</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Easy Install Scripts"><img src="templates/picante/general/images/addscript.png" alt="Installation Rapide De Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Installation Rapide De Scripts</span></div></td></tr><tr class="itemRow"><td class="category">Edit</td><td><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Change My Password"><img src="templates/picante/general/images/changemypass.png" alt="Changez Mon Mot De Passe" class="item" />
                                       <br>
                                       <span class="itemText">Changez Mon Mot De Passe</span></div></td></tr><tr class="itemRow"><td class="category">Remove</td><td><div class="items darkText itemDeletedomain" onclick="location.href='index.php?op=deletedomain'" title="Delete Domain"><img src="templates/picante/general/images/deletedomain.png" alt="Effacez le Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Effacez le Domaine</span></div><div class="items darkText itemMovedomaintoanotheraccount" onclick="location.href='index.php?op=movedomaintoanotheraccount'" title="Transfer Domain to Another User"><img src="templates/picante/general/images/transferdomain.png" alt="Transfert de Domaine A d'Autres utilisateurs" class="item" />
                                       <br>
                                       <span class="itemText">Transfert de Domaine A d'Autres utilisateurs</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemDefaultdomain" onclick="location.href='index.php?op=setdefaultdomain'" title="Set As Default Domain"><img src="templates/picante/general/images/setdefaultdomain.png" alt="Utilisez Ce Domaine Par D&eacute;faut" class="item" />
                                       <br>
                                       <span class="itemText">Utilisez Ce Domaine Par D&eacute;faut</span></div><div class="items darkText itemDomainredirect" onclick="location.href='index.php?op=addredirect'" title="Redirect Domains"><img src="templates/picante/general/images/addredirect.png" alt="Faire Suivre le Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Faire Suivre le Domaine</span></div><div class="items darkText itemDomainedit" onclick="location.href='index.php?op=editdomain'" title="Activate or Deactivate Domain"><img src="templates/picante/general/images/editdomain.png" alt="Activer ou d&eacute;sactiver un Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Activer ou d&eacute;sactiver un Domaine</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>