<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Revendeurs</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddpaneluser" onclick="location.href='index.php?op=addpaneluser'" title="Add New User or Client"><img src="templates/picante/general/images/addpaneluser.png" alt="Ajouter Un Client" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Client</span></div><div class="items darkText itemEasyinstallscripts" onclick="location.href='index.php?op=addscript'" title="Easy Install Scripts"><img src="templates/picante/general/images/addscript.png" alt="Installation Rapide De Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Installation Rapide De Scripts</span></div></td></tr><tr class="itemRow"><td class="category">Edit</td><td><div class="items darkText itemUpdatediskquota" onclick="location.href='index.php?op=doupdatediskquota'" title="Update Disk Quota"><img src="templates/picante/general/images/doupdatediskquota.png" alt="Mise &aacute; Jour de l'espace Disque" class="item" />
                                       <br>
                                       <span class="itemText">Mise &aacute; Jour de l'espace Disque</span></div><div class="items darkText itemChangemypass" onclick="location.href='index.php?op=changemypass'" title="Change My Password"><img src="templates/picante/general/images/changemypass.png" alt="Changez Mon Mot De Passe" class="item" />
                                       <br>
                                       <span class="itemText">Changez Mon Mot De Passe</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListusers" onclick="location.href='index.php?op=listpanelusers'" title="List Panel Users"><img src="templates/picante/general/images/listpanelusers.png" alt="Liste de Mes Clients" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Mes Clients</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemReloaddns" onclick="location.href='index.php?op=dosyncdns'" title="Reload DNS Zones"><img src="templates/picante/general/images/dosyncdns.png" alt="Rechargement des Zones DNS" class="item" />
                                       <br>
                                       <span class="itemText">Rechargement des Zones DNS</span></div><div class="items darkText itemSyncdomains" onclick="location.href='index.php?op=dosyncdomains'" title="Synchronize Domains"><img src="templates/picante/general/images/dosyncdomains.png" alt="Synchronisation des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Synchronisation des Domaines</span></div><div class="items darkText itemContactus" onclick="location.href='index.php?op=aboutcontactus'" title="Contact Us"><img src="templates/picante/general/images/aboutcontactus.png" alt="Contactez-Nous" class="item" />
                                       <br>
                                       <span class="itemText">Contactez-Nous</span></div><div class="items darkText itemHelp" onclick="location.href='index.php?op=help'" title="General Help"><img src="templates/picante/general/images/help.png" alt="Support" class="item" />
                                       <br>
                                       <span class="itemText">Support</span></div><div class="items darkText itemTodolist" onclick="location.href='index.php?op=todolist'" title="To Do List"><img src="templates/picante/general/images/todolist.png" alt="Liste de Choses &aacute; Faire" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Choses &aacute; Faire</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Des Domaines</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAdddomaintothisuser" onclick="location.href='index.php?op=addDomainToThisPaneluser'" title="Add Domain to My Account"><img src="templates/picante/general/images/adddomaintothispaneluser.png" alt="Ajouter Un Domaine Sur Mon Compte" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Domaine Sur Mon Compte</span></div><div class="items darkText itemAdduserdomain" onclick="location.href='index.php?op=adddomain'" title="Create User and Add Domain"><img src="templates/picante/general/images/adddomain.png" alt="Ajouter Un Domaine et Utilisateur" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Domaine et Utilisateur</span></div><div class="items darkText itemAdduserdomaineasy" onclick="location.href='index.php?op=adddomaineasy'" title="Easy Create User and Add Domain"><img src="templates/picante/general/images/adddomaineasy.png" alt="Ajouter Rapidement Un Domaine et Utilisateur" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Rapidement Un Domaine et Utilisateur</span></div><div class="items darkText itemAddsubdomain" onclick="location.href='index.php?op=addsubdomain'" title="Add Subdomain"><img src="templates/picante/general/images/addsubdomain.png" alt="Ajouter Un Sous-Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Sous-Domaine</span></div><div class="items darkText itemAddpasswordprotecteddir" onclick="location.href='index.php?op=addpasswordprotecteddir'" title="Add Password Protected Directories"><img src="templates/picante/general/images/directories.png" alt="Add Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Add Password Protected Directories</span></div><div class="items darkText itemCustomdns" onclick="location.href='index.php?op=customdns'" title="Custom DNS"><img src="templates/picante/general/images/customdns.png" alt="Personnaliser DNS" class="item" />
                                       <br>
                                       <span class="itemText">Personnaliser DNS</span></div><div class="items darkText itemCustomhttp" onclick="location.href='index.php?op=customhttp'" title="Custom HTTP"><img src="templates/picante/general/images/customhttp.png" alt="Personnaliser HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Personnaliser HTTP</span></div><div class="items darkText itemAdddomainsslcert" onclick="location.href='index.php?op=adddomainsslcert'" title="Add SSL Certificate"><img src="templates/picante/general/images/manage_sslcerts.png" alt="Add SSL Certificate" class="item" />
                                       <br>
                                       <span class="itemText">Add SSL Certificate</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListdomains" onclick="location.href='index.php?op=selectdomain'" title="List Domains"><img src="templates/picante/general/images/selectdomain.png" alt="Liste des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Domaines</span></div><div class="items darkText itemListdomainspassive" onclick="location.href='index.php?op=listpassivedomains'" title="List Passive Domains"><img src="templates/picante/general/images/listpassivedomains.png" alt="Liste Des Domaines Passifs" class="item" />
                                       <br>
                                       <span class="itemText">Liste Des Domaines Passifs</span></div></td></tr><tr class="itemRow"><td class="category">Remove</td><td><div class="items darkText itemRmpasswordprotecteddir" onclick="location.href='index.php?op=rmpasswordprotecteddir'" title="Remove / List Password Protected Directories"><img src="templates/picante/general/images/deldirectories.png" alt="Remove / List Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Remove / List Password Protected Directories</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations FTP</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddftpaccount" onclick="location.href='index.php?op=addftpuser'" title="Add FTP Account"><img src="templates/picante/general/images/addftpuser.png" alt="Ajouter des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des Comptes FTP</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListftpaccounts" onclick="location.href='index.php?op=listallftpusers'" title="List FTP Accounts"><img src="templates/picante/general/images/listallftpusers.png" alt="Liste des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP</span></div><div class="items darkText itemListftpaccountsbydomain" onclick="location.href='index.php?op=listftpusersrelatedtodomains'" title="List FTP Users By Domain"><img src="templates/picante/general/images/listftpusersrelatedtodomains.png" alt="Liste des Comptes FTP Par Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP Par Domaine</span></div><div class="items darkText itemListftpnodomain" onclick="location.href='index.php?op=listftpuserswithoutdomain'" title="List FTP Users Without Domain"><img src="templates/picante/general/images/listftpuserswithoutdomain.png" alt="Liste des Comptes FTP Sans Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP Sans Domaine</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations Messageries</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddemailaccount" onclick="location.href='index.php?op=addemailuser'" title="Add Email Account"><img src="templates/picante/general/images/addemailuser.png" alt="Ajouter Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes Emails</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListemailaccounts" onclick="location.href='index.php?op=listallemailusers'" title="List All Email Users"><img src="templates/picante/general/images/listallemailusers.png" alt="Liste des Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes Emails</span></div><div class="items darkText itemListemailforward" onclick="location.href='index.php?op=emailforwardings'" title="List &amp; Add Email Forwarders"><img src="templates/picante/general/images/emailforwardings.png" alt="Liste des Exp&eacute;diteurs Email" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Exp&eacute;diteurs Email</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br><table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Op&eacute;rations MySQL</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Add</td><td><div class="items darkText itemAddmysqldb" onclick="location.href='index.php?op=addmysqldb'" title="Add MySQL Databases"><img src="templates/picante/general/images/addmysqldb.png" alt="Ajouter Comptes MySQL Avec Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes MySQL Avec Databases MySQL</span></div></td></tr><tr class="itemRow"><td class="category">List</td><td><div class="items darkText itemListmysqldb" onclick="location.href='index.php?op=domainop&action=listdb'" title="List MySQL Databases"><img src="templates/picante/general/images/domainop_listdb.png" alt="Liste de Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Databases MySQL</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>