<table class="submain">
                                <tr class="display">
                                  <td class="darkBorderBottom">
                                      <div class="titleDiv darkBG">Domaines H&eacute;berg&eacute;s &aacute; Distance</div><img src="templates/picante/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="submain"><tr class="itemRow"><td class="category">Edit</td><td><div class="items darkText itemDomaindns" onclick="location.href='index.php?op=editdnstemplate'" title="Edit DNS Template"><img src="templates/picante/general/images/editdnstemplate.png" alt="Changer Le Mod&egrave;le DNS" class="item" />
                                       <br>
                                       <span class="itemText">Changer Le Mod&egrave;le DNS</span></div></td></tr><tr class="itemRow"><td class="category">Remove</td><td><div class="items darkText itemDeletedomain" onclick="location.href='index.php?op=deletedomain'" title="Delete Domain"><img src="templates/picante/general/images/deletedomain.png" alt="Effacez le Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Effacez le Domaine</span></div></td></tr><tr class="itemRow"><td class="category">System</td><td><div class="items darkText itemDomainserverip" onclick="location.href='index.php?op=changedomainserverip'" title="Change Domain Server IP"><img src="templates/picante/general/images/changedomainserverip.png" alt="Changer Domaine IP" class="item" />
                                       <br>
                                       <span class="itemText">Changer Domaine IP</span></div></td></tr></table>
                                  </td>
                                </tr>
                              </table>
                              <br>