<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Opciones De Usuario De Administracion</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddpaneluserwithpredefinedplan" onclick="location.href='?op=addpaneluserwithpredefinedplan'" title="Add New User w/ Hosting Template"><img src="templates/ep-ic/general/images/addpaneluserwithpredefinedplan.png" alt="Add New User w/ Hosting Template" class="item" />
                                       <br>
                                       <span class="itemText">Add New User w/ Hosting Template</span></div><div class="items itemAddpaneluser" onclick="location.href='?op=addpaneluser'" title="Add New User or Client"><img src="templates/ep-ic/general/images/addpaneluser.png" alt="Agregar Usuario o Cliente" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario o Cliente</span></div><div class="items itemListusers" onclick="location.href='?op=listpanelusers'" title="List Panel Users"><img src="templates/ep-ic/general/images/listpanelusers.png" alt="Lista de Clientes / Usuarios" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Clientes / Usuarios</span></div><div class="items itemReloaddns" onclick="location.href='?op=dosyncdns'" title="Reload DNS Zones"><img src="templates/ep-ic/general/images/dosyncdns.png" alt="Recarga de Zonas DNS" class="item" />
                                       <br>
                                       <span class="itemText">Recarga de Zonas DNS</span></div><div class="items itemSyncdomains" onclick="location.href='?op=dosyncdomains'" title="Synchronize Domains"><img src="templates/ep-ic/general/images/dosyncdomains.png" alt="Syncroniza Dominios" class="item" />
                                       <br>
                                       <span class="itemText">Syncroniza Dominios</span></div><div class="items itemUpdatediskquota" onclick="location.href='?op=doupdatediskquota'" title="Update Disk Quota"><img src="templates/ep-ic/general/images/doupdatediskquota.png" alt="Actualisacion de Quota (limite del disco duro)" class="item" />
                                       <br>
                                       <span class="itemText">Actualisacion de Quota (limite del disco duro)</span></div><div class="items itemEasyinstallscripts" onclick="location.href='?op=addscript'" title="Easy Install Scripts"><img src="templates/ep-ic/general/images/addscript.png" alt="Facil Instalacion de Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Facil Instalacion de Scripts</span></div><div class="items itemContactus" onclick="location.href='?op=aboutcontactus'" title="Contact Us"><img src="templates/ep-ic/general/images/aboutcontactus.png" alt="Contacta Nos" class="item" />
                                       <br>
                                       <span class="itemText">Contacta Nos</span></div><div class="items itemHelp" onclick="location.href='?op=help'" title="General Help"><img src="templates/ep-ic/general/images/help.png" alt="Ayuda Tecnica" class="item" />
                                       <br>
                                       <span class="itemText">Ayuda Tecnica</span></div><div class="items itemTodolist" onclick="location.href='?op=todolist'" title="To Do List"><img src="templates/ep-ic/general/images/todolist.png" alt="Lista de lo Que Tienes Que Hacer" class="item" />
                                       <br>
                                       <span class="itemText">Lista de lo Que Tienes Que Hacer</span></div><div class="items itemChangemypass" onclick="location.href='?op=changemypass'" title="Change My Password"><img src="templates/ep-ic/general/images/changemypass.png" alt="Cambiar Mi Contrase&ntilde;a" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Mi Contrase&ntilde;a</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Operaciones de Dominio</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAdddomaintothisuser" onclick="location.href='?op=addDomainToThisPaneluser'" title="Add Domain to My Account"><img src="templates/ep-ic/general/images/adddomaintothispaneluser.png" alt="Agregar Dominios a Mi Cuenta" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Dominios a Mi Cuenta</span></div><div class="items itemAdddomainbulk" onclick="location.href='?op=bulkadddomain'" title="Bulk Add Domains To My Account"><img src="templates/ep-ic/general/images/bulkadddomain.png" alt="Agregar Dominios A Granel" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Dominios A Granel</span></div><div class="items itemAdduserdomain" onclick="location.href='?op=adddomain'" title="Create User and Add Domain"><img src="templates/ep-ic/general/images/adddomain.png" alt="Adicion de Dominio y Usarios" class="item" />
                                       <br>
                                       <span class="itemText">Adicion de Dominio y Usarios</span></div><div class="items itemAdduserdomaineasy" onclick="location.href='?op=adddomaineasy'" title="Easy Create User and Add Domain"><img src="templates/ep-ic/general/images/adddomaineasy.png" alt="Simple Adicion de Dominio y Usarios" class="item" />
                                       <br>
                                       <span class="itemText">Simple Adicion de Dominio y Usarios</span></div><div class="items itemAdddomaindns" onclick="location.href='?op=adddnsonlydomain'" title="Add DNS Domain"><img src="templates/ep-ic/general/images/adddnsonlydomain.png" alt="Agregacion Hosting DNS" class="item" />
                                       <br>
                                       <span class="itemText">Agregacion Hosting DNS</span></div><div class="items itemAdddomaindnstouser" onclick="location.href='?op=adddnsonlydomainwithpaneluser'" title="Add DNS Domain To User"><img src="templates/ep-ic/general/images/adddnsonlydomainwithpaneluser.png" alt="Agregacion Hosting DNS Para El Usuario" class="item" />
                                       <br>
                                       <span class="itemText">Agregacion Hosting DNS Para El Usuario</span></div><div class="items itemListdomains" onclick="location.href='?op=selectdomain'" title="List Domains"><img src="templates/ep-ic/general/images/selectdomain.png" alt="Liste des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Domaines</span></div><div class="items itemListdomainspassive" onclick="location.href='?op=listpassivedomains'" title="List Passive Domains"><img src="templates/ep-ic/general/images/listpassivedomains.png" alt="Lista de Dominios Pasivos" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Dominios Pasivos</span></div><div class="items itemManagesubdomains" onclick="location.href='?op=subdomains'" title="Manage Subdomains"><img src="templates/ep-ic/general/images/subdomains.png" alt="Gestionar SubDomains" class="item" />
                                       <br>
                                       <span class="itemText">Gestionar SubDomains</span></div><div class="items itemAddpasswordprotecteddir" onclick="location.href='?op=addpasswordprotecteddir'" title="Add Password Protected Directories"><img src="templates/ep-ic/general/images/directories.png" alt="Add Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Add Password Protected Directories</span></div><div class="items itemRmpasswordprotecteddir" onclick="location.href='?op=rmpasswordprotecteddir'" title="Remove / List Password Protected Directories"><img src="templates/ep-ic/general/images/deldirectories.png" alt="Remove / List Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Remove / List Password Protected Directories</span></div><div class="items itemCustomhttp" onclick="location.href='?op=customhttp'" title="Custom HTTP"><img src="templates/ep-ic/general/images/customhttp.png" alt="Personalisado HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Personalisado HTTP</span></div><div class="items itemCustomdns" onclick="location.href='?op=customdns'" title="Custom DNS"><img src="templates/ep-ic/general/images/customdns.png" alt="Personalisado DNS" class="item" />
                                       <br>
                                       <span class="itemText">Personalisado DNS</span></div><div class="items itemAdddomainsslcert" onclick="location.href='?op=adddomainsslcert'" title="Add SSL Certificate"><img src="templates/ep-ic/general/images/manage_sslcerts.png" alt="Add SSL Certificate" class="item" />
                                       <br>
                                       <span class="itemText">Add SSL Certificate</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Operaciones FTP</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddftpaccount" onclick="location.href='?op=addftpuser'" title="Add FTP Account"><img src="templates/ep-ic/general/images/addftpuser.png" alt="Ajouter des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des Comptes FTP</span></div><div class="items itemAddftpaccounttouser" onclick="location.href='?op=addftptothispaneluser'" title="Add &amp; Assign FTP Accounts To User"><img src="templates/ep-ic/general/images/addftptothispaneluser.png" alt="Agregar Cuentas FTP Para Usuarios Existentes" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Cuentas FTP Para Usuarios Existentes</span></div><div class="items itemAddftpsubdomain" onclick="location.href='?op=addsubdomainwithftp'" title="Add Subdomain and Create FTP Account"><img src="templates/ep-ic/general/images/addsubdomainwithftp.png" alt="Agregar Usuario FTP Subdominio Acceso" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario FTP Subdominio Acceso</span></div><div class="items itemAddftpsubdir" onclick="location.href='?op=addsubdirectorywithftp'" title="Add Subdirectory FTP Account"><img src="templates/ep-ic/general/images/addsubdirectorywithftp.png" alt="Agregar Usuario FTP Subdirectorio Acceso" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario FTP Subdirectorio Acceso</span></div><div class="items itemAddcustomftp" onclick="location.href='?op=addcustomftp'" title="Add Custom FTP Account"><img src="templates/ep-ic/general/images/addcustomftp.png" alt="Crear Cuenta FTP Personalizado" class="item" />
                                       <br>
                                       <span class="itemText">Crear Cuenta FTP Personalizado</span></div><div class="items itemListftpaccounts" onclick="location.href='?op=listallftpusers'" title="List FTP Accounts"><img src="templates/ep-ic/general/images/listallftpusers.png" alt="Lista de Usuarios FTP" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios FTP</span></div><div class="items itemListftpaccountsbydomain" onclick="location.href='?op=listftpusersrelatedtodomains'" title="List FTP Users By Domain"><img src="templates/ep-ic/general/images/listftpusersrelatedtodomains.png" alt="Lista de Usuarios FTP por Dominios" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios FTP por Dominios</span></div><div class="items itemListftpnodomain" onclick="location.href='?op=listftpuserswithoutdomain'" title="List FTP Users Without Domain"><img src="templates/ep-ic/general/images/listftpuserswithoutdomain.png" alt="Lista de Usuarios FTP sin Dominos" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios FTP sin Dominos</span></div><div class="items itemRemovecustomftp" onclick="location.href='?op=removecustomftp'" title="Remove Custom FTP Account(s)"><img src="templates/ep-ic/general/images/removecustomftp.png" alt="Eliminar Cuenta FTP Personalizado" class="item" />
                                       <br>
                                       <span class="itemText">Eliminar Cuenta FTP Personalizado</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Operaciones de Email</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddemailaccount" onclick="location.href='?op=addemailuser'" title="Add Email Account"><img src="templates/ep-ic/general/images/addemailuser.png" alt="Agregar Usuario Email" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario Email</span></div><div class="items itemListemailforward" onclick="location.href='?op=emailforwardings'" title="List &amp; Add Email Forwarders"><img src="templates/ep-ic/general/images/emailforwardings.png" alt="Lista de Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Email Forwarders</span></div><div class="items itemListemailaccounts" onclick="location.href='?op=listallemailusers'" title="List All Email Users"><img src="templates/ep-ic/general/images/listallemailusers.png" alt="Lista de Usuarios Email" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios Email</span></div><div class="items itemListemailaccountsdomain" onclick="location.href='?op=listemailusers'" title="List Email Users of A Domain"><img src="templates/ep-ic/general/images/listemailusers.png" alt="Lista Todos Usuarios de Email por Dominio" class="item" />
                                       <br>
                                       <span class="itemText">Lista Todos Usuarios de Email por Dominio</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Operaciones MySQL</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddmysqldb" onclick="location.href='?op=addmysqldb'" title="Add MySQL Databases"><img src="templates/ep-ic/general/images/addmysqldb.png" alt="Crear base de Datos y Usuarios MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Crear base de Datos y Usuarios MySQL</span></div><div class="items itemAddmysqluser" onclick="location.href='?op=dbadduser'" title="Create MySQL User"><img src="templates/ep-ic/general/images/dbadduser.png" alt="Agregar Usuarios MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuarios MySQL</span></div><div class="items itemAddmysqldbtouser" onclick="location.href='?op=addmysqldbtouser'" title="Add MySQL Database To User"><img src="templates/ep-ic/general/images/addmysqldbtouser.png" alt="Agregar MySQL Base de Datos a Usuarios Existentes" class="item" />
                                       <br>
                                       <span class="itemText">Agregar MySQL Base de Datos a Usuarios Existentes</span></div><div class="items itemListmysqldb" onclick="location.href='?op=domainop&action=listdb'" title="List MySQL Databases"><img src="templates/ep-ic/general/images/domainop_listdb.png" alt="Lista de base de datos MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Lista de base de datos MySQL</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">EHCP Estado Del Servidor</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemServeroperations" onclick="location.href='?op=operations'" title="Daemon Operations"><img src="templates/ep-ic/general/images/operations.png" alt="Operaciones Demonio" class="item" />
                                       <br>
                                       <span class="itemText">Operaciones Demonio</span></div><div class="items itemServerbackup" onclick="location.href='?op=dobackup'" title="Create Backup"><img src="templates/ep-ic/general/images/dobackup.png" alt="Crear Copias De Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Crear Copias De Archivos</span></div><div class="items itemServerbackuplist" onclick="location.href='?op=listbackups'" title="List Backups"><img src="templates/ep-ic/general/images/listbackups.png" alt="Lista Copias de los Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Lista Copias de los Archivos</span></div><div class="items itemServerbackuprestore" onclick="location.href='?op=dorestore'" title="Restore Backup"><img src="templates/ep-ic/general/images/dorestore.png" alt="Restaurar Copias de los Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Restaurar Copias de los Archivos</span></div><div class="items itemAddremotebackup" onclick="location.href='?op=addremotebackup'" title="Schedule Remote Backup"><img src="templates/ep-ic/general/images/addremotebackup.png" alt="Programe Remote Backup" class="item" />
                                       <br>
                                       <span class="itemText">Programe Remote Backup</span></div><div class="items itemRemoveremotebackup" onclick="location.href='?op=removeremotebackup'" title="Remove Scheduled Remote Backup"><img src="templates/ep-ic/general/images/removeremotebackup.png" alt="Retire Programado Remote Backup" class="item" />
                                       <br>
                                       <span class="itemText">Retire Programado Remote Backup</span></div><div class="items itemServeroptions" onclick="location.href='?op=options'" title="Options"><img src="templates/ep-ic/general/images/options.png" alt="Opciones" class="item" />
                                       <br>
                                       <span class="itemText">Opciones</span></div><div class="items itemChangetheme" onclick="location.href='?op=changetemplate'" title="Change Theme AKA Template"><img src="templates/ep-ic/general/images/changetemplate.png" alt="Cambiar Plantilla" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Plantilla</span></div><div class="items itemAddcronjob" onclick="location.href='?op=addcronjob'" title="Add Server Cronjob"><img src="templates/ep-ic/general/images/addcronjob.png" alt="Agregar Servidor Cronjob" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Servidor Cronjob</span></div><div class="items itemRemovecronjob" onclick="location.href='?op=removecronjob'" title="Remove Server Cronjob"><img src="templates/ep-ic/general/images/removecronjob.png" alt="Retire Servidor Cronjob" class="item" />
                                       <br>
                                       <span class="itemText">Retire Servidor Cronjob</span></div><div class="items itemManageglobalwebtemplates" onclick="location.href='?op=manageglobalwebtemplates'" title="Manage Global Webserver Templates"><img src="templates/ep-ic/general/images/manageglobalwebtemplates.png" alt="Manage Global Webserver Templates" class="item" />
                                       <br>
                                       <span class="itemText">Manage Global Webserver Templates</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Utilities</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemWebmail" onclick="window.open('webmail')" title="Webmail Client"><img src="templates/ep-ic/general/images/launchmail.png" alt="Webmail Client" class="item" />
                                       <br>
                                       <span class="itemText">Webmail Client</span></div><div class="items itemPhpmyadmin" onclick="window.open('http://{myip}/phpmyadmin')" title="PHPMyAdmin"><img src="templates/ep-ic/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div><div class="items itemNet2ftp" onclick="window.open('net2ftp')" title="File Manager (net2ftp)"><img src="templates/ep-ic/general/images/webftp.png" alt="Administracion de Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Administracion de Archivos</span></div><div class="items itemExtplorer" onclick="window.open('extplorer')" title="Extplorer File Manager"><img src="templates/ep-ic/general/images/extplorer.png" alt="Extplorer File Manager" class="item" />
                                       <br>
                                       <span class="itemText">Extplorer File Manager</span></div><div class="items itemPolicyd" onclick="window.open('policyd')" title="Policyd Management"><img src="templates/ep-ic/general/images/policyd.png" alt="Policyd Management" class="item" />
                                       <br>
                                       <span class="itemText">Policyd Management</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>