<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Op&eacute;rations Revendeurs</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddpaneluser" onclick="location.href='?op=addpaneluser'" title="Add New User or Client"><img src="templates/ep-ic/general/images/addpaneluser.png" alt="Ajouter Un Client" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Client</span></div><div class="items itemListusers" onclick="location.href='?op=listpanelusers'" title="List Panel Users"><img src="templates/ep-ic/general/images/listpanelusers.png" alt="Liste de Mes Clients" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Mes Clients</span></div><div class="items itemReloaddns" onclick="location.href='?op=dosyncdns'" title="Reload DNS Zones"><img src="templates/ep-ic/general/images/dosyncdns.png" alt="Rechargement des Zones DNS" class="item" />
                                       <br>
                                       <span class="itemText">Rechargement des Zones DNS</span></div><div class="items itemSyncdomains" onclick="location.href='?op=dosyncdomains'" title="Synchronize Domains"><img src="templates/ep-ic/general/images/dosyncdomains.png" alt="Synchronisation des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Synchronisation des Domaines</span></div><div class="items itemUpdatediskquota" onclick="location.href='?op=doupdatediskquota'" title="Update Disk Quota"><img src="templates/ep-ic/general/images/doupdatediskquota.png" alt="Mise &aacute; Jour de l'espace Disque" class="item" />
                                       <br>
                                       <span class="itemText">Mise &aacute; Jour de l'espace Disque</span></div><div class="items itemEasyinstallscripts" onclick="location.href='?op=addscript'" title="Easy Install Scripts"><img src="templates/ep-ic/general/images/addscript.png" alt="Installation Rapide De Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Installation Rapide De Scripts</span></div><div class="items itemContactus" onclick="location.href='?op=aboutcontactus'" title="Contact Us"><img src="templates/ep-ic/general/images/aboutcontactus.png" alt="Contactez-Nous" class="item" />
                                       <br>
                                       <span class="itemText">Contactez-Nous</span></div><div class="items itemHelp" onclick="location.href='?op=help'" title="General Help"><img src="templates/ep-ic/general/images/help.png" alt="Support" class="item" />
                                       <br>
                                       <span class="itemText">Support</span></div><div class="items itemTodolist" onclick="location.href='?op=todolist'" title="To Do List"><img src="templates/ep-ic/general/images/todolist.png" alt="Liste de Choses &aacute; Faire" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Choses &aacute; Faire</span></div><div class="items itemChangemypass" onclick="location.href='?op=changemypass'" title="Change My Password"><img src="templates/ep-ic/general/images/changemypass.png" alt="Changez Mon Mot De Passe" class="item" />
                                       <br>
                                       <span class="itemText">Changez Mon Mot De Passe</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Op&eacute;rations Des Domaines</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAdddomaintothisuser" onclick="location.href='?op=addDomainToThisPaneluser'" title="Add Domain to My Account"><img src="templates/ep-ic/general/images/adddomaintothispaneluser.png" alt="Ajouter Un Domaine Sur Mon Compte" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Domaine Sur Mon Compte</span></div><div class="items itemAdduserdomain" onclick="location.href='?op=adddomain'" title="Create User and Add Domain"><img src="templates/ep-ic/general/images/adddomain.png" alt="Ajouter Un Domaine et Utilisateur" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Domaine et Utilisateur</span></div><div class="items itemAdduserdomaineasy" onclick="location.href='?op=adddomaineasy'" title="Easy Create User and Add Domain"><img src="templates/ep-ic/general/images/adddomaineasy.png" alt="Ajouter Rapidement Un Domaine et Utilisateur" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Rapidement Un Domaine et Utilisateur</span></div><div class="items itemAddsubdomain" onclick="location.href='?op=addsubdomain'" title="Add Subdomain"><img src="templates/ep-ic/general/images/addsubdomain.png" alt="Ajouter Un Sous-Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Sous-Domaine</span></div><div class="items itemListdomains" onclick="location.href='?op=selectdomain'" title="List Domains"><img src="templates/ep-ic/general/images/selectdomain.png" alt="Liste des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Domaines</span></div><div class="items itemListdomainspassive" onclick="location.href='?op=listpassivedomains'" title="List Passive Domains"><img src="templates/ep-ic/general/images/listpassivedomains.png" alt="Liste Des Domaines Passifs" class="item" />
                                       <br>
                                       <span class="itemText">Liste Des Domaines Passifs</span></div><div class="items itemAddpasswordprotecteddir" onclick="location.href='?op=addpasswordprotecteddir'" title="Add Password Protected Directories"><img src="templates/ep-ic/general/images/directories.png" alt="Add Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Add Password Protected Directories</span></div><div class="items itemRmpasswordprotecteddir" onclick="location.href='?op=rmpasswordprotecteddir'" title="Remove / List Password Protected Directories"><img src="templates/ep-ic/general/images/deldirectories.png" alt="Remove / List Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Remove / List Password Protected Directories</span></div><div class="items itemCustomdns" onclick="location.href='?op=customdns'" title="Custom DNS"><img src="templates/ep-ic/general/images/customdns.png" alt="Personnaliser DNS" class="item" />
                                       <br>
                                       <span class="itemText">Personnaliser DNS</span></div><div class="items itemCustomhttp" onclick="location.href='?op=customhttp'" title="Custom HTTP"><img src="templates/ep-ic/general/images/customhttp.png" alt="Personnaliser HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Personnaliser HTTP</span></div><div class="items itemAdddomainsslcert" onclick="location.href='?op=adddomainsslcert'" title="Add SSL Certificate"><img src="templates/ep-ic/general/images/manage_sslcerts.png" alt="Add SSL Certificate" class="item" />
                                       <br>
                                       <span class="itemText">Add SSL Certificate</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Op&eacute;rations FTP</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddftpaccount" onclick="location.href='?op=addftpuser'" title="Add FTP Account"><img src="templates/ep-ic/general/images/addftpuser.png" alt="Ajouter des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des Comptes FTP</span></div><div class="items itemListftpaccounts" onclick="location.href='?op=listallftpusers'" title="List FTP Accounts"><img src="templates/ep-ic/general/images/listallftpusers.png" alt="Liste des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP</span></div><div class="items itemListftpaccountsbydomain" onclick="location.href='?op=listftpusersrelatedtodomains'" title="List FTP Users By Domain"><img src="templates/ep-ic/general/images/listftpusersrelatedtodomains.png" alt="Liste des Comptes FTP Par Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP Par Domaine</span></div><div class="items itemListftpnodomain" onclick="location.href='?op=listftpuserswithoutdomain'" title="List FTP Users Without Domain"><img src="templates/ep-ic/general/images/listftpuserswithoutdomain.png" alt="Liste des Comptes FTP Sans Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP Sans Domaine</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Op&eacute;rations Messageries</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddemailaccount" onclick="location.href='?op=addemailuser'" title="Add Email Account"><img src="templates/ep-ic/general/images/addemailuser.png" alt="Ajouter Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes Emails</span></div><div class="items itemListemailaccounts" onclick="location.href='?op=listallemailusers'" title="List All Email Users"><img src="templates/ep-ic/general/images/listallemailusers.png" alt="Liste des Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes Emails</span></div><div class="items itemListemailforward" onclick="location.href='?op=emailforwardings'" title="List &amp; Add Email Forwarders"><img src="templates/ep-ic/general/images/emailforwardings.png" alt="Liste des Exp&eacute;diteurs Email" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Exp&eacute;diteurs Email</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Op&eacute;rations MySQL</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemAddmysqldb" onclick="location.href='?op=addmysqldb'" title="Add MySQL Databases"><img src="templates/ep-ic/general/images/addmysqldb.png" alt="Ajouter Comptes MySQL Avec Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes MySQL Avec Databases MySQL</span></div><div class="items itemListmysqldb" onclick="location.href='?op=domainop&action=listdb'" title="List MySQL Databases"><img src="templates/ep-ic/general/images/domainop_listdb.png" alt="Liste de Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Databases MySQL</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>