<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Op&eacute;rations Messageries</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemEditemailpassword" onclick="location.href='?op=editemailuserpassword'" title="Change Email Password"><img src="templates/ep-ic/general/images/changemypass.png" alt="Changez Mot De Passe" class="item" />
                                       <br>
                                       <span class="itemText">Changez Mot De Passe</span></div><div class="items itemEditemailautoreply" onclick="location.href='?op=editemailuserautoreply'" title="Change Auto Reply Message"><img src="templates/ep-ic/general/images/addemailforwarding.png" alt="Changez R&eacute;ponse Automatique" class="item" />
                                       <br>
                                       <span class="itemText">Changez R&eacute;ponse Automatique</span></div><div class="items itemEmailforwardingsself" onclick="location.href='?op=emailforwardingsself'" title="List and Add Forwarders"><img src="templates/ep-ic/general/images/emailforwardingsself.png" alt="Liste des Exp&eacute;diteurs Email" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Exp&eacute;diteurs Email</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>