<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Domaines H&eacute;berg&eacute;s &aacute; Distance</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items itemDomainserverip" onclick="location.href='?op=changedomainserverip'" title="Change Domain Server IP"><img src="templates/ep-ic/general/images/changedomainserverip.png" alt="Changer Domaine IP" class="item" />
                                       <br>
                                       <span class="itemText">Changer Domaine IP</span></div><div class="items itemDomaindns" onclick="location.href='?op=editdnstemplate'" title="Edit DNS Template"><img src="templates/ep-ic/general/images/editdnstemplate.png" alt="Changer Le Mod&egrave;le DNS" class="item" />
                                       <br>
                                       <span class="itemText">Changer Le Mod&egrave;le DNS</span></div><div class="items itemDeletedomain" onclick="location.href='?op=deletedomain'" title="Delete Domain"><img src="templates/ep-ic/general/images/deletedomain.png" alt="Effacez le Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Effacez le Domaine</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>