<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Operazioni Veloci</h1>
				
				<ul class="favorites no-margin with-tip" title="Operazioni Veloci">
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/globe_icon.png" width="48" height="48">
						<a href="?op=changedomainserverip">Cambia Server del Dominio<br>
						<small>Domini &gt; Change IP del Dominio</small></a>
					</li>
					<li>
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">
						<a href="?op=editdnstemplate">Modifica Modello DNS<br>
						<small>Domini &gt; Modifica Modello DNS</small></a>
					</li>
					
					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Pannello di Controllo</h1>
				
				
				<h3>Operazioni di Dominio</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=changedomainserverip" title="Change Domain Server ip">Cambia Server IP del Dominio</a><li>
					<li><a href="?op=editdnstemplate" title="Edit dns template for this domain">Modifica Modello DNS</a><li>
					<li><a href="?op=deletedomain" title="DELETE DOMAIN/HOSTING">CANCELLA DOMINIO/OSPITE</a><li>
				</ul>
				
			
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Help</a>
			<a href="#" class="button">About</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Inizio Pagina</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->
