	<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Operazioni Veloci</h1>
				
				<ul class="favorites no-margin with-tip" title="Operazioni Veloci">
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/Info.png" width="48" height="48">
						<a href="index.php?op=options">Opzioni<br>
						<small>Sistema &gt; Opzioni</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/sync-icon.png" width="48" height="48">
						<a href="?op=dosyncdomains">Sincronizza Domini<br>
						<small>Sistema &gt; Sincronizza Domini</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/reload-dns.png" width="48" height="48">
						<a href="?op=dosyncdns">Ricarica Zone DNS<br>
						<small>Sistema &gt; Ricarica Zone DNS</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/serverstatus.png" width="48" height="48">
						<a href="index.php?op=serverstatus">Stato del Server<br>
						<small>Sistema &gt; Uso di CPU/Ram</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/diskquota.png" width="48" height="48">
						<a href="?op=doupdatediskquota">Aggiorna Quota Disco<br>
						<small>Sistema &gt; Aggiorna Quota Disco per Tutti i Domini</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/fix.png" width="48" height="48">
						<a href="?op=dofixmailconfiguration">Ripara Configurazione EHCP<br>
						<small>Sistema &gt; Ripare Configurazione EHCP</small></a>
					</li>
					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Pannello di Controllo</h1>
				
				<h3>Utenti del Pannello</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listpanelusers" title="Lista tutti gli utenti o clienti del pannello">
						<img src="{templatedir}/images/icons/web-app/48/listpaneluser.png" width="48" height="48">Lista Utenti Pannello
					</a></li>
					<li><a href="?op=addpaneluser" title="Aggiungi un nuovo utente o cliente del pannello">
						<img src="{templatedir}/images/icons/web-app/48/addpaneluser.png" width="48" height="48">Aggiungi Utente Pannello
					</a></li>
				</ul>
				
				<h3>Domini</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=selectdomain">
						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">Lista Domini
					</a></li>
					<li><a href="?op=adddomain">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Aggiungi Dominio
					</a></li>
					<li><a href="?op=addDomainToThisPaneluser">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Aggiungi Dominio Aggiuntivo
					</a></li>
					<li><a href="?op=adddomaineasy">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Aggiungi Dominio Facilitato
					</a></li>
					<li><a href="?op=bulkadddomain">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Aggiungi Gruppo di Domini
					</a></li>
					<li><a href="?op=adddnsonlydomainwithpaneluser">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Aggiungi Ospite DNS con Utente Pannello
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="?op=adddnsonlydomain">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Aggiungi Solo Ospite DNS
					</a></li>
					<li><a href="?op=listpassivedomains">
						<img src="{templatedir}/images/icons/web-app/48/domain_passive.png" width="48" height="48">Lista i Domini Passivi
					</a></li>
				</ul>
				
				<h3>FTP</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallftpusers" title="Lista Tutti gli Utenti FTP">
						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">Lista Tutti gli Utenti FTP
					</a></li>
					<li><a href="?op=addftpuser" title="Aggiungi Nuovo Utente FTP">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Aggiungi Nuovo Utente FTP
					</a></li>
					<li><a href="?op=addftptothispaneluser" title="Aggiungi FTP Sotto Questo Pannello">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Aggiungi FTP Sotto Questo Pannello
					</a></li>
					<li><a href="?op=addsubdirectorywithftp" title="Aggiungi FTP ad un Dominio Specifico">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Aggiungi FTP ad un Dominio Specifico
					</a></li>
					<li><a href="?op=addsubdomainwithftp" title="Aggiungi Sottodominio con FTP">
						<img src="{templatedir}/images/icons/web-app/48/subdomainftp.png" width="48" height="48">Aggiungi Sottodominio con FTP
					</a></li>
					<li><a href="net2ftp" title="Net2FTP/Gestore File" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">Gestore File
					</a></li>
				</ul>
				
				<h3>Email</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallemailusers" title="Lista Tuttli gli Indirizzi Email">
						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">Lista Tuttli gli Indirizzi Email
					</a></li>
					<li><a href="?op=addemailuser" title="Aggiungi un Indirizzo Email">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Aggiungi un Indirizzo Email
					</a></li>
					<li><a href="webmail2" title="Webmail/Posta Squirrel" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Posta Squirrel
					</a></li>
					<li><a href="webmail" title="Webmail/Posta Roundcube Mail Box" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">Posta RoundCube
					</a></li>
				</ul>
				
				
				<h3>MySQL</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=domainop&amp;action=listdb" title="Lista Databases MySQL">
						<img src="{templatedir}/images/icons/web-app/48/mysql.gif" width="48" height="48">Lista Databases MySQL
					</a></li>
					<li><a href="?op=addmysqldb" title="Aggiungi Database ed Utente MySQL">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Aggiungi Database ed Utente MySQL
					</a></li>
					<li><a href="?op=addmysqldbtouser" title="Aggiungi Database MySQL ad Utente Esistente">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Aggiungi Database MySQL ad Utente Esistente
					</a></li>
					<li><a href="?op=dbadduser" title="Aggiungi Utente MySQL a Database Esistente">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Aggiungi Utente MySQL a Database Esistente
					</a></li>
					<li><a href="/phpmyadmin" target="_blank" title="PHPmyAdmin">
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">PHPmyAdmin
					</a></li>
					<li><a href="/ehcp/chive" target="_blank" title="Chive">
						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">Chive
					</a></li>
				</ul>
				
				<h3>Sistema</h3>
				<ul class="shortcuts-list">
					<li><a href="index.php?op=options">
						<img src="{templatedir}/images/icons/web-app/48/Info.png" width="48" height="48">Opzioni
					</a></li>
					<li><a href="index.php?op=listbackups">
						<img src="{templatedir}/images/icons/web-app/48/listbackup.png" width="48" height="48">Lista Salvataggi
					</a></li>
					<li><a href="index.php?op=dobackup">
						<img src="{templatedir}/images/icons/web-app/48/Save.png" width="48" height="48">Genera Salvataggio
					</a></li>
					<li><a href="index.php?op=dorestore">
						<img src="{templatedir}/images/icons/web-app/48/Load.png" width="48" height="48">Ripristina Salvataggio
					</a></li>
					<li><a href="index.php?op=serverstatus">
						<img src="{templatedir}/images/icons/web-app/48/serverstatus.png" width="48" height="48">Stato del Server
					</a></li>
					<li><a href="?op=changetemplate">
						<img src="{templatedir}/images/icons/web-app/48/Picture.png" width="48" height="48">Cambia Modello
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="?op=operations">
						<img src="{templatedir}/images/icons/web-app/48/operations.png" width="48" height="48">Lista le Operazioni EHCP
					</a></li>
					<li><a href="?op=changemypass">
						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">Cambia Parola d'Ordine
					</a></li>
				</ul>
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Help</a>
			<a href="#" class="button">About</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Inizio pagina</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->
