<!-- Content -->
	<article class="container_12">
		
        <section class="grid_4">
            <div class="block-border"><div class="block-content">
                <h1>Operazioni Veloci</h1>

                <ul class="favorites no-margin with-tip" title="Operazioni Veloci">

                    <li>
                        <img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">
                        <a href="/ehcp/chive" target="_blank">Chive<br>
                        <small>MySQL &gt; Chive</small></a>
                    </li>

                    <li>
                        <img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">
                        <a href="/phpmyadmin" target="_blank">PHPmyAdmin<br>
                        <small>MySQL &gt; PHPmyAdmin</small></a>
                    </li>

                    <li>
                        <img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">
                        <a href="webmail2" target="_blank">Posta Squirrel<br>
                        <small>Email &gt; Casella di Posta Squirrel</small></a>
                    </li>

                    <li>
                        <img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">
                        <a href="webmail" target="_blank">Posta Roundcube<br>
                        <small>Email &gt; Casella di Posta RoundCube</small></a>
                    </li>

                    <li>
                        <img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">
                        <a href="net2ftp" target="_blank">Gestione File<br>
                        <small>FTP &gt; Net2FTP/Gestione File</small></a>
                    </li>

                    <li>

                    <li>
                        <img src="{templatedir}/images/icons/web-app/48/Save.png" width="48" height="48">
                        <a href="?op=backups">Salvataggio Dominio<br>
                        <small>Sistema &gt; Genera/Lista i Salvataggi del Dominio</small></a>
                    </li>

                </ul>



            </div></div>
        </section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Pannello di Controllo</h1>	
				
				<h3>Operazioni di Dominio</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=subdomains" title="Lista Sottodomini">
						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">Lista Sottodomini
					</a></li>
					<li><a href="?op=addsubdomain" title="Aggiungi Sottodominio">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Aggiungi Sottodominio
					</a></li>
					<li><a href="?op=customdns" title="Lista DNS Personalizzati">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Lista DNS Personalizzati
					</a></li>
					<li><a href="?op=addcustomdns" title="Aggiungi DNS Personalizzati">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Aggiungi DNS Personalizzati
					</a></li>
					<li><a href="?op=customhttp" title="Lista HTTP Personalizzati">
						<img src="{templatedir}/images/icons/web-app/48/http.png" width="48" height="48">Lista HTTP Personalizzati
					</a></li>
					<li><a href="?op=addcustomhttp" title="Aggiungi HTTP Personalizzato">
						<img src="{templatedir}/images/icons/web-app/48/http.png" width="48" height="48">Aggiungi HTTP Personalizzato
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="?op=directories" title="Lista Cartelle Protette da Parola d'Ordine">
						<img src="{templatedir}/images/icons/web-app/48/pass.png" width="48" height="48">Lista Cartelle Protette da Parola d'Ordine
					</a></li>
					<li><a href="?op=adddirectory" title="Aggiungi Cartelle Protette da Parola d'Ordine">
						<img src="{templatedir}/images/icons/web-app/48/pass.png" width="48" height="48">Aggiungi Cartelle Protette da Parola d'Ordine
					</a></li>
					<li><a href="?op=editdnstemplate" title="Modifica Modello DNS">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Modifica Modello DNS
					</a></li>
					<li><a href="?op=editapachetemplate" title="Modifica Modello Apache">
						<img src="{templatedir}/images/icons/web-app/48/apache-2.png" width="48" height="48">Modifica Modello Apache
					</a></li>
					<li><a href="?op=editdomainaliases" title="Modifica Alias Domini">
						<img src="{templatedir}/images/icons/web-app/48/alias.gif" width="48" height="48">Modifica Alias Domini
					</a></li>
				</ul>
				
				<h3>FTP</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallftpusers" title="Lista Tuttli gli Utenti FTP">
						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">Lista Tuttli gli Utenti FTP
					</a></li>
					<li><a href="?op=addsubdirectorywithftp" title="Aggiungi Sottocartella con FTP">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Aggiungi Sottocartella con FTP
					</a></li>
					<li><a href="?op=addftptothispaneluser" title="Aggiungi un Altro FTP nel Mio Spazio">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Aggiungi un Altro FTP nel Mio Spazio
					</a></li>
					<li><a href="?op=addsubdomainwithftp" title="Aggiungi Sottodominio con FTP">
						<img src="{templatedir}/images/icons/web-app/48/subdomainftp.png" width="48" height="48">Aggiungi Sottodominio con FTP
					</a></li>
					<li><a href="net2ftp" title="Net2FTP/Gestore File" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">Gestore File
					</a></li>
				</ul>
				
				<h3>Email</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallemailusers" title="Lista Tuttli gli Indirizzi Email">
						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">Lista Tuttli gli Indirizzi Email
					</a></li>
					<li><a href="?op=addemailuser" title="Aggiungi un Indirizzo Email">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Aggiungi un Indirizzo Email
					</a></li>
					<li><a href="?op=bulkaddemail" title="Aggiungi Gruppo di Indirizzi Email">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Aggiungi Gruppo di Indirizzi Email
					</a></li>
					<li><a href="?op=emailforwardings" title="Lista Inoltri Email">
						<img src="{templatedir}/images/icons/web-app/48/email_forward.png" width="48" height="48">Lista Inoltri Email
					</a></li>
					<li><a href="?op=addemailforwarding" title="Aggiungi Inoltro Email">
						<img src="{templatedir}/images/icons/web-app/48/emailforward_add.png" width="48" height="48">Aggiungi Inoltro Email
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="webmail2" title="Webmail/Posta Squirrel" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Posta Squirrel
					</a></li>
					<li><a href="webmail" title="Webmail/Posta Roundcube" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">Posta RoundCube
					</a></li>
				</ul>
				
				
				<h3>MySQL</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=domainop&amp;action=listdb" title="Lista Databases MySQL">
						<img src="{templatedir}/images/icons/web-app/48/mysql.gif" width="48" height="48">Lista Databases MySQL
					</a></li>
					<li><a href="?op=addmysqldb" title="Aggiungi Database ed Utente MySQL">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Aggiungi Database ed Utente MySQL
					</a></li>
					<li><a href="?op=addmysqldbtouser" title="Aggiungi Database MySQL ad Utente Esistente">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Aggiungi Database MySQL ad Utente Esistente
					</a></li>
					<li><a href="?op=dbadduser" title="Aggiungi Utente MySQL a Database Esistente">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Aggiungi Utente MySQL a Database Esistente
					</a></li>
					<li><a href="/phpmyadmin" target="_blank" title="PHPmyAdmin">
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">PHPmyAdmin
					</a></li>
					<li><a href="/ehcp/chive" target="_blank" title="Chive">
						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">Chive
					</a></li>
				</ul>
				
				<h3>Avanzati</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=editdomain">
						<img src="{templatedir}/images/icons/web-app/48/active-deactive.png" width="48" height="48">Attiva / Disattiva Dominio
					</a></li>
					<li><a href="?op=transferdomain">
						<img src="{templatedir}/images/icons/web-app/48/transfer.png" width="48" height="48">Trasferisci Dominio
					</a></li>
					<li><a href="?op=backups">
						<img src="{templatedir}/images/icons/web-app/48/Save.png" width="48" height="48">Genera / Lista Salvataggio Dominio
					</a></li>
					<li><a href="?op=addredirect">
						<img src="{templatedir}/images/icons/web-app/48/domain_redirect.png" width="48" height="48">Reindirizza ad un'Altro URL
					</a></li>
					<li><a href="?op=domainsettings">
						<img src="{templatedir}/images/icons/web-app/48/settings.png" width="48" height="48">Modifica le Impostazioni
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="?op=deletedomain">
						<img src="{templatedir}/images/icons/web-app/48/Delete.png" width="48" height="48">Cancella Dominio
					</a></li>
					<li><a href="http://www.{selecteddomain}/webstats/index.html" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/webstats.png" width="48" height="48">Statistiche Web
					</a></li>
					<li><a href="?op=addscript">
						<img src="{templatedir}/images/icons/web-app/48/install.gif" width="48" height="48">Script di Installazione
					</a></li>
					<li><a href="?op=changemypass">
						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">Cambia Parola d'Ordine
					</a></li>
				</ul>
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Help</a>
			<a href="#" class="button">About</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Inizio pagina</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->
