<!DOCTYPE html>
<html lang="en">
<head>


	<meta charset="utf-8">
	
	
	<!-- Global stylesheets -->
	<link href="{templatedir}/css/reset.css" rel="stylesheet" type="text/css">
	<link href="{templatedir}/css/common.css" rel="stylesheet" type="text/css">
	<link href="{templatedir}/css/form.css" rel="stylesheet" type="text/css">
	<link href="{templatedir}/css/standard.css" rel="stylesheet" type="text/css">
	
	<!-- Comment/uncomment one of these files to toggle between fixed and fluid layout -->
	<!--<link href="{templatedir}/css/960.gs.css" rel="stylesheet" type="text/css">-->
	<link href="{templatedir}/css/960.gs.fluid.css" rel="stylesheet" type="text/css">
	
	<!-- Custom styles -->
	<link href="{templatedir}/css/simple-lists.css" rel="stylesheet" type="text/css">
	<link href="{templatedir}/css/block-lists.css" rel="stylesheet" type="text/css">
	
	
	
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{templatedir}/favicon.ico">
	<link rel="icon" type="image/png" href="{templatedir}/favicon-large.png">
	
	<!-- Generic libs -->
	<script type="text/javascript" src="{templatedir}/js/html5.js"></script>				<!-- this has to be loaded before anything else -->
	<script type="text/javascript" src="{templatedir}/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="{templatedir}/js/old-browsers.js"></script>		<!-- remove if you do not need older browsers detection -->
	
	<!-- Template libs -->
	<script type="text/javascript" src="{templatedir}/js/jquery.accessibleList.js"></script>
	<script type="text/javascript" src="{templatedir}/js/searchField.js"></script>
	<script type="text/javascript" src="{templatedir}/js/common.js"></script>
	<script type="text/javascript" src="{templatedir}/js/standard.js"></script>
	<!--[if lte IE 8]><script type="text/javascript" src="{templatedir}/js/standard.ie.js"></script><![endif]-->
	<script type="text/javascript" src="{templatedir}/js/jquery.tip.js"></script>
	<script type="text/javascript" src="{templatedir}/js/jquery.hashchange.js"></script>
	<script type="text/javascript" src="{templatedir}/js/jquery.contextMenu.js"></script>
	
	<!-- Custom styles lib -->
	<script type="text/javascript" src="{templatedir}/js/list.js"></script>
	
</head>

<body>
<!-- The template uses conditional comments to add wrappers div for ie8 and ie7 - just add .ie or .ie7 prefix to your css selectors when needed -->
<!--[if lt IE 9]><div class="ie"><![endif]-->
<!--[if lt IE 8]><div class="ie7"><![endif]-->
	
	<!-- Header -->
	
	<!-- Server status -->
	<header><div class="container_12">
		
		<p id="skin-name"><small>Sky Skin EHCP<br>di 7SKYHOST</small> <strong>1.0</strong></p>
		<div class="server-info">Server Web: <strong>{webserver}</strong></div>
		<div class="server-info"><a href="z7/phpinfo.php" target="_blank">Informazioni PHP</a></div>
		
	</div></header>
	<!-- End server status -->

	<!-- Main nav -->
	<nav id="main-nav">
		
		<ul class="container_12">
			<li class="home current"><a href="index.php" title="Home">Inizio</a>
				<ul>
					<li><a href="index.php" title="Pannello di Controllo">Pannello</a></li>
					<li><a href="index.php?op=otheroperations" title="Altre Operazioni">Altre Operazioni</a></li>
				</ul>
			
			</li>
	</nav>
	<!-- End main nav -->
	
	<!-- Sub nav -->
	<div id="sub-nav"><div class="container_12">
		
		<!-- 
		<a href="#" title="Help" class="nav-button"><b>Help</b></a> 
		-->
	<!--
		<form method=post action="index.php?op=listdomains">
		<div id="inputMenuSearch">
                <input type=text name=aranan value='' id="search_txt">
                <input type=submit value='' id="submitMenuSearch">
		</div>
		
		<select id="select_search" name='arananalan' >
                    <option value='domainname' >Dominio</option>
                    <option value='panelusername' >Utente</option>
                    <option value='reseller' >Rivenditore</option>
                </select> 
        </form>
	-->
	</div></div>
	<!-- End sub nav -->
	
	<!-- Status bar -->
	<div id="status-bar"><div class="container_12">
		<ul id="status-infos">
			<li class="spaced">Collegato come: <strong>{username}</strong></li>
			<li><a href="?op=logout" class="button red" title="Esci da EHCP"><span class="smaller">ESCI</span></a></li>
		</ul>
		<div align="left">Versione EHCP: <strong>{ehcpversion}</strong></div>

	
	
	</div></div>
	<!-- End status bar -->
	
	<div id="header-shadow"></div>
	<!-- End header -->
	
	<!-- Always visible control bar -->
	<div id="control-bar" class="grey-bg clearfix"><div class="container_12">
	
		<div class="float-left">
			{selecteddomain}
		</div>
		
			
	</div></div> 
	<!-- End control bar -->
	
	<section class="grid_12">
			<div class="block-border"><div class="block-content">
				<h1>EHCP</h1>
		{ickisim}
      </div>
	  </div>
	</section>
	
</body>
</html>
